@import "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/banner-my-account.jpg);
}
main > div {
  color: white;
  background-color: $colour-primary;
}

p:not(biggive-container-card *) {
  // biggive-container-cards have white backgrounds so white links in there would be invisible.
  a:link, a:visited, a:hover {
    color: white;
  }
}

.mandate {
  text-align: right;
}

div.donation-container {
  display: flex;
  justify-content: left;
  column-gap: 10px;
  flex-wrap: wrap;
}

div.donation {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  *:first-child {
    margin-top: 0;
    flex-grow: 1;
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin-top: auto;
  }
  .reference {
    word-wrap: break-word;
  }
}
