@import "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/banner-my-account.jpg);
}
main > div {
  color: white;
  background-color: $colour-primary;
}

p:not(biggive-container-card *) {
  // biggive-container-cards have white backgrounds so white links in there would be invisible.
  a:link, a:visited, a:hover {
    color: white;
  }
}

.mandate {
  text-align: right;
}

.badge {
  // styling based on .campaign-type at
  // https://github.com/thebiggive/components/blob/73c40589240c513d6bfe9b151c74075537adc708/src/components/biggive-campaign-card/biggive-campaign-card.scss#L40
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  color: $colour-black;
  background-color: $colour-highlight; // green
  width: fit-content;
  margin: auto;
  padding-top: 20px; // 15px of this is to match the padding of a parent element from the container-card component,
                     // without it the badge would be half invisible above the top of the card
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
}

div.donation-container {
  display: flex;
  justify-content: left;
  column-gap: 10px;
  flex-wrap: wrap;
}

div.donation {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  *:first-child {
    margin-top: 0;
    flex-grow: 1;
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin-top: auto;
  }
  .reference {
    word-wrap: break-word;
  }
}
