:host {
  display: contents;
}


.option {
  @include standard-font();
  padding: 2px $spacer-2;
  &:hover {
    background-color: $colour-primary-blue;
    color: $colour-white;
    cursor: pointer;
  }
}

