<main>
  <biggive-hero-image
    slug="Explore Campaigns"
    slug-colour="primary"
    main-title="The leading online match funding platform"
    main-image="https://tbg-staging-component-library.s3.eu-west-1.amazonaws.com/images/homepage-banner.jpg"
    colour-scheme="primary"
  ></biggive-hero-image>

  <biggive-page-section class="b-container">
    <biggive-campaign-card-filter-grid>
      <biggive-grid slot="campaign-grid" column-count="3">
        <div *ngFor="let campaign of campaigns">
          <div
            infiniteScroll
            (scrolled)="onScroll()"
            [infiniteScrollDistance]="20"
            [scrollWindow]="true"
            [alwaysCallback]="true"
          ></div>
          <biggive-campaign-card
            [banner]="campaign.imageUri"
            [campaignType]="campaign.isMatched ? 'Match Funded' : 'Unmatched'" 
            [campaignTitle]="campaign.title"
            [currencyCode]="campaign.currencyCode"
            [donateButtonUrl]="'/donate/' + campaign.id"
            [moreInfoButtonUrl]="'/campaign/' + campaign.id"
            [organisationName]="campaign.charity.name"
            primary-figure-label="Match Funds Remaining" 
            [primaryFigureAmount]="campaign.matchFundsRemaining" 
            [progressBarCounter]="getPercentageRaised(campaign)"
            secondary-figure-label="Total Funds Raised" 
            [secondaryFigureAmount]="campaign.amountRaised">
          </biggive-campaign-card>
        </div>
      </biggive-grid>
    </biggive-campaign-card-filter-grid>
    <mat-spinner *ngIf="loading" color="primary" diameter="30"></mat-spinner>

    <div *ngIf="campaigns.length === 0 && !loading">
      <p class="error" aria-live="polite">
        We can't find any campaigns matching this search but there are lots more to choose from.
        <a tabindex="0" (click)="clear()">View all campaigns here</a>.
      </p>
    </div>
  </biggive-page-section>
</main>
