@use '@angular/material' as mat;
@use '../../abstract';

.error {
  color: mat.m2-get-color-from-palette(abstract.$donate-warn);
  max-width: abstract.$full-copy-max-width;
  text-align: center;
  margin: 1rem auto;
}
