<main>
  @if ((tickerMainMessage || tickerItems.length > 0) && ! metaCampaign?.isRegularGiving) {
    <biggive-totalizer
      primary-colour="primary"
      primary-text-colour="white"
      secondary-colour="secondary"
      secondary-text-colour="black"
      include-gift-aid="true"
      [mainMessage]="tickerMainMessage"
    >
      <div slot="ticker-items">
        @for (tickerItem of tickerItems; track tickerItem.label) {
          <biggive-totalizer-ticker-item
            [figure]="tickerItem.figure"
            [label]="tickerItem.label">
          </biggive-totalizer-ticker-item>
        }
      </div>
    </biggive-totalizer>
  }

  @if (metaCampaign) {
    <biggive-hero-image
      [logo]="fund?.logoUri"
      [logoAltText]="fund?.name"
      [mainTitle]="title"
      [mainImage]="metaCampaign.bannerUri | optimisedImage:2000 | async"
      [mainImageShape]="campaignIdsWithRectangleImage.includes(metaCampaign.id) ? 'rectangle' : 'triangle'"
      [teaser]="fund && fund.description ? fund.description : metaCampaign.summary"
      [colourScheme]="campaignIdsWithRectangleImage.includes(metaCampaign.id) ? 'white' : 'primary'"
      main-image-align-horizontal="right"
    ></biggive-hero-image>
  } @else {
    <biggive-hero-image
      slug="Explore Campaigns"
      slug-colour="primary"
      main-title="The leading online match funding platform"
      main-image="/assets/images/banner-explore.jpg"
      colour-scheme="primary"
      main-image-align-horizontal="right"
      main-image-align-vertical="center"
    ></biggive-hero-image>
  }
  <biggive-page-section>

    <div
      style="position: absolute; margin-top: -6em;"
      id="SCROLL_POSITION_WHEN_PARAMS_CHANGE"
    ></div>

    <biggive-campaign-card-filter-grid
      [categoryOptions]="categoryOptions"
      [beneficiaryOptions]="beneficiaryOptions"
      [locationOptions]="locationOptions"
      [selectedSortByOption]="searchService.selectedSortLabel"
      [searchText]="searchService.selected.term"
      [selectedFilterBeneficiary]="searchService.selected.beneficiary ? searchService.selected.beneficiary : null"
      [selectedFilterCategory]="searchService.selected.category ? searchService.selected.category : null"
      [selectedFilterLocation]="searchService.selected.country ? searchService.selected.country : null">

      @if (individualCampaigns) {
        <biggive-grid
          slot="campaign-grid"
          column-count="3"
          infiniteScroll
          [infiniteScrollThrottle]="500"
          (scrolled)="onScroll()"
          [scrollWindow]="true"
          >
          @if (this.metaCampaign?.isRegularGiving) {
            <!-- We assume that we show regular giving campaigns only iff we are looking at a regular giving
            metacampaign page -->
            @for (campaign of individualCampaigns; track campaign.id) {
              <div>
                <biggive-campaign-card
                  [banner]="campaign.imageUri | optimisedImage:830 | async"
                  [campaignType]="campaign.isMatched ? 'Match Funded' : null"
                  [campaignTitle]="campaign.title"
                  [donateButtonUrl]="'/regular-giving/' + campaign.id"
                  [donateButtonLabel]="'Donate monthly'"
                  [moreInfoButtonUrl]="'/charity/' + campaign.charity.id"
                  [organisationName]="campaign.charity.name"
                  [progressBarCounter]="getPercentageRaised(campaign)"
                  primary-figure-label="Total Funds Raised"
                  [primaryFigureAmount]="this.metaCampaign?.usesSharedFunds ? null : (campaign.amountRaised | currency: campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo)"
                  [isFutureCampaign]="isInFuture(campaign)"
                  [isPastCampaign]="isInPast(campaign)"
                  [datetime]="getRelevantDateAsStr(campaign)">
                  id="campaign-{{campaign.id}}"
                </biggive-campaign-card>
              </div>
            }
          } @else {
            @for (campaign of individualCampaigns; track campaign.id) {
              <div>
                <biggive-campaign-card
                  [banner]="campaign.imageUri | optimisedImage:830 | async"
                  [campaignType]="campaign.isMatched ? 'Match Funded' : null"
                  [campaignTitle]="campaign.title"
                  [donateButtonUrl]="('/donate/' + campaign.id) "
                  [donateButtonLabel]="'Donate now'"
                  [moreInfoButtonUrl]="'/campaign/' + campaign.id"
                  [organisationName]="campaign.charity.name"
                  primary-figure-label="Match Funds Remaining"
                  [primaryFigureAmount]="this.metaCampaign?.usesSharedFunds ? null : (campaign.matchFundsRemaining | currency: campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo)"
                  [progressBarCounter]="getPercentageRaised(campaign)"
                  secondary-figure-label="Total Funds Raised"
                  [secondaryFigureAmount]="this.metaCampaign?.usesSharedFunds ? null : (campaign.amountRaised | currency: campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo)"
                  [isFutureCampaign]="isInFuture(campaign)"
                  [isPastCampaign]="isInPast(campaign)"
                  [datetime]="getRelevantDateAsStr(campaign)">
                  id="campaign-{{campaign.id}}"
                </biggive-campaign-card>
              </div>
            }
          }
        </biggive-grid>
      }
    </biggive-campaign-card-filter-grid>

    @if (loading) {
      <mat-spinner color="primary" diameter="30" aria-label="Loading campaigns"></mat-spinner>
    }

    @if (individualCampaigns.length === 0 && !loading && this.searched) {
      <div>
        <p class="error" aria-live="polite">
          We can't find any campaigns matching this search but there are lots more to choose from.
          <a tabindex="0" (click)="clear()">View all campaigns here</a>.
        </p>
      </div>
    }

    @if (individualCampaigns.length <=6 && ! this.searched && !loading && highlightCards && highlightCards.length > 0) {
      <p>Can't find any campaigns to support? Find out what's next at Big Give</p>
        <app-highlight-cards
          [highlightCards]="highlightCards">
        </app-highlight-cards>
    }

    @if (filterError) {
      <div tabindex="0">
        <!--  We want this error to happen as part of route resolving.    -->
        <p class="error" aria-live="assertive">
          Could not load the campaign. You might have followed a broken link or lost connectivity.<br />
          Not to worry, you can
          <a routerLink="/">browse all active campaigns here</a>!
        </p>
      </div>
    }

  </biggive-page-section>

</main>
