<main>
  <div class="explore-hero">
    <div class="b-container-sm">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
        <div class="explore-hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
          <div fxLayout="column">
            <h1 class="b-rh-1 b-bold c-explore-hero__heading">Explore campaigns</h1>
          </div>
        </div>
        <div class="explore-hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
          <app-campaign-search-form
            [reset]="resetSubject.asObservable()"
            [selected]="selected"
            (search)="search($event)"
          ></app-campaign-search-form>
        </div>
      </div>
    </div>
  </div>

  <div class="b-container" *ngIf="campaigns">
    <app-filters
      [defaultNonRelevanceSort]="defaultNonRelevanceSort"
      [showClearFilters]="showClearFilters()"
      [selected]="selected"
      [reset]="resetSubject.asObservable()"
      (filterApplied)="onFilterApplied($event)"
      (sortApplied)="onSortApplied($event)"
      (clearFiltersApplied)="onClearFiltersApplied()"
    ></app-filters>

    <div *ngIf="campaigns.length === 0 && !loading">
      <p class="error" aria-live="polite">
        We can't find any campaigns matching this search but there are lots more to choose from.
        <a tabindex="0" (click)="onClearFiltersApplied()">View all campaigns here</a>.
      </p>
    </div>

    <div class="c-grid">
      <div *ngFor="let campaign of campaigns">
        <div
          infiniteScroll
          (scrolled)="onScroll()"
          [infiniteScrollDistance]="20"
          [scrollWindow]="true"
          [alwaysCallback]="true"
        ></div>
        <app-campaign-card [campaign]="campaign"></app-campaign-card>
      </div>
    </div>

    <mat-spinner *ngIf="loading" color="primary" diameter="30"></mat-spinner>
  </div>
</main>
