// Should only be used for Sass variables, mixins and functions; not contain any CSS.
// https://github.com/ionic-team/stencil-sass#inject-globals-sass-paths

// Text
@mixin standard-font() {
  font-family: 'Euclid Triangle', sans-serif;
  font-size: 17px;
  line-height: 24px;
}

@mixin font-size-xx-small() {
  font-size: 9px;
  line-height: 11px;
}

@mixin font-size-x-small() {
  font-size: 11px;
  line-height: 14px;
}

@mixin font-size-small() {
  font-size: 13px;
  line-height: 17px;
}

@mixin font-size-medium() {
  font-size: 17px;
  line-height: 24px;
}

@mixin font-size-large() {
  font-size: 24px;
  line-height: 30px;
}

@mixin heading-1() {
  font-size: 47px;
  line-height: 60px;
  font-weight: bold;
}

@mixin heading-2() {
  font-size: 38px;
  line-height: 45px;
  font-weight: bold;
}

@mixin heading-3() {
  font-size: 25px;
  line-height: 32px;
  font-weight: bold;
}

@mixin heading-4() {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

@mixin heading-5() {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

@mixin subtitle() {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}


// Layout + spacing

@mixin absolute-fill() {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin section-container() {
  max-width: $screen-desktop-max;
  padding-left: $spacer-3;
  padding-right: $spacer-3;
  margin-left: auto;
  margin-right: auto;
}


@mixin flex-container-row() {
  display: flex;
  justify-content: space-between;
}

@mixin flex-container-column() {
  display: flex;
  flex-direction: column;
}

// Features
@mixin icon() {
  height: 1rem;
  width: 2rem;
  vertical-align: -.125rem;
}

@mixin icon-large() {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  transition: all ease-in-out 0.5s;
  display: inline-block;
  &.colour-scheme-primary {background-color: $colour-primary; svg {fill: $colour-white;}}
  &.colour-scheme-secondary {background-color: $colour-secondary; svg {fill: $colour-black;}}
  &.colour-scheme-tertiary {background-color: $colour-tertiary; svg {fill: $colour-black;}}
  &.colour-scheme-white {background-color: $colour-white; svg {fill: $colour-black;}}
  &.colour-scheme-black {background-color: $colour-black; svg {fill: $colour-white;}}
  &:hover {
    background-color: $colour-white;
    svg {
      fill: $colour-black;
    }
  }
  a {
    display: block;
    position: relative;
    padding: $spacer-1;
    box-sizing: border-box;
    height: 100%;
    svg {
      width: 100%;
      height: 100%;
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }
}

@mixin icon-medium() {
  @include icon-large();

  width: 30px;
  height: 30px;
}

@mixin progress-bar {
  display: flex;
  .slider {
    margin: auto 15px auto 0;
    position: relative;
    flex-grow: 1;
    &:before {
      content: '';
      @include absolute-fill();
      background-color: $colour-grey-light;
      border-radius: 4px;
    }
    .progress {
      position: relative;
      border-radius: 4px;
      background-color: $colour-black;
      height: 8px;
    }
  }
  .counter {
    font-weight: 700;
    color: $colour-black;
    font-size: 14px;
    line-height: 18px;
  }
}

@mixin progress-bar-primary {
  .slider {
    .progress {
      background-color: $colour-primary;
    }
  }
  .counter {
    color: $colour-primary;
  }
}

@mixin progress-bar-secondary {
  .slider {
    .progress {
      background-color: $colour-secondary;
    }
  }
  .counter {
    color: $colour-secondary;
  }
}

@mixin input-text {
  @include standard-font();
  color: $colour-black;
  padding: $spacer-1 $spacer-2;
  box-sizing: border-box;
  width: 100%;
  &:focus {
    outline: 0;
  }
  &:placeholder {
    color: $colour-grey-dark;
  }
}

@mixin dropdown {
  @include font-size-medium();
  padding: 1px;
  position: relative;
  background-color: $colour-primary;
  @include corner-clip-small-top-right();
  span.placeholder {
    background-color: $colour-white;
    color: $colour-primary;
    display: block;
    position: relative;
    padding: 10px 80px 10px 10px;
    cursor: pointer;
    clip-path:
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      calc(100% - 14px) 0%,    /* top right */
      100% 14px,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      0 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 20px;
      top: 18px;
      width: 10px;
      height: 10px;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOSA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS4yMzcxNiA2LjYyNDkzQzQuOTAzMjMgNy4xMjUwMiA0LjA5NyA3LjEyNTAyIDMuNzYzMDggNi42MjQ5M0wwLjEyMzg2OCAxLjE3MDYzQy0wLjIxOTk0IDAuNjU1NDU5IDAuMTkyNjMgMS44MzcxZS0wNyAwLjg2MDkwOCAyLjQyMTMyZS0wN0w4LjEzOTMzIDguNzg0MzJlLTA3QzguODA3MTggOS4zNjgxN2UtMDcgOS4yMTk3NSAwLjY1NTQ1OSA4Ljg3NjM3IDEuMTcwNjNMNS4yMzcxNiA2LjYyNDkzWiIgZmlsbD0iIzJDMDg5QiIvPgo8L3N2Zz4K');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

@mixin button {
  @include font-size-medium();
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid $colour-black;
  background-color: $colour-black;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.22));
  color: $colour-white;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  &:hover {
    background-color: $colour-white;
    color: $colour-black;
  }
}



@mixin button-small {
  @include font-size-small();
  padding: 5px 15px;
}

@mixin button-rounded {
  border-radius: 27.5px;
  &.size-small {
    border-radius: 20px;
  }
}

@mixin button-clear-primary {
  color: $colour-primary;
  background-color: transparent;
  text-decoration: underline;
  box-shadow: none;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  &:hover {
    text-decoration: none;
    background-color: transparent;
  }
}

@mixin button-clear-secondary {
  color: $colour-secondary;
  background-color: transparent;
  text-decoration: underline;
  box-shadow: none;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  &:hover {
    text-decoration: none;
    background-color: transparent;
  }
}

@mixin button-clear-tertiary {
  color: $colour-tertiary;
  background-color: transparent;
  text-decoration: underline;
  box-shadow: none;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  &:hover {
    text-decoration: none;
    background-color: transparent;
  }
}

@mixin button-clear-white {
  color: $colour-white;
  background-color: transparent;
  text-decoration: underline;
  box-shadow: none;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  &:hover {
    color: $colour-white;
    text-decoration: none;
    background-color: transparent;
  }
}

@mixin button-primary {
  color: $colour-white;
  background-color: $colour-primary;
  border-color: $colour-primary;
  &:hover {
    color: $colour-primary;
    background-color: $colour-white;
  }
}

@mixin button-white {
  color: $colour-primary;
  background-color: $colour-white;
  border-color: $colour-white;
  &:hover {
    color: $colour-white;
    background-color: $colour-primary;
  }
}

@mixin button-black {
  color: $colour-white;
  background-color: $colour-black;
  border-color: $colour-black;
  &:hover {
    color: $colour-black;
    background-color: $colour-white;
  }
}

@mixin button-secondary {
  color: $colour-primary;
  background-color: $colour-secondary;
  border-color: $colour-secondary;
  &:hover {
    background-color: $colour-white;
  }
}

@mixin button-tertiary {
  color: $colour-white;
  background-color: $colour-tertiary;
  border-color: $colour-tertiary;
  &:hover {
    background-color: $colour-white;
  }
}

@mixin lower-shadow() {
  filter: drop-shadow(-1px 3px 12px rgba(0,0,0,0.25));
}

@mixin all-round-shadow() {
  box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
}

// Shapes
@mixin triangle-text-badge($text-size, $width, $height) {
  margin-left: 15px;
  width: 0;
  height: 0;
  border-style: inset;
  border-width: $height $width 0 $width;
  border-color: $colour-secondary transparent transparent transparent;
  float: left;
  transform: rotate(360deg);

  span {
    display: block;
    text-align: center;
    top: calc(0px - $height);
    left: -25px;
    position: relative;
    width: $width;
    height: $width;
    margin: 0;
    color: $colour-primary;
    font-size: $text-size;
  }
}

@mixin corner-clip-bottom-left() {
  clip-path:
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      10% 100%,   /* bottom left */
      0 90%      /* bottom left */
    );
}


@mixin corner-clip-medium-bottom-left-top-right() {
  clip-path:
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      calc(100% - 50px) 0%,    /* top right */
      100% 50px,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      50px 100%,   /* bottom left */
      0 calc(100% - 50px)      /* bottom left */
    );
}

@mixin corner-clip-medium-bottom-left() {
  clip-path:
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      50px 100%,   /* bottom left */
      0 calc(100% - 50px)      /* bottom left */
    );
}


@mixin corner-clip-small-bottom-left() {
  clip-path:
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      15px 100%,   /* bottom left */
      0 calc(100% - 15px)      /* bottom left */
    );
}


@mixin corner-clip-small-top-right() {
  clip-path:
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      calc(100% - 15px) 0%,    /* top right */
      100% 15px,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      0 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
}


@mixin popup() {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacer-3;
  background-color: rgba(0,0,0,0.75);
  transition: all 0.5s ease-in-out;
  .sleeve {
    position: relative;
    max-width: 600px;
    padding: $spacer-4;
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: $colour-white;
    text-align: left;
  }
  .header {
    .close {
      width: 25px;
      height: 25px;
      position: absolute;
      top: $spacer-2;
      right: $spacer-2;
      background-color: $colour-primary;
      background-image: url('assets/images/cross.svg?1');
      background-size: 50% 50%;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}