// Should only be used for Sass variables, mixins and functions; not contain any CSS.
// https://github.com/ionic-team/stencil-sass#inject-globals-sass-paths
$colour-primary: #2C089B;
$colour-primary-contrast: #FFFFFF;
$colour-secondary: #2AF135;
