@use '@angular/material' as mat;
@use '../../abstract';

.error {
    margin-bottom: 20px;
    color: mat.m2-get-color-from-palette(abstract.$donate-warn);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

form {
    display: flex;
    flex-direction: column;
}
