<div class="b-container">
    <h1>Reset your Password</h1>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="passwordForm">

            <p class="b-rt-0">Please enter your new password (min 10 characters)</p>
        
            <mat-form-field class="b-w-100" color="primary">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            
          <!-- <p *ngIf="loginError" class="error" aria-live="assertive">
            Login error: {{ loginError }}
          </p> -->
        </form>
      </mat-dialog-content>
</div>