<div class="b-container">
    <biggive-heading
      space-above=0
      space-below=3
      colour="black"
      html-element="h1"
      size="1"
      align="left"
      text="Reset your Password"
    ></biggive-heading>
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="passwordForm">
        <p class="b-rt-0">Please enter your new password (min 10 characters)</p>
        <mat-form-field color="primary">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field color="primary">
            <mat-label>Re-enter your password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" (focus)="onPasswordConfirmationFocus()">
        </mat-form-field>
        <div *ngIf="confirmPasswordField?.errors?.notSame" class="error">Passwords must be the same!</div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button
          id="reset-modal-submit"
          mat-raised-button
          [disabled]="!passwordForm.valid || savingNewPassword"
          (click)="saveNewPassword()"
          color="primary"
        >Save new password</button>
    </mat-dialog-actions>
</div>