<main>
  <biggive-heading
    space-above="0"
    space-below="3"
    colour="black"
    html-element="h1"
    size="1"
    align="left"
    text="Reset your Password"
  ></biggive-heading>

  @if (tokenValid === undefined) {
    <mat-spinner aria-label="Loading" color="primary" diameter="15"></mat-spinner>
  }

  @if (saveSuccessful) {
    <p>
      You have reset your password. Please click <a href="/">here</a> for the homepage, or
      <a href="/transfer-funds">here</a> to transfer donation funds to your account.
    </p>
  }

  <!-- Note: check explicitly for `saveSuccessful === false` here, not for `!saveSuccessful`,
  because `saveSuccessful` has can be undefined, false, or true, all with a unique meaning. -->
  @if (saveSuccessful === false && !errorMessageHtml) {
    <p class="error">
      Sorry, there was an error saving your new password. Your link may have expired. Please
      <a href="https://biggive.org/faqs/" target="_blank">contact us</a> if this message persists.
    </p>
  }

  @if (saveSuccessful === false && errorMessageHtml) {
    <div>
      <!-- Setting HTML like this could be dangerous, but we trust the Identity server that supplied this HTML code to have given us a good error message -->
      <p class="error" [innerHtml]="errorMessageHtml"></p>
    </div>
  }

  @if (tokenValid === false) {
    <div class="error">
      Sorry, your link may have expired. Please <a href="https://biggive.org/faqs/" target="_blank">contact us</a> if
      this message persists.
    </div>
  }

  <!-- Note: check explicitly for `undefined` here, not for `!saveSuccessful`, because
  `saveSuccessful` has can be undefined, false, or true, all with a unique meaning. -->
  @if ((saveSuccessful === undefined || errorMessageHtml) && !savingNewPassword && tokenValid) {
    <div>
      <form [formGroup]="passwordForm">
        <p class="b-rt-0">Please enter your new password (min {{ minPasswordLength }} characters)</p>
        <mat-form-field color="primary">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field color="primary">
          <mat-label>Re-enter your password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" (focus)="onPasswordConfirmationFocus()" />
        </mat-form-field>
        @if (confirmPasswordField && confirmPasswordField.errors && confirmPasswordField.errors.notSame) {
          <div class="error">Passwords must be the same!</div>
        }
      </form>
      <button
        id="reset-modal-submit"
        mat-raised-button
        [disabled]="!passwordForm.valid || savingNewPassword"
        (click)="saveNewPassword()"
        color="primary"
      >
        Save new password
      </button>
    </div>
  }

  <!-- If processing, show spinner -->
  @if (saveSuccessful === undefined && savingNewPassword) {
    <div>
      <mat-spinner [diameter]="40" aria-label="Loading your details"></mat-spinner>
    </div>
  }
</main>
