@import '../../styles';

.footer {
  background-color: #333333;
  color: white;
  padding: 5rem;
  @media screen and (min-width: 600px) {
    padding-bottom: 2rem;
  }
}

// .logo__wrap {
//   @media screen and (min-width: 600px) {
//     text-align: center;
//   }
// }

h3 {
  margin-bottom: 0.5rem;
  @media screen and (min-width: 600px) {
    margin-top: 0;
  }
}

ul {
  padding: 0;
  margin-top: 0;
}

li {
  display: block;
}

.nav-link {
  padding: 0;
  min-width: auto;
}

.teal-nav__wrap {
  text-transform: uppercase;
  color: #6ADDC0;
  .mat-button {
    font-size: 16px;
  }
}

.nav-links__wrap {
  margin-top: 2rem;
  @media screen and (min-width: 600px) {
    margin-top: 0;
  //   text-align: center;
  }
}

// .text-align-left {
//   @media screen and (min-width: 600px) {
//     text-align: left;
//   }
// }

.reed-logo__wrap {
  margin-top: 2rem;
}

.fundraising-regulator-logo__wrap {
  margin-top: 3rem;
}

.note-to-self {
  display: none;
  @media screen and (min-width: 576px) and (max-width: 991px) {
    display: block;
  }
}