<footer class="footer">
  <div class="footer-row">
    <div class="logo__wrap">
      <img class="logo" src="/assets/logo-white.png">
    </div>
    <div class="nav-links nav-links__about">
      <h3>About</h3>
      <ul>
        <li><a mat-button class="nav-link" href="#">The Big Give</a></li>
        <li><a mat-button class="nav-link" href="#">Our story</a></li>
        <li><a mat-button class="nav-link" href="#">Team</a></li>
        <li><a mat-button class="nav-link" href="#">Press</a></li>
        <li><a mat-button class="nav-link" href="#">Our fees</a></li>
        <li><a mat-button class="nav-link" href="#">Privacy policy</a></li>
        <li><a mat-button class="nav-link" href="#">Cookie policy</a></li>
        <li><a mat-button class="nav-link" href="#">Terms and conditions</a></li>
      </ul>
    </div>
    <div class="nav-links__row">
      <div class="nav-links nav-links__how-we-can-help">
        <h3>How we can help</h3>
        <ul>
          <li><a mat-button class="nav-link" href="#">Charities</a></li>
          <li><a mat-button class="nav-link" href="#">Philanthropists</a></li>
          <li><a mat-button class="nav-link" href="#">Individuals</a></li>
          <li><a mat-button class="nav-link" href="#">Christmas Challenge</a></li>
        </ul>
      </div>
      <div class="nav-links nav-links__teal">
        <ul class="teal-nav">
          <li><a mat-button class="nav-link" href="#">Explore campaigns</a></li>
          <li><a mat-button class="nav-link" href="#">Contact us</a></li>
          <li><a mat-button class="nav-link" href="#">Login</a></li>
          <li><a mat-button class="nav-link" href="#">Register</a></li>
        </ul>
      </div>
    </div>
    <div class="sponsors">
      <div class="reed-logo__wrap">
        <p class="reed-logo__text">Supported by</p>
        <img class="logo" src="/assets/reed-logo.png">
      </div>
      <div class="fundraising-regulator-logo__wrap">
        <img class="logo" src="/assets/fundraising-regulator-logo.png">
      </div>
      <div class="copyright-text__wrap">
        <p class="copyright-text"><small>&copy; 2007 &ndash; {{ now | date: 'yyyy' }} The Big Give Trust (1136547</small>)</p>
      </div>
    </div>
  </div>
</footer>
