<biggive-footer>
  <div slot="nav-primary-title">Match Funding Opportunities</div>
  <ul slot="nav-primary">
    <li><a href="/explore">Explore Campaigns</a></li>
    <li><a href="https://www.thebiggive.org.uk/s/charities">For Charities</a></li>
    <li><a href="https://www.thebiggive.org.uk/s/philanthropists">For Funders</a></li>
    <li><a href="https://www.thebiggive.org.uk/s/run-your-own-campaign">Match Funding</a></li>
    <li><a href="https://www.thebiggive.org.uk/s/about">About Us</a></li>
    <li><a href="https://www.thebiggive.org.uk/s/press">Press</a></li>
  </ul>
  <div slot="nav-secondary-title">Resources</div>
  <ul slot="nav-secondary">
    <li><a href="https://www.thebiggive.org.uk/s/contact-us">Contact us</a></li>
    <li><a href="https://www.thebiggive.org.uk/charities/s/login/">Charity login</a></li>
  </ul>
  <div slot="nav-tertiary-title">Legal</div>
  <ul slot="nav-tertiary">
    <li><a href="https://www.thebiggive.org.uk/s/our-fees">Our Fees</a></li>
    <li><a href="https://www.thebiggive.org.uk/s/terms-and-conditions">Terms and Conditions</a></li>
  </ul>
</biggive-footer>