@import '../../abstract';

.footer {
  background-color: $colour-black;
  color: $colour-black-contrast;
  padding: 2rem;
  margin-top: 4rem;
  @media #{$breakpoint-md} {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  @media #{$breakpoint-xl} {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.footer__row {
  @media #{$breakpoint-md} {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.footer-col {
  margin-bottom: 20px;
  @media #{$breakpoint-md} {
    width: 50%;
    padding: 10px;
    box-sizing: border-box; // so padding of 10px is internal - div size doesn't change
  }

  @media #{$breakpoint-xl} {
    width: unset;
    padding: 0px;
  }
}

.logo__wrap {
  @media #{$breakpoint-lg} {
    display: inline-block;
  }
}

.logo {
  width: 180px;
}

.sponsor-logo {
  width: 120px;
  display: block;
  margin-top: 10px;
}

h3 {
  margin-bottom: 0.5rem;
  @media screen and #{$breakpoint-md} {
    margin-top: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

.nav-link {
  padding: 0;
  min-width: auto;
  &:hover {
    text-decoration: underline;
  }
}

.teal-nav {
  text-transform: uppercase;
  color: $colour-teal-lighter;
  .mat-button {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

.nav-links {
  @media screen and #{$breakpoint-lg} {
    margin-top: 0;
  }
}

.nav-links__teal {
  vertical-align: top;
}

.reed-logo__wrap,
.fundraising-regulator-logo__wrap {
  margin-top: 2rem;
  @media #{$breakpoint-md} {
    width: 50%;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 3rem;
  }
  @media #{$breakpoint-lg} {
    width: 33.33%;
  }
}

.copyright-and-address {
  .copyright-text {
    margin-top: 0;
  }
  p {
    font-size: 1.1rem;
  }
}

.supported-by__text {
  margin: 20px 0 0 0;
}
