@import '../../abstract';

.footer {
  background-color: $colour-black;
  color: $colour-black-contrast;
  padding: 2rem;
  margin-top: 4rem;
  @media #{$breakpoint-md} {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  @media #{$breakpoint-xl} {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.footer__row {
  width: 100%;
}

.logo__wrap {
  width: 100%;
  @media #{$breakpoint-lg} {
    width: 25%;
    display: inline-block;
  }
}

img {
  width: 180px;
}

h3 {
  margin-bottom: 0.5rem;
  @media screen and #{$breakpoint-md} {
    margin-top: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

.nav-link {
  padding: 0;
  min-width: auto;
  &:hover {
    text-decoration: underline;
  }
}

.teal-nav {
  text-transform: uppercase;
  color: $colour-teal-lighter;
  .mat-button {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

.nav-links {
  margin-top: 2rem;
  @media screen and #{$breakpoint-lg} {
    margin-top: 0;
  }
}

.nav-links__about,
.nav-links__row {
  @media #{$breakpoint-md} {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

.nav-links__about {
  @media #{$breakpoint-lg} {
    width: 25%;
  }
}

.nav-links__how-we-can-help,
.nav-links__teal {
  @media #{$breakpoint-lg} {
    width: 50%;
    display: inline-block;
  }
}

.nav-links__teal {
  vertical-align: top;
  @media #{$breakpoint-md} {
    margin-top: 1rem;
  }
  @media #{$breakpoint-lg} {
    margin-top: 0;
  }
}

.sponsors {
  width: 100%;
}

.reed-logo__wrap,
.fundraising-regulator-logo__wrap,
.copyright-text__wrap {
  margin-top: 2rem;
  @media #{$breakpoint-md} {
    width: 50%;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 3rem;
  }
  @media #{$breakpoint-lg} {
    width: 33.33%;
  }
}

.reed-logo__text {
  margin-top: 0;
}

.copyright-text__wrap {
  @media #{$breakpoint-md} {
    width: 100%;
  }
  @media #{$breakpoint-lg} {
    width: 33.33%;
    vertical-align: unset;
  }
}

.copyright-text {
  margin: 0;
}
