@include backgrounds();
@include text-colours();
@include spacers();

:host {
  display: contents; 
}

.container {
  @include standard-font();
  a {
    display: block;
    text-decoration: none;
    &.full-width-true {
      display: block;
    }
  }
  &.centered-true {
    text-align: center;
  }
  &.shadow-true {
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.25));
  }
  &.rounded-true {
    border-radius: 10px;
  }
  &.background-padding-1 { padding: $spacer-1; }
  &.background-padding-2 { padding: $spacer-2; }
  &.background-padding-3 { padding: $spacer-3; }
  &.background-padding-4 { padding: $spacer-4; }
  &.background-padding-5 { padding: $spacer-5; }
  &.background-padding-6 { padding: $spacer-6; }

  .sleeve {
    display: flex;
    .text-wrap {
      margin: auto 0;
      text-decoration: none;
      &.text-padding-1 { padding: 0 $spacer-1; }
      &.text-padding-2 { padding: 0 $spacer-2; }
      &.text-padding-3 { padding: 0 $spacer-3; }
      &.text-padding-4 { padding: 0 $spacer-4; }
      &.text-padding-5 { padding: 0 $spacer-5; }
      &.text-padding-6 { padding: 0 $spacer-6; }
    }

    .arrow-wrap {
      margin: auto 0 auto auto;
      @each $key, $colour in $brandColours {
        &.arrow-colour-#{$key} .arrow-wrap svg path { stroke: $colour; }
      }
    }
  }

  .image-wrap {
    background-position: center center;
    background-size: cover;

    &.image-style-contain {
      background-size: contain;
    }  

    &.circle-true {
      border-radius: 50%;
      overflow: hidden;
    }

    &.size-small {
      width: 30px;
      height: 30px;
    }
    &.size-medium {
      width: 45px;
      height: 45px;
    }  
    &.size-large {
      width: 60px;
      height: 60px;
    }
    &.size-x-large {
      width: 75px;
      height: 75px;
    }
    &.size-xx-large {
      width: 90px;
      height: 90px;
    }

  }


  


}


