:host {
	display: block;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Euclid Triangle', sans-serif;
}

a {
	// target all classes prefixed with 'icon-' so we don't repeat code
	&[class^='icon-'],
	&[class*='icon-'] {
		padding-left: 20px;
		background-repeat: no-repeat;
		background-size: auto 10px;
		background-position: left center;
	}

	&.icon-green {
		background-image: url(/assets/images/triangles-combined.svg);
	}

	&.icon-children {
		background-image: url(/assets/images/triangles-combined-children.svg);
	}

	&.icon-christmas {
		background-image: url(/assets/images/triangles-combined-christmas-challenge.svg);
	}

	&.icon-green-match {
		background-image: url(/assets/images/triangles-combined-green-match.svg);
	}

	&.icon-women-girls {
		background-image: url(/assets/images/triangles-combined-women-girls.svg);
	}

	&.icon-anchor-match {
		background-image: url(/assets/images/triangles-combined-anchor.svg);
	}

	&.icon-emergency {
		background-image: url(/assets/images/triangles-combined-emergency.svg);
	}
}

.mobile-only {
	display: none !important;
}

.row-top {
	padding: $spacer-2 $spacer-4;
	background-color: $colour-primary;
	display: flex;

	.social-icon-wrap {
		margin-right: $spacer-3;
	}

	.nav-secondary {
		margin-left: auto;
		display: grid;

		ul {
			list-style: none;
			display: inline-flex;
			margin: auto;
		}

		li {
			border-right: 1px solid $colour-white;
			height: fit-content;
			padding: 0 10px;

			&:last-child {
				border-right: 0;
				padding-right: 0;
			}

			a {
				color: $colour-white;
				text-decoration: none;

				&:hover {
					border-bottom-color: $colour-white;
					color: $colour-white;
				}
			}
		}
	}

	.social-icon-wrap {
		display: flex;

		.social-icon-item {
			margin-right: $spacer-3;
		}
	}
}

nav {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 70px;
	background: white;
	z-index: 99;
	box-shadow: 0 1px 2px rgb(0 0 0 / 20%);

	.navbar {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: auto;
		padding: 0 50px;

		.nav-links {
			line-height: 70px;
			height: 100%;

			.sidebar-logo {
				display: none;
			}
		}

		.links {
			display: flex;

			li {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				list-style: none;
				padding: 0 14px;

				a {
					height: 100%;
					text-decoration: none;
					white-space: nowrap;
					color: black;
					font-size: 17px;
					font-weight: 500;
				}

				.sub-menu {
					position: absolute;
					top: 70px;
					left: 0;
					line-height: 40px;
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
					border-radius: 0 0 4px 4px;
					display: none;
					z-index: 2;
					background-color: inherit;

					li {
						padding: 0 22px;
						border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					}
	
					a {
						color: black;
						font-size: 15px;
						font-weight: 500;
					}
	
					.more {
						.sub-sub-menu {
							position: absolute;
							top: 0;
							left: 100%;
							border-radius: 0 4px 4px 4px;
							z-index: 1;
							display: none;
						}

						&:hover {
							.sub-sub-menu {
								display: block;
							}
						}
					}
				}

				.display-sub-menu {
					display: block !important;
				}

				&:hover {
					.sub-menu-arrow {
						transform: rotate(90deg);
					}

					.sub-menu {
						display: block;
						background-color: white;

						.sub-sub-menu {
							background-color: white;

							&.display-sub-menu {
								display: block;
							}
						}
					}
				}

				.arrow {
					margin-left: 5px;
					line-height: 70px;
					text-align: center;
					display: inline-block;
					color: black;
					transition: all 0.3s ease;
					&.transform-90 {
						transform: rotate(90deg);
					}
				}
			}
		}

		.logo {
			min-width: 180px;
			width: 180px;
	
			a {
				font-size: 30px;
				color: black;
				text-decoration: none;
				font-weight: 600;
				display: flex;
			}
		}
	
		.bx-menu {
			display: none;
		}
	}
}

@media (max-width: 1200px) {
	.navbar {
		.logo {
			min-width: 120px;
			width: 120px;
		}

		.links {
			li {
				.sub-menu {
					a {
						font-size: 13px;
					}
				}
			}
		}
	}

	nav {
		.navbar {
			.links {
				li {
					padding: 0 7px;

					a {
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media (max-width:968px) {
	.mobile-only {
		display: block !important;
	}
	.row-top {
		display: none;
	}
	nav {
		.navbar {
			.bx-menu {
				display: block;
				font-size: 25px;
				color: black;
			}
	
			.nav-links {
				.sidebar-logo {
					display: flex;
					align-items: center;
					justify-content: space-between;
	
					#mobileLogo {
						width: 130px;
					}
	
					#x {
						margin-right: 15px;
					}
				}

				.mobile-social-icon-wrap {
					margin-top: 20px;
				}

				.links {
					li {
						.sub-menu {
							.sub-sub-menu {
								display: none;
								position: relative;
								left: 0;
		
								li {
									display: flex;
									align-items: center;
									justify-content: space-between;
								}
							}
		
							.more {
								span {
									display: flex;
									align-items: center;
								}
							}
						}

						&:hover {
							.sub-menu {
								background-color: inherit;

								.sub-sub-menu {
									background-color: inherit;
								}
							}
						}
	
					}
				}
			}
	

		}
	}

	nav {
		.navbar {
			.nav-links {
				position: fixed;
				top: 0;
				left: -100%;
				display: block;
				max-width: 350px;
				width: 100%;
				background: rgb(245, 245, 245);
				line-height: 40px;
				padding: 20px;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
				transition: all 0.5s ease;
				z-index: 1000;
				overflow-y: scroll;
			}

			.links {
				display: block;
				margin-top: 20px;

				li {
					.arrow {
						line-height: 40px;
					}

					display: block;
					border-bottom: 1px solid #e6e6e6;

					.sub-menu {
						position: relative;
						top: 0;
						box-shadow: none;
						display: none;

						li {
							border-bottom: none;
						}
					}

					&:hover {
						.sub-menu {
							display: none;
						}

						// For mobile devices, remove the existing `transform: rotate(90deg)` property set on hover.
						// Technically, it still works but the bad thing is that the `:hover` feature only turns off
						// on mobile devices when you click off the sub-menu item. This means that when you open the
						// submenu on a mobile device, the right caret rotates to point down, but when you click on
						// it again to close it, it remains pointing down, and doesn't un-rotate 90deg. It only does
						// so when you click completely off that menu item, like when you open another sub-menu. So,
						// here I removed the `transform: rotate(90deg)` property set on hover for mobile sizes down.
						// Instead, the rotation is now manually implemented in JavaScript click handlers - see
						// `componentDidRender()`.
						.sub-menu-arrow {
							transform: unset;
						}
					}
					.sub-menu-arrow {
						&.transform-90 {
							transform: rotate(90deg);
						}
					}
				}
			}
		}
	}

	.sidebar-logo {
		i {
			font-size: 25px;
			color: black;
		}
	}

	.links {
		li {
			.sub-menu {
				.more {
					&:hover {
						.sub-sub-menu {
							display: none;
						}
					}
				}
			}
		}
	}

	@media(max-width:370px) {
		nav .navbar .nav-links {
			max-width: 100%;
		}
	}
}
