@use '@angular/material' as mat;

$tbg-primary: (
  100: #2C089B,
  200: #2C089B,
  500: #2C089B,
  700: #2C089B,
  800: #2C089B,
  contrast: (
    200: black,
    500: white,
    800: white,
  )
);

$tbg-secondary: (
  100: #2AF135,
  500: #2AF135,
  700: #2AF135,
  800: #2AF135,
  contrast: (
    500: black,
    800: rgba(black, 0.87),
  )
);

$tbg-error-red: (
  100: #ff9999,
  500: #bb2222,
  700: #990000,
  contrast: (
    500: black,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$donate-primary: mat.define-palette($tbg-primary);
$donate-accent: mat.define-palette($tbg-secondary);
$donate-warn: mat.define-palette($tbg-error-red);

// Create the theme object (a Sass map containing all of the palettes).
$donate-theme: mat.define-light-theme($donate-primary, $donate-accent, $donate-warn);

// Adapting Angular Material to override font, including on inputs.
// https://stackoverflow.com/a/49541553/2803757
$app-typography: mat.define-typography-config(
  $font-family:   '"Euclid Triangle", sans-serif',
  $headline-1:     mat.define-typography-level(112px, 112px, 300),
  $headline-2:     mat.define-typography-level(56px, 56px, 400),
  $headline-3:     mat.define-typography-level(45px, 48px, 400),
  $headline-4:     mat.define-typography-level(34px, 40px, 400),
  $headline-5:      mat.define-typography-level(24px, 32px, 400),
  $headline-6:         mat.define-typography-level(20px, 32px, 500),
  $subtitle-1:  mat.define-typography-level(16px, 28px, 400),
  $body-1:  mat.define-typography-level(15px, 24px, 400),
  $subtitle-2:        mat.define-typography-level(14px, 24px, 500),
  $body-2:        mat.define-typography-level(14px, 20px, 400),
  $caption:       mat.define-typography-level(12px, 20px, 400),
  $button:        mat.define-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $in/* TODO(mdc-migration): No longer supported. Use `body-1` instead. put:         mat.define-typography-level(16px, 1.25, 400)
);

 */// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($app-typography);`
@include mat.all-component-typographies($app-typography);
@include mat.core();

// Include styles only for core + the components we use. SSR currently preloads the lot so it's important to keep
// this as light (for page weight) as we can.
// See https://github.com/angular/components/blob/master/guides/theming.md#theming-only-certain-components
@include mat.core-theme($donate-theme);

@include mat.autocomplete-theme($donate-theme);
@include mat.button-theme($donate-theme);
@include mat.fab-theme($donate-theme);
@include mat.icon-button-theme($donate-theme);
@include mat.checkbox-theme($donate-theme);
@include mat.dialog-theme($donate-theme);
@include mat.form-field-theme($donate-theme);
@include mat.progress-spinner-theme($donate-theme);
@include mat.radio-theme($donate-theme);
@include mat.select-theme($donate-theme);
@include mat.stepper-theme($donate-theme);
@include mat.tabs-theme($donate-theme);
