@mixin size-md {
  font-size: 14px;
}
@mixin size-lg {
  font-size: 18px;
}
@mixin size-xl {
  font-size: 21px;
}
@mixin size-xxl {
  font-size: 34px;
}
@mixin size-xxxl {
  font-size: 40px;
}

@mixin b-rt-sm {
  font-size: 11px;
  line-height: 14px;
  @media #{$breakpoint-lg} {
    font-size: 14px;
    line-height: 20px
  }
}

@mixin b-rt-0 {
  font-size: 14px;
  line-height: 20px;
  @media #{$breakpoint-lg} {
    font-size: 18px;
    line-height: 27px;
  }
}

@mixin b-rt-1 {
  font-size: 18px;
  line-height: 1.5;
  @media #{$breakpoint-lg} {
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin icon-bullet {
  .ng-fa-icon {
    display: inline-block;
    width: 2rem;
    text-align: center;
    color: $colour-grey;
  }
}

@mixin b-rt-2 {
  font-size: 20px;
  line-height: 26px;
  @media #{$breakpoint-lg} {
    font-size: 34px;
    line-height: 40px;
  }
}

@mixin b-rt-3 {
  font-size: 34px;
  line-height: 41px;
  @media #{$breakpoint-lg} {
    font-size: 40px;
    line-height: 56px;
  }
}

@mixin make-container {
  margin: 0 15px;
  @media #{$breakpoint-lg} {
    margin: 0 30px;
  }
  @media #{$breakpoint-xl} {
    max-width: 1220px;
    margin: 0 auto;
  }
}

@mixin make-container-sm {
  margin: 0 15px;
  @media #{$breakpoint-md} {
    margin: 0 30px;
  }
  @media #{$breakpoint-lg} {
    margin: 0 60px;
  }
  @media #{$breakpoint-xl} {
    max-width: 1150px;
    margin: 0 auto;
  }
}

@mixin make-primary-column {
  @media #{$breakpoint-md} {
    width: calc(100% - 225px);
    padding-right: 5%;
  }
  @media #{$breakpoint-lg} {
    width: calc(100% - 300px);
  }

  @media #{$breakpoint-xl} {
    width: calc(100% - 500px);
  }
}

@mixin make-secondary-column {
  margin-top: 2rem;
  @media #{$breakpoint-md} {
    margin-top: 0;
    width: 225px;
  }
  @media #{$breakpoint-lg} {
    margin-top: 0;
    width: 300px;
  }
  @media #{$breakpoint-xl} {
    margin-top: 0;
    width: 500px;
  }
}

@mixin make-donate-button {
  padding: 0.5rem 2rem;
  background-color: $colour-primary;
  color: $colour-primary-contrast;
  border-radius: 4px;
  font-size: 18px;
  box-shadow: none !important;
  border: 0px;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($colour-primary, 10%);
  }
}

@mixin make-back-button {
  @include b-rt-sm;
  color: $colour-primary;
  margin-bottom: 1rem;
  .mat-icon-button {
    font-weight: 400;
  }
  .mat-icon {
    font-size: 1rem;
    line-height: 23px;
    width: 1rem;
  }
}

@mixin make-card($box-shadow: $box-shadow-soft) {
  background-color: $colour-card-background;
  border-radius: 4px;
  box-shadow: $box-shadow;
}

@mixin make-card-banner {
  height: 110px;
  border-radius: 4px 4px 0 0;
  background-size: cover;
  background-position: center center;
}

@mixin make-match-badge {
  position: relative;
  top: -19px;
  left: -4px;
  background: $colour-highlight;
  color: $colour-black;
  font-size: 12px;
  padding: 0.25rem 0.5rem;
}

@mixin make-badge-contour {
  position: relative;
  top: -21px;
  left: -5px;
  width: 5px;
  height: 5px;
  background: url(/assets/images/ribbon-back.png)
}

@mixin campaign-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 15px;
  row-gap: 15px;
  @media #{$breakpoint-md} {
    grid-template-columns: calc((100% - 15px)/2) calc((100% - 15px)/2);
  }
  @media #{$breakpoint-lg} {
    grid-template-columns: calc((100% - 60px)/3) calc((100% - 60px)/3) calc((100% - 60px)/3);
    gap: 30px;
    row-gap: 30px;
  }
}
