@use "../../abstract";
// Write all class styling inside elements where possible
@use "@angular/material" as mat;

.mat-ripple {
  display: none;
}

mat-spinner {
  margin: 2rem auto;
}

.mdc-button__label {
  @include abstract.b-rt-sm;
}

.mdc-form-field {
  margin-top: 16px;
  // Fields can remain inline-flex, but we want e.g. comms options to be full width
  // and stack vertically, even if they'd fit side by side on desktop.
  width: 100%;
}

.mat-mdc-form-field-icon-prefix {
  padding-right: 1rem !important;
}

.donation-input {
  .mat-mdc-text-field-wrapper {
    border: 2px mat.m2-get-color-from-palette(abstract.$donate-primary) solid;
    border-radius: 10px; // Fixed px, so fields with different font sizes have aligned round corners.
    margin-bottom: 0.5rem; // Gap between custom border style and active input underline.
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 22px;
  }

  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    padding-top: 14px;
  }

  &.donation-input-main {
    .mat-mdc-form-field-infix {
      padding: 0.7em 0;
    }
  }
}

// See also donation-start-form.component.scss override to keep slider thumb always visible.
:root {
  @include mat.slider-overrides(
    (
      focus-handle-color: abstract.$colour-highlight,
      // Square-ish % indicator can have same corner size as BG buttons
      value-indicator-border-radius: 4px,
    )
  );
}
