// Write all class styling inside elements where possible
@use '~@angular/material' as mat;

.mat-menu-trigger {
  cursor: pointer;
}

.mat-menu-content {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    a {
      display: block;
      text-align: left;
    }
  }
}

.mat-ripple {
  display: none;
}

.mat-tab-label {
  opacity: 1 !important;
  color: $colour-grey !important;
}

// See also .c-progress { ... } in campaign-details-card.component.scss.
mat-progress-bar {
  .mat-progress-bar-background {
    display: none !important;
  }
  .mat-progress-bar-fill::after {
    background: $colour-teal-dark;
  }
  .mat-progress-bar-buffer {
    background: $colour-teal;
    opacity: 0.24;
  }
}

mat-checkbox {
  .mat-checkbox-label {
    white-space: normal;
  }
}

mat-radio-button {
  margin-bottom: 1rem;
  .mat-radio-label {
    white-space: initial;
    @include b-rt-0;
  }
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

button.mat-icon-button {
  // Work around Safari layout issue where text following buttons was cut off.
  // Observed in top sidenav and 'back' links next to `keyboard_arrow_left` icons.
  width: auto;
}

mat-spinner {
  margin: 2rem auto;
}

app-campaign-card {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: mat.get-color-from-palette($donate-primary);
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 0.7em 0;
}

.mat-form-field-prefix, .mat-form-field-suffix {
  padding-right: 1rem;
}

.donation-input .mat-form-field-appearance-legacy .mat-form-field-infix {
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  border: 2px mat.get-color-from-palette($donate-primary) solid;
  border-radius: 1rem;
  padding: 0.7em 0;
}

.donation-input .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
}
