.b-container {
  @include make-container;
}

.b-container-sm {
  @include make-container-sm;
}

.b-primary-column {
  @include make-primary-column;
}

.b-secondary-column {
  @include make-secondary-column;
}

.b-donate-button {
  @include make-donate-button;
}

.b-back-button {
  @include make-back-button;
}

.b-block {
  display: block;
}


.b-grey {
  color: $colour-grey;
}

.b-center {
  text-align: center;
}

.b-uppercase {
  text-transform: uppercase;
}


.b-rt-sm {
  @include b-rt-sm;
}

.b-rt-0 {
  @include b-rt-0;
}

.b-rt-1 {
  @include b-rt-1;
}

.b-rt-2 {
  @include b-rt-2;
}

.b-rt-3 {
  @include b-rt-3;
}


.b-rh-1 {
  @include b-rt-3;
  color: $colour-teal-dark;
}

.b-rh-2 {
  @include b-rt-2;
  color: $colour-teal-dark;
}


.b-light {
  font-weight: 400;
}

.b-semi-bold {
  font-weight: 500;
}

.b-bold {
  font-weight: 700;
}

.b-va-mid {
  vertical-align: middle;
}

.b-w-100 {
  width: 100%;
}
