@import './variables';
@import './mixins';


.b-container {
  @include make-container;
}

.b-container-sm {
  @include make-container-sm;
}

.b-primary-column {
  @include make-primary-column;
}

.b-secondary-column {
  @include make-secondary-column;
}

.b-donate-button {
  @include make-donate-button;
}

.b-back-button {
  @include make-back-button;
}

.b-block {
  display: block;
}


.b-grey {
  color: $colour-grey;
}

.b-uppercase {
  text-transform: uppercase;
}


.b-rtSm {
  @include b-rtSm;
}

.b-rt0 {
  @include b-rt0;
}

.b-rt1 {
  @include b-rt1;
}

.b-rt2 {
  @include b-rt2;
}

.b-rt3 {
  @include b-rt3;
}


.b-light {
  font-weight: 400;
}

.b-bold {
  font-weight: 700;
}

.b-rh1 {
  @include b-rt3;
  color: $colour-teal-dark;
}

.b-rh2 {
  @include b-rt2;
  color: $colour-teal-dark;
}
