//Containers
.b-container {
  @include make-container;
}
.b-container-sm {
  @include make-container-sm;
}

// Columns
.b-primary-column {
  @include make-primary-column;
  margin-bottom: 50px;
}
.b-secondary-column {
  @include make-secondary-column;
}

// Responsive headings
.b-rh-1 {
  @include b-rt-3;
  color: $colour-black;
}
.b-rh-2 {
  @include b-rt-2;
  color: $colour-black;
}

// Font weights
.b-light {
  font-weight: 400;
}
.b-semi-bold {
  font-weight: 500;
}
.b-bold {
  font-weight: 700;
}

// Vertical align
.b-va-bottom {
  vertical-align: bottom;
}

// Width
.b-w-100 {
  width: 100%;
}

// Margins
.b-m-0 {
  margin: 0;
}
.b-mb-0 {
  margin-bottom: 0;
}

.b-mt-40 {
  margin-top: 40px;
}

// Misc
.b-db {
  display: block;
}

.b-grey {
  color: $colour-grey;
}

.b-uppercase {
  text-transform: uppercase;
}
