# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist


> 0.2%
last 2 versions
Firefox ESR
not dead
not IE 8-11

# First working version of Firefox starting from MacOS High Sierra, Windows 7 and on Linux
Firefox > 89
# First working version of Chrome starting from MacOS High Sierra, Windows 7 and on Linux
Chrome > 84
# First working version of Safari starting from MacOS High Sierra, Windows 7 and on Linux
Safari > 14
# Support for mobile IOS users
iOS >= 15.4
