# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
components-library/dist/
components-library/loader/
components-library/hydrate/
components-library/www/

# Storybook builds happen as part of CI publish.
components-library/storybook-static/

# Stencil generated Angular copies. `npm run build` inside `angular` regenerates these.
angular/projects/components/src/lib/stencil-generated
!angular/projects/components/src/lib/stencil-generated/.gitkeep

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

components-library/.stencil/
components-library/.idea/
components-library/.vscode/
components-library/.sass-cache/
components-library/.versions/
components-library/node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
components-library/.env
