dist/
loader/
hydrate/
www/

# Storybook builds happen as part of CI publish.
storybook-static/

# Stencil generated Angular copies. `npm run build` inside `angular` regenerates these.
angular/projects/components/src/lib/stencil-generated
!angular/projects/components/src/lib/stencil-generated/.gitkeep

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
