<div id="banner"></div>
<main>
  <div>
    <biggive-page-section>
      <div class="heading-wrapper">
        <biggive-heading
          space-above="0"
          space-below="1"
          colour="tertiary"
          html-element="h1"
          size="1"
          align="center"
          text="Your Account"
        ></biggive-heading>
      </div>
      <h2>Delete donor account</h2>
      @if (deleted) {
        <p>Your account has been deleted, and you are now logged out.</p>
      } @else {
        <p>
          Use the form below if you wish to delete your Big Give donor account. Deleting your donor account will erase
          all data apart from data we need to retain for business or legal reasons. Please see section 7 of our Privacy
          Statement for more information:
          <a [href]="environment.blogUriPrefix + '/privacy/'" target="_blank"
            >{{ environment.blogUriPrefix }}/privacy/</a
          >
        </p>
        <p>
          Any regular giving mandate you have set up through Big Give will cease, and any unused donation funds will be
          returned to the original bank account they were transferred from.
        </p>
        @if (person) {
          <biggive-text-input spaceBelow="0">
            <label slot="label" for="password">Confirm password *</label>
            <input
              slot="input"
              id="password"
              type="password"
              autocomplete="password"
              [formControl]="form.controls.password"
            />
          </biggive-text-input>

          <div style="height: 2em"></div>

          Please type the account name "{{ person.first_name }} {{ person.last_name }}" to confirm:

          <biggive-text-input spaceBelow="0">
            <label slot="label" for="postcode">Account Name</label>
            <input
              slot="input"
              id="postcode"
              type="text"
              autocomplete="off"
              [formControl]="form.controls.accountName"
            />
          </biggive-text-input>

          <div style="height: 2em"></div>

          <biggive-button
            space-above="5"
            spaceBelow="0"
            [label]="'Delete account for ' + person.email_address"
            full-width="true"
            size="medium"
            rounded="false"
            (click)="deleteAccount()"
          />
        }
      }
    </biggive-page-section>
  </div>
</main>
