:host {
  display: block;
  margin-bottom: 30px;
}

.container {
  @include standard-font();
  @include lower-shadow();
}

.sleeve {
  @include corner-clip-bottom-left();
}

.content {
  padding: 15px;
  background-color: $colour-primary-contrast;
}

.campaign-type {
  @include triangle-text-badge(0.9rem, 45px, 85px);
}

.banner {
  padding-bottom: 30%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner img {
  display: none;
}

.meta-wrap.style-1 {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.meta-wrap.style-1 .meta-item {
  width: 50%;
}

.meta-wrap.style-1 .meta-item .label {
  font-weight: bold;
}

.meta-wrap.style-1 .meta-item .text {
  color: $colour-primary;
}

header  {
  margin-bottom: 20px;
}

header .slug {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

header h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
}


.meta-wrap.style-2 {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 40px;
}

.meta-wrap.style-2 .meta-item {
  width: 50%;
}

.meta-wrap.style-2 .meta-item .label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.meta-wrap.style-2 .meta-item .text {
  display: block;
  font-size: 16px;
  line-height: 18px;
}

.meta-wrap.style-2 .meta-item .text i {
  margin-right: 10px;
}


.meta-wrap.style-3 {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.meta-wrap.style-3 .meta-item {
  margin-right: 60px;
}

.meta-wrap.style-3 .meta-item .label {
  font-weight: bold;
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}

.meta-wrap.style-3 .meta-item .text {
  display: block;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

.meta-wrap.style-3 .meta-item:last-child .text {
  color: $colour-primary;
}

.button-wrap {
  text-align: right;
}

.button-wrap a {
  display: inline-block;
  padding: 15px 30px;
  color: $colour-primary-contrast;
  background-color: $colour-primary;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}

.icon {
  @include icon();
}
