<form *ngIf="campaigns && campaigns.length > 0" [formGroup]="pickForm" (ngSubmit)="startDonation()">
  <mat-form-field>
    <mat-label>Your location</mat-label>
    <mat-select formControlName="country">
      <mat-option *ngFor="let country of countryOptions" [value]="country.iso2">
        {{ country.country }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>
    <button
      class="b-db b-light"
      mat-raised-button
      color="multicurrency"
      type="submit"
    >
      Make a donation
    </button>
  </p>
</form>
