@import '../../styles';

.mat-form-field__wrap {
  padding: 1rem;
  padding-bottom: 0;
  width: calc(100% - 2rem);

  .mat-form-field {
    width: calc(100% - 31px);
    @media #{$breakpoint-lg} {
      width: 200px;
    }
  }

  .search-button {
    background-color: transparent;
  }

  .mat-button {
    padding: 0;
    padding-left: 0.5rem;
    min-width: auto;
  }
}
