@import '../../../abstract';

.b-back-button {
  @include make-back-button;
}

.c-form-container {
  display: flex;
  flex-direction: column;

  @media #{$breakpoint-lg} {
    flex-direction: row;
  }
}

h5 {
  font-size: 1rem;
}

.c-header {
  h1, h3 {
    margin-top: 0.25rem;
  }

  &__to {
    @include size-md;
    margin: 0;
    margin-top: 0.25rem;
  }
}
