@import '../../../abstract';

.b-back-button {
  @include make-back-button;
}

.c-form-container {
  display: flex;
  flex-direction: column;

  @media #{$breakpoint-lg} {
    flex-direction: row;
  }
}
