@use '../../../abstract' as abstract;

@include abstract.vary-campaign-info-layout();

.b-back-button {
  @include abstract.make-back-button;
}

.c-form-container {
  display: flex;
  flex-direction: column;

  @media #{abstract.$breakpoint-lg} {
    flex-direction: row;
  }
}

.c-timer {
  z-index: 10; // must be high enough to occulude eyebrowe prompt texts on inputs in the Payment Details section.
  position: fixed;
  left: 0;
  width: 100%;
  background: abstract.$colour-black;
  color: white;
  text-align: center;
  @media #{abstract.$breakpoint-lg} {
    font-size: 20px;
  }
  font-size: 15px;

  .centered {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    margin: auto;
    line-height: 3em;
    white-space: nowrap;
  }

  span {
    display: inline-block;
  }

 span.time-left {
   @media #{abstract.$breakpoint-lg} {
     font-size: 24px;
   }
   font-size: 18px;
   margin-left: 1em;
   background-color: abstract.$colour-primary;
   color: white;
   height: 100%;
   padding: 0 1em;
 }
}

h5 {
  font-size: 1rem;
}

.c-header {
  h1, h3 {
    margin-top: 0.25rem;
  }

  &__to {
    @include abstract.size-md;
    margin: 0;
    margin-top: 0.25rem;
  }
}

.match-funded-badge-wrapper {
  width     : 100%;
  height    : 100%;
  text-align: center;
}

.match-funded-badge {
  position: relative;
  display: inline-block;
  text-align: center;
  background: abstract.$colour-highlight;
  color: abstract.$colour-black;
  width  : 140px;
  padding: 0.3rem 0.5rem;
  margin-bottom: 1rem !important;
  font-size: 1rem;
  font-weight: bold;
  top: 30px;
}
