<main class="b-container">
  <div class="b-back-button">
    <a mat-icon-button [routerLink]="'/campaign/' + campaign.id">
      <mat-icon aria-hidden="false" aria-label="Back">keyboard_arrow_left</mat-icon>
      Back to campaign
    </a>
  </div>
  <div class="c-form-container">
    <div class="b-primary-column">
      <app-donation-start [campaign]="campaign" [column]="'primary'"/>
    </div>
    <div class="b-secondary-column">
      <app-donation-start-secondary
      [campaign]="campaign"
    />
      <!-- <app-donation-start [campaign]="campaign" [column]="'secondary'"/> -->
      <div style="margin-bottom: 30px;">
        <h5>Categories</h5>
        <hr>
        <div class="icons">
          <li *ngFor="let category of campaign.categories" class="icon-wrapper">
            <fa-icon [title]="category" [icon]="getCategoryIcon(category)"></fa-icon>
            <span class="c-icon-title">
              <!-- add zero width space to allow line break -->
              {{ category.split('/').join('/\u200B') }}
            </span>
          </li>
        </div>

        <h5>Beneficiaries</h5>
        <hr>
        <div class="icons">
          <li *ngFor="let beneficiary of campaign.beneficiaries" class="icon-wrapper">
            <fa-icon [title]="beneficiary" [icon]="getBeneficiaryIcon(beneficiary)"></fa-icon>
            <span class="c-icon-title">
              <!-- add zero width space to allow line break -->
              {{ beneficiary.split('/').join('/\u200B') }}
            </span>
          </li>
        </div>
      </div>
    </div>
  </div>
</main>
