<main class="b-container">
  @if (reservationExpiryDate) {
    <div class="c-timer">
      <div class="centered">
        <span class="b-rt-0">Your match funds are reserved for:&nbsp;</span>
        <span class="b-rt-1 b-bold time-left">{{ reservationExpiryDate | timeLeft }}</span>
      </div>
    </div>
    <div style="height: 4em">
      <!-- timer has fixed position so would occlude the content below without this empty div to push it down-->
    </div>
  }
  <div class="b-back-button">
    <a mat-icon-button [routerLink]="'/campaign/' + campaign.id">
      <mat-icon aria-hidden="false" aria-label="Back">keyboard_arrow_left</mat-icon>
      Back to campaign
    </a>
  </div>
  <div class="old-browser-issue" style="padding-bottom: 1em; font-size: 18px">
    We are aware of an issue affecting some donors with iPhones running
    iOS 16 or earlier. We are currently working on a fix.
    If you are not able to use the form below please try later,
    try with a different device if possible, or
    update your device software.
  </div>
  <div class="c-form-container">
    <div class="b-primary-column">
      <app-donation-start-login
        [personId]="this.donor?.id"
        [email]="this.loggedInEmailAddress || ''"
        [loadAuthedPersonInfo]="loadAuthedPersonInfo"
        [creditPenceToUse]="this.donationStartForm && this.donationStartForm.creditPenceToUse || 0"
        [campaign]="campaign"
        [loggedInWithPassword]="this.loggedInWithPassword"
        [loginChangeEmitter]="identityService.loginStatusChanged"
      ></app-donation-start-login>

      @if (!campaignOpenOnLoad) {
        <p>Donations open {{ campaign.startDate | date : 'h:mm a, d LLLL yyyy' }} to {{ campaign.endDate | date : 'h:mm a, d LLLL yyyy' }}</p>
      }

      <!-- We don't want to let the form's ngInit run before ours completes, or we would have odd behaviour
      around loading the logged in user - hence conditional on dataLoaded -->
      @if (campaignOpenOnLoad) {
        <app-donation-start-form
          #donation_start_form
          [campaign]="campaign"
          [donor]="donor"
          [donationChangeCallBack]="setDonation"
          [campaignOpenOnLoad]="campaignOpenOnLoad"
          />
      }

    </div>
    <div class="b-secondary-column">
      <!-- On this page, we agreed that this info is best to hide entirely on mobile. So
      this has no `mobile` counterpart but we still use the mixin that hides this on mobile. -->
      @if (campaign) {
        <div
          id="campaign-highlights-beneficiaries-and-categories-desktop"
          >
          <div class="match-funded-badge-wrapper">
            @if (campaign.matchFundsRemaining > 0) {
              <div class="match-funded-badge">
                Match Funded
              </div>
            }
          </div>
          <div class="c-banner">
            @if (bannerUri) {
              <img
                class="c-banner__image b-w-100"
                [src]="bannerUri"
                alt=""
                role="presentation"
                >
            }
          </div>
          <app-campaign-info [campaign]="campaign"></app-campaign-info>
        </div>
      }
    </div>
  </div>
</main>
