<main class="b-container">
  <div *ngIf="reservationExpiryDate" class="c-timer_new_design">
    <div class="centered">
      <span class="b-rt-0">Your match funds are reserved for:&nbsp;</span>
      <span class="b-rt-1 b-bold time-left">{{ reservationExpiryDate | timeLeft }}</span>
    </div>
  </div>
  <div class="b-back-button">
    <a mat-icon-button [routerLink]="'/campaign/' + campaign.id">
      <mat-icon aria-hidden="false" aria-label="Back">keyboard_arrow_left</mat-icon>
      Back to campaign
    </a>
  </div>
  <div class="c-form-container">
    <div class="b-primary-column">
      <app-donation-start-login
        [logout]="this.logout"
        [personId]="this.donor?.id"
        [email]="this.loggedInEmailAddress"
        [personIsLoginReady]="personIsLoginReady"
        [loadAuthedPersonInfo]="loadAuthedPersonInfo"
        [creditPenceToUse]="this.donationStartForm && this.donationStartForm.creditPenceToUse || 0"
        [campaign]="campaign"
        [canLogin]="this.canLogin">
      </app-donation-start-login>

      <p *ngIf="!campaignOpenOnLoad">Donations open {{ campaign.startDate | date : 'h:mm a, d LLLL yyyy' }} to {{ campaign.endDate | date : 'h:mm a, d LLLL yyyy' }}</p>

      <!-- We don't want to let the form's ngInit run before ours completes, or we would have odd behaviour
         around loading the logged in user - hence conditional on dataLoaded -->
     <app-donation-start-form-parent *ngIf="campaignOpenOnLoad"
       #donation_start_form
       [campaign]="campaign"
       [donor]="donor"
       [donationChangeCallBack]="setDonation"
       [campaignOpenOnLoad]="campaignOpenOnLoad"
     />

    </div>
    <div class="b-secondary-column">
      <app-donation-start-secondary
      [campaign]="campaign"
    />
    </div>
  </div>
</main>
