<mat-card>
  <mat-card-header>
    <mat-card-title>{{ campaign.title }}</mat-card-title>
  </mat-card-header>

  <div class="banner-container">
    <img
      *ngIf="campaign.imageUri"
      mat-card-image
      [src]="campaign.imageUri"
      alt=""
      role="presentation"
    >
  </div>

  <mat-card-content>
    <h4 *ngIf="campaign.isMatched">Match funded campaign</h4>
    <h4 *ngIf="!campaign.isMatched">Regular campaign</h4>
    <h3>for {{ campaign.charity.name }}</h3>
    <ul>
      <li *ngFor="let category of campaign.categories">{{ category }}</li>
      <li>{{ campaign.matchFundsRemaining | currency : '£' : 'symbol' : '1.0-0' }} funds remaining</li>
      <li>
        <span class="raised">{{ campaign.amountRaised | currency : '£' : 'symbol' : '1.0-0' }} raised</span>
      </li>
      <li *ngIf="campaign.target">
        <span class="target">{{ campaign.target | currency : '£' : 'symbol' : '1.0-0' }} target</span>
      </li>
    </ul>
    <mat-progress-bar color="accent" [value]="campaign.target ? percentRaised : (campaign.amountRaised > 0 ? 100 : 0)"></mat-progress-bar>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      color="accent"
      [routerLink]="'/campaign/' + campaign.id"
    >View</button>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'/donate/' + campaign.id"
    >Donate</button>
  </mat-card-actions>
</mat-card>
