@import '../../styles';

// If we somehow end up with an unexpected-ratio image, let Angular Material do its
// thing with `mat-card-image` on the `img` itself (can't set a max height as this
// would stretch it when combined with that) but use this to ensure the card can't
// grow to a height that breaks the layout.

.c-card {
  @include make-card;
  display:flex;
  flex-direction:column;
  height:100%;
}

.c-card__banner--image {
  width: 100%;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.c-card__header {
  padding-left: 2rem;
  padding-right: 2rem;
}

.c-card__header--charity-name {
  margin-top: 0.75rem;
  margin-bottom: 0;
  color: $colour-grey;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.c-card__header--campaign-title {
  margin: 0 0 .75rem;
  color: $colour-teal-dark;
  @include size-lg;
  @media #{$breakpoint-md} {
    min-height: 48px;
  }

  a {
    text-decoration: none;
  }
}

.c-card__categories {
  overflow-x: scroll;
  white-space:nowrap;
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.c-card__categories--list {
  margin:0 0.5rem;
  margin-left: 0;
  display: inline;
}

.c-card__categories--item {
  @include size-md;
  background-color: $colour-teal-fade;
  color: $colour-teal;
  border-radius: 14px;
  padding: 0.15rem 0.75rem 0.25rem;
  margin-right: 0.5rem;
  display: inline;
  &:last-child {
    margin-right: 0;
  }
}

.c-card__funds {
  padding: 1rem 2rem;
  color: $colour-grey;
}

.c-card__funds--description {
  @include size-md;
  color: $colour-grey;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.c-card__funds--matched {
  padding-right: 0.25rem;
}

.c-card__funds--total {
  padding-left: 0.25rem;

  .c-card__funds--amount {
    color: $colour-teal;
  }
}

.c-card__funds--amount {
  margin-top: 0;
  margin-bottom: 0;
  font-size:20px;
}

.c-card__buttons {
  margin-top:auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.c-card__buttons--more,
.c-card__buttons--donate {
  margin: 0;
  min-width: 85px;
}

.c-card__buttons--more {
  font-weight: 400;
}

.c-card__buttons--more-icon {
  line-height: 22px;
}

.c-card__buttons--more {
  font-size:18px;
}

.c-card__buttons--donate {
  @include make-donate-button;
}
