@if (campaign.isRegularGiving) {
  <!-- note the primary figure amount below has to be a non-empty string to make the component
       reserve space for it to keep the layout consistent. Once we're happy with this layout
       consider editing component code to allow this to happen in a more intuitive way -->
  <biggive-campaign-card
    [banner]="campaign.imageUri | optimisedImage:830 | async"
    [campaignType]="campaign.isMatched ? 'Match Funded' : null"
    [campaignTitle]="campaign.title"
    [donateButtonUrl]="'/regular-giving/' + campaign.id"
    [donateButtonLabel]="'Donate monthly'"
    [moreInfoButtonUrl]="'/charity/' + campaign.charity.id"
    [organisationName]="campaign.charity.name"
    [progressBarCounter]="getPercentageRaised(campaign)"
    secondary-figure-label="Total Funds Raised"
    [primaryFigureAmount]="' '"
    [secondaryFigureAmount]="useSharedFunds ? null : (campaign.amountRaised | currency: campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo)"
    [isFutureCampaign]="isInFuture(campaign)"
    [isPastCampaign]="isInPast(campaign)"
    [datetime]="getRelevantDateAsStr(campaign)">
    id="campaign-{{campaign.id}}"
  </biggive-campaign-card>
} @else {
  <biggive-campaign-card
    [banner]="campaign.imageUri | optimisedImage:830 | async"
    [campaignType]="campaign.isMatched ? 'Match Funded' : null"
    [campaignTitle]="campaign.title"
    [donateButtonUrl]="('/donate/' + campaign.id) "
    [donateButtonLabel]="'Donate now'"
    [moreInfoButtonUrl]="'/campaign/' + campaign.id"
    [organisationName]="campaign.charity.name"
    primary-figure-label="Match Funds Remaining"
    [primaryFigureAmount]="useSharedFunds ? null : (campaign.matchFundsRemaining | currency: campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo)"
    [progressBarCounter]="getPercentageRaised(campaign)"
    secondary-figure-label="Total Funds Raised"
    [secondaryFigureAmount]="useSharedFunds ? null : (campaign.amountRaised | currency: campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo)"
    [isFutureCampaign]="isInFuture(campaign)"
    [isPastCampaign]="isInPast(campaign)"
    [datetime]="getRelevantDateAsStr(campaign)">
    id="campaign-{{campaign.id}}"
  </biggive-campaign-card>
}
