@import '../../abstract';

.b-donate-button {
  @include make-donate-button;
}

.c-card {
  @include make-card;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.c-banner__image {
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.c-badge {
  @include make-match-badge;
}

.c-contour {
  @include make-badge-contour;
}

ul {
  list-style-type: none;
  padding: 0;
}

.c-header {
  padding-left: 2rem;
  padding-right: 2rem;
}

.c-header__charity-name {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  @include size-md;
  letter-spacing: 1px;
  @media #{$breakpoint-md} {
    display: flex;
    align-items: flex-end;
    line-height: 1.5;
  }
}

.c-header__campaign-title {
  margin: 0 0 .75rem;
  color: $colour-black;
  @include size-lg;
}

.c-header__link {
  text-decoration: none;
}

.c-body {
  margin-top: auto;
}

.c-icon-lists {
  ul {
    padding: 0;

    li {
      display: inline;
      padding-right: 0.5rem;

      .ng-fa-icon {
        color: $colour-grey;
      }
    }
  }
  padding: 0 2rem;
}

.c-funds {
  padding: 1rem 2rem;
  color: $colour-grey;
}

.c-cards__description {
  @include size-md;
  color: $colour-grey;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.c-funds__matched {
  padding-right: 0.25rem;
}

.c-funds__total {
  padding-left: 0.25rem;

  .c-funds__amount {
    color: $colour-primary;
  }
}

.c-funds__amount {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.c-buttons {
  margin-top: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__past {
    margin-top: 6px;
  }

  &__past-text {
    vertical-align: top;
  }

  &__more {
    font-size: 18px;
    font-weight: 400;
  }

  &__more, &__donate {
    margin: 0;
    min-width: 85px;
  }

  &__more-icon {
    line-height: 22px;
  }
}
