<div class="c-ticker">
  <div class="c-ticker__total">
    <span *ngIf="fund"><em class="c-ticker__value c-ticker__value--emphasised">{{ fund.amountRaised | currency : '£' : 'symbol' : '1.0-0' }}</em> raised inc. Gift Aid</span>

    <!-- We occasionally open child campaigns before their parents, so it
    is possible for the parent `campaign` here to raise more than £0 before
    it formally opens. -->
    <span *ngIf="!fund && campaign.amountRaised > 0 && !campaignInFuture" ><em class="c-ticker__value c-ticker__value--emphasised">{{ campaign.amountRaised | currency : '£' : 'symbol' : '1.0-0' }}</em> raised inc. Gift Aid</span>
    <span *ngIf="!fund && (campaign.amountRaised == 0 || campaignInFuture)">Opens in <em  class="c-ticker__value c-ticker__value--emphasised">{{ campaign.startDate | timeLeft }}</em></span>
  </div>
  <div class="c-ticker__lists">
    <ul class="c-ticker__list" *ngFor="let index of [0,1,2,3]">
      <!-- Global -->
      <li class="c-ticker__item"><span class="c-ticker__value">{{ campaign.matchFundsTotal | currency : '£' : 'symbol' : '1.0-0' }}</span> total match funds</li>
      <li class="c-ticker__item" *ngIf="campaignOpen"><span class="c-ticker__value">{{ campaign.endDate | timeLeft }}</span> remaining</li>
      <li class="c-ticker__item" *ngIf="!campaignOpen"><span class="c-ticker__value">{{ durationInDays | number }}</span> days duration</li>

      <!-- Fund-specific context only -->
      <li class="c-ticker__item" *ngIf="fund"><span class="c-ticker__value">{{ campaign.amountRaised | currency : '£' : 'symbol' : '1.0-0' }}</span> raised across all funds</li>
      <li class="c-ticker__item" *ngIf="fund"><span class="c-ticker__value">{{ fund.totalAmount | currency : '£' : 'symbol' : '1.0-0' }}</span> {{ fund.name }} match funds</li>

      <!-- Non-fund context only -->
      <li class="c-ticker__item" *ngIf="campaign.campaignCount && campaign.campaignCount > 1 && !fund"><span class="c-ticker__value">{{ campaign.campaignCount | number }}</span> charities</li>
      <li class="c-ticker__item" *ngIf="campaign.donationCount > 0 && !fund"><span class="c-ticker__value">{{ campaign.donationCount | number }}</span> donations</li>
      <li class="c-ticker__item" *ngIf="campaignOpen && !fund"><span class="c-ticker__value">{{ campaign.matchFundsRemaining | currency : '£' : 'symbol' : '1.0-0' }}</span> match funds remaining</li>
    </ul>
  </div>
</div>
