// @include backgrounds();
// @include fills();

:host {
  display: contents;
//   @include standard-font();
}

.container {
  overflow: hidden;
  padding: 50px 30px 0 30px;

  .bar {
    position: relative;
    margin: 25px 0 15px 0;
    background-color: #8A8A8A; //$colour-grey-medium;
    border-radius: 5px;
    height: 10px;
    .handle {
      border-radius: 50%;
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #2C089B; //$colour-primary-blue;
      transform: translate(0, -15px);
      cursor: pointer;
      .tooltip {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -110%);
        white-space: nowrap;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        padding: 2px 10px;
        .donation {
          font-weight: bold;
        }
        .percentage {
          font-size: 75%;
        }
      }
    }
  }
  .labels {
    display: flex;
    justify-content: space-around;
    margin: 20px 15px 15px 15px;
    font-weight: 600;
    .label-start {
      text-align: left;
      margin-right: auto;
    }
    .label-end {
      text-align: right;
      margin-left: auto;
    }
  }
  .reset {
    margin-bottom: 15px;
    display: flex;
    .button {
      margin-left: auto;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

