:host {
  display: contents;
//   @include standard-font();
}

.container {
  overflow: hidden;
  padding-top: 50px;

  .bar {
    position: relative;
    margin: 25px 0 15px 0;
    background-color: #8A8A8A; //$colour-grey-medium;
    border-radius: 5px;
    height: 7.5px;
    .handle {
      border-radius: 50%;
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #2C089B; //$colour-primary-blue;
      transform: translate(0, -11px);
      cursor: pointer;
    }
    .tooltip {
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -180%);
      white-space: nowrap;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
      padding: 2px 10px;
      font-weight: bold;
      margin: auto;
    }
  }
  .labels {
    display: flex;
    justify-content: space-around;
    margin: 20px 15px 15px 15px;
    font-weight: 600;
    .label-start {
      text-align: left;
      margin-right: auto;
    }
    .label-end {
      text-align: right;
      margin-left: auto;
    }
  }
}

