@include spacers();

:host {
  display: content;
}

.container {
  @include standard-font();
  position: relative;
  .search-wrap {
    @include lower-shadow();
    background-color: $colour-white;
    padding: $spacer-3 $spacer-4;
    margin-bottom: $spacer-3;
    h4 {
      margin-bottom: $spacer-3;
    }
    .field-wrap {
      @include flex-container-row();

      .input-wrap {
        @include flex-container-row();
        padding-bottom: $spacer-1;
        border-bottom: 1px solid $colour-black;
        margin-right: $spacer-4;
        flex-grow: 1;
        input {
          border: 0;
        }
      }
      button {
        padding: 5px 30px;
      }
    }
  }
}

.sort-filter-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacer-4;
  text-align: right;
  .clear-all {
    cursor: pointer;
    vertical-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }

    display: flex;
    .sort-wrap {
      margin-left: 15px;
    }

    .filter-wrap {
      margin-left: $spacer-3;

      .button.filter {
        padding-left: 60px;
        padding-right: 30px;

      .filter-icon {
        content: '';
        display: block;
        position: absolute;
        left: 25px;
        top: 17px;
        width: 13px;
        height: 13px;

        svg {
          width: 100%;
          height: auto;
          vertical-align: top;

          &:hover {
            fill: $colour-primary;
          }
        }
      }
    }
  }
}

.icon {
  @include icon();
  margin: auto;

  > path {
    fill: $colour-primary;
  }
}

.icon-clear-all {
  > path {
    fill: $colour-black;
  }
}

@media screen and (max-width: $screen-mobile-small) {
  .sort-filter-wrap {
    flex-direction: column-reverse;
    .sort-wrap {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: $screen-mobile-x-small) {
  .sort-filter-wrap {
    justify-content: space-between;
    .sort-wrap {
      margin-left: 0px;
    }
    .filter-wrap {
      margin-left: 3px;
    }
  }
}

.align-right {
  text-align: right;
}

.input-text {
    @include input-text();
}

.text-colour-primary {
  color: $colour-primary;
}
