<div class="hero" *ngIf="bannerUri" [ngStyle]="{'background-image': 'url(' + bannerUri + ')'}">
  <app-ticker [campaign]="campaign" [fund]="fund"></app-ticker>

  <div class="b-container-sm">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
      <div class="hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
        <div fxLayout="column">
          <h1 class="c-hero__heading">
            <img class="c-hero__image" *ngIf="logoUri" [src]="logoUri" [alt]="logoAltText">
            <span *ngIf="showTitle">{{ campaign.title }}</span>
          </h1>
        </div>
        <div fxLayout="column">
          <h2 class="c-hero__description b-light b-rt-1">{{ description }}</h2>
        </div>
      </div>
      <div class="hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
        <app-campaign-search-form
          *ngIf="campaign.campaignCount && campaign.campaignCount > 10"
          [reset]="reset"
          [term]="searchTerm"
          (search)="search($event)"
        ></app-campaign-search-form>
      </div>
    </div>
  </div>
</div>
