@import '../../abstract';

.b-rt-1 {
  @include b-rt-1;
}

.hero {
  color: $colour-black-contrast;
  padding-top: 1rem;
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-position: center top;
  @media #{$breakpoint-md} {
    background-size: cover;
  }
  @media #{$breakpoint-lg} {
    padding: 1.5rem 0 1rem 0;
  }
}

.hero-flex__child {
  padding-right: 15px; // Allow space so GetSiteControl right-floated widgets don't cover copy

  @media #{$breakpoint-md} {
    margin-right: 1rem;
    &:last-child {
      margin-left: 1rem;
      margin-right: 0;
    }
  }
  @media #{$breakpoint-lg} {
    margin-right: 2rem;
    &:last-child {
      margin-left: 2rem;
      margin-right: 0;
    }
  }
  @media #{$breakpoint-xl} {
    margin-right: 3rem;
    &:last-child {
      margin-left: 3rem;
      margin-right: 0;
    }
  }
}

.c-hero__heading {
  margin-bottom: 0;
  text-shadow: 1px 1px $colour-black;
  line-height: 1.2;
  font-size: 1.7em;

  @media #{$breakpoint-md} {
    font-size: 35px;
  }
  @media #{$breakpoint-lg} {
    font-size: 38px;
  }
  @media #{$breakpoint-xl} {
    font-size: 40px;
  }
}

.c-hero__description {
  margin-top: 1rem;
  text-shadow: 1px 1px $colour-black;

  @media #{$breakpoint-sm} {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  @media #{$breakpoint-md} {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  @media #{$breakpoint-lg} {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  @media #{$breakpoint-xl} {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.c-hero__image {
  margin-top: -22px; // Make enough space for the copy below to remain legible
  width: 330px; // 660px image requested for sharp rendering at high DPI
}

app-campaign-search-form {
  display: flex;
  justify-content: center;
}


// @media (max-width: 599px) {
//   .c-hero__description {
//     font-size: 15px;
//     line-height: 1.4rem;
//   }
// }