<div class="hero">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
    <div class="hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
      <div fxLayout="column">
        <h1>The Christmas Challenge 2019</h1>
      </div>
      <div fxLayout="column">
        <h2>The Christmas Challenge will take place from Tuesdsay 27 November to Tuesday 4 December.</h2>
      </div>
    </div>
    <div class="hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
      <app-campaign-search-form (search)="onGlobalSearch($event)"></app-campaign-search-form>
    </div>
  </div>
</div>
