@import '../../styles';

.webp-bg.hero {
  background-image: url(/assets/bg-hero-christmas.webp);
}

.nowebp-bg.hero {
  background-image: url(/assets/bg-hero-christmas.png);
}

.hero {
  color: white;
  padding-top: 1rem;
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-position: center top;
  @media #{$breakpoint-md} {
    background-size: cover;
  }
  @media #{$breakpoint-lg} {
    padding-top: 1.5rem;
  }
}

.hero-flex__child {
  padding-right: 15px; // Allow space so GetSiteControl right-floated widgets don't cover copy

  @media #{$breakpoint-md} {
    margin-right: 1rem;
    &:last-child {
      margin-left: 1rem;
      margin-right: 0;
    }
  }
  @media #{$breakpoint-lg} {
    margin-right: 2rem;
    &:last-child {
      margin-left: 2rem;
      margin-right: 0;
    }
  }
  @media #{$breakpoint-xl} {
    margin-right: 3rem;
    &:last-child {
      margin-left: 3rem;
      margin-right: 0;
    }
  }
}

.c-hero__heading {
  margin-bottom: 0;
  line-height: 1.2;
  @media #{$breakpoint-md} {
    font-size: 35px;
  }
  @media #{$breakpoint-lg} {
    font-size: 45px;
  }
  @media #{$breakpoint-xl} {
    font-size: 60px;
  }
}

.c-hero__description {
  margin-top: 1rem;
}

.c-hero__image {
  margin-top: -22px; // Make enough space for the copy below to remain legible
  width: 330px; // 660px image requested for sharp rendering at high DPI
}

app-campaign-search-form {
  display: flex;
  justify-content: center;
}
