@import '../../../abstract';

h5 {
    font-size: 1rem;
}

.icons {
    @include format-icon-container;
}

.icon-wrapper {
    @include format-icon-list-item;

    // in campaign-details.component.scss the selector here is `svg` rather than `fa-icon`, but that doesn't seem to work
    // here.
    fa-icon.ng-fa-icon {
        color: $colour-primary; // #2C089BFF
        font-size: 40px;
        min-width: 4rem;
    }

    .c-icon-title {
        @include format-icon-title;
    }
}

.match-funded-badge-wrapper {
    position  : block; 
    width     : 100%;  
    height    : 100%; 
    text-align: center;
}

.match-funded-badge {
    position: relative;
    display: inline-block;
    text-align: center;
    background: $colour-highlight;
    color: $colour-black;
    width  : 140px;
    padding: 0.3rem 0.5rem;
    margin-bottom: 1rem !important;
    font-size: 1rem;
    font-weight: bold;
    top: 30px;
  }