@include spacers();

:host {
  display: contents;
}

.columns {
  @include standard-font();
  @include section-container();
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;  
  .column-primary {
    width: calc(66.6% - $spacer-3);
    box-sizing: border-box;
  }
  .column-secondary {
    width: calc(33.4% - $spacer-3);
    box-sizing: border-box;
  }
}

@media screen and (max-width: $screen-tablet-max) {
  .columns {
    .column-primary {
      width: 100%;
      margin-bottom: $spacer-3;
    }
    .column-secondary {
      width: 100%;
    }
  }
}


