@import "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/grey-header.jpg);
}

div.frc-captcha {
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  background: none;
  border: 2px solid $colour-primary;
}
