<div id="banner"></div>
<main>
  <div class="login">
    <biggive-page-section>
      <div class="heading-wrapper">
        <biggive-heading
          space-above=0
          space-below=1
          colour="tertiary"
          html-element="h1"
          size="1"
          align="center"
          text="Donor Log in"
        ></biggive-heading>
      </div>
      <re-captcha
        #captcha
        size="invisible"
        errorMode="handled"
        (resolved)="captchaReturn($event)"
        (errored)="captchaError()"
        siteKey="{{ recaptchaIdSiteKey }}"
      ></re-captcha>

      <div *ngIf="forgotPassword else logIn">

        <h2 mat-dialog-title>Reset Password</h2>

        <div *ngIf="!userAskedForResetLink">
          <mat-dialog-content class="mat-typography">
            <form [formGroup]="resetPasswordForm">
              <mat-form-field class="b-w-100" color="primary">
                <mat-label for="loginEmailAddress">Email address</mat-label>
                <input matInput type="email" id="loginEmailAddress" formControlName="emailAddress" autocapitalize="off">
              </mat-form-field>
              <p class="b-rt-0">Please enter your email address.</p>
            </form>
          </mat-dialog-content>

          <mat-dialog-actions align="end">
            <button
              id="reset-password-modal-submit"
              mat-raised-button
              [disabled]="!resetPasswordForm.valid || userAskedForResetLink"
              (click)="resetPasswordClicked()"
              color="primary"
            >Reset Password
            </button>
          </mat-dialog-actions>
        </div>

        <div *ngIf="userAskedForResetLink">
          <mat-spinner *ngIf="resetPasswordSuccess === undefined" [diameter]="40"
                       aria-label="Loading your details"></mat-spinner>
          <p *ngIf="resetPasswordSuccess">Please check your email and click on the password reset link received.</p>
          <p *ngIf="resetPasswordSuccess === false" class="error">Sorry, we encountered a problem. Please <a
            href="https://community.biggive.org/s/contact-us" target="_blank">contact us</a> for help.</p>
        </div>
      </div>

      <ng-template #logIn>
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="loginForm">

            <biggive-text-input spaceBelow="3">
              <label slot="label" for="loginEmailAddress">Email address *</label>
              <input
                slot="input"
                matInput type="email" id="loginEmailAddress" formControlName="emailAddress" autocapitalize="off">
            </biggive-text-input>
            <biggive-text-input spaceBelow="3">
              <label slot="label" for="loginPassword">Password *</label>
              <input
                slot="input"
                matInput type="password" id="loginPassword" formControlName="password">
            </biggive-text-input>

            <p *ngIf="loginError" class="error" aria-live="assertive">
              Login error: {{ loginError }}
            </p>
          </form>
        </mat-dialog-content>

        <mat-dialog-actions style="justify-content: space-between;">
          <a (click)="forgotPasswordClicked()">Forgot Password?</a>
          <div>

            <!-- todo - maybe stop using [disabled] below, replace with toast -->

            <div id="login-button">
              <div aria-live="polite">
                <mat-spinner *ngIf="loggingIn" color="primary" diameter="30" aria-label="Logging in"></mat-spinner>
              </div>

              <biggive-button
                *ngIf="! loggingIn"
                space-above="5"
                colour-scheme="primary"
                label="Log in"
                full-width="true"
                disabled="!loginForm.valid"
                size="medium"
                rounded="false"
                (click)="login()"
              />
            </div>
          </div>
        </mat-dialog-actions>
      </ng-template>
    </biggive-page-section>
  </div>
</main>
