<main>
  <div class="my-account">
    <biggive-page-section>

      <re-captcha
        #captcha
        size="invisible"
        errorMode="handled"
        (resolved)="captchaReturn($event)"
        (errored)="captchaError()"
        siteKey="{{ recaptchaIdSiteKey }}"
      ></re-captcha>

      <div *ngIf="forgotPassword else logIn">

        <h2 mat-dialog-title>Reset Password</h2>

        <div *ngIf="!userAskedForResetLink">
          <mat-dialog-content class="mat-typography">
            <form [formGroup]="resetPasswordForm">
              <mat-form-field class="b-w-100" color="primary">
                <mat-label for="loginEmailAddress">Email address</mat-label>
                <input matInput type="email" id="loginEmailAddress" formControlName="emailAddress" autocapitalize="off">
              </mat-form-field>
              <p class="b-rt-0">Please enter your email address.</p>
            </form>
          </mat-dialog-content>

          <mat-dialog-actions align="end">
            <button
              id="reset-password-modal-submit"
              mat-raised-button
              [disabled]="!resetPasswordForm.valid || userAskedForResetLink"
              (click)="resetPasswordClicked()"
              color="primary"
            >Reset Password</button>
            <button mat-raised-button mat-dialog-close cdkFocusInitial color="accent">Cancel</button>
          </mat-dialog-actions>
        </div>

        <div *ngIf="userAskedForResetLink">
          <mat-spinner *ngIf="resetPasswordSuccess === undefined" [diameter]="40" aria-label="Loading your details"></mat-spinner>
          <p *ngIf="resetPasswordSuccess">Please check your email and click on the password reset link received.</p>
          <p *ngIf="resetPasswordSuccess === false" class="error">Sorry, we encountered a problem. Please <a href="https://community.biggive.org/s/contact-us" target="_blank">contact us</a> for help.</p>
          <mat-dialog-actions align="end" *ngIf="resetPasswordSuccess !== undefined">
            <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">Ok</button>
          </mat-dialog-actions>
        </div>
      </div>

      <ng-template #logIn>
        <h2 mat-dialog-title>Log in</h2>
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="loginForm">
            <mat-form-field class="b-w-100" color="primary">
              <mat-label for="loginEmailAddress">Email address</mat-label>
              <input matInput type="email" id="loginEmailAddress" formControlName="emailAddress" autocapitalize="off">
            </mat-form-field>

            <mat-form-field class="b-w-100" color="primary">
              <mat-label for="loginPassword">Password</mat-label>
              <input matInput type="password" id="loginPassword" formControlName="password">
            </mat-form-field>

            <p *ngIf="loginError" class="error" aria-live="assertive">
              Login error: {{ loginError }}
            </p>
          </form>
        </mat-dialog-content>

        <mat-dialog-actions style="justify-content: space-between;">
          <a (click)="forgotPasswordClicked()">Forgot Password?</a>
          <div>
            <button
              id="login-modal-submit"
              mat-raised-button
              [disabled]="!loginForm.valid || loggingIn"
              (click)="login()"
              color="primary"
            >Log in</button>
            <button mat-raised-button mat-dialog-close cdkFocusInitial color="accent">Cancel</button>
          </div>
        </mat-dialog-actions>
      </ng-template>

    </biggive-page-section>
  </div>
</main>
