@import '../../styles';

.c-details {
  @include make-container;
}

.c-details__listing-button--link {
  @include make-back-button;
}

.c-details__header {
  @include make-primary-column;
}

.c-details__header--charity-name {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  color: $colour-grey;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.c-details__header--campaign-title {
  margin: 0 0 1rem;
  color: $colour-teal-dark;
  font-weight:600;
  @include size-xxl;
  @media #{$breakpoint-md} {
    @include size-xxxl;
  }
  line-height:1.2;
}

.c-details__header--description {
  @include size-lg;
  @media #{$breakpoint-md} {
    font-size: 24px;
  }
  margin-bottom:2rem;
  line-height:1.5;
}

.c-details__header--donate-button {
  @include make-donate-button;
}

.c-details__header--social-link {
  margin-right: 1rem;
}

.c-details__header--social-icon {
  width: 21px;
}

.c-details__header--icon {
  font-size: 1rem;
  vertical-align: sub;
}

.c-details__card {
  @include make-secondary-column;
}

.c-tabs {
  @media #{$breakpoint-md} {
    max-width: 50%;
  }
  @media #{$breakpoint-xl} {
    max-width: 70%;
  }
  overflow-x: scroll;
}

.c-details__tabs--quotes {
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}

.c-tabs__quotes--blockquote {
  border-left: solid 2px $colour-teal-dark;
  padding-left: 2rem;
  margin: 0 0 0 2rem;
  white-space: pre-wrap;
}

.c-tabs__quotes--attribution {
  text-align: right;
  margin-bottom: 2rem;
}

.c-tabs--video {
  width: 100%;
  height: auto;
}

.c-tabs__video--iframe {
  width: 100%;
  height: 235px;
  padding-top: 1rem;
  @media #{$breakpoint-lg} {
    height: 300px;
  }
  @media #{$breakpoint-xl} {
    height: 400px;
  }
}

.c-tabs__additional--images {
  margin: 1rem auto 0 auto;
  max-width: 100%;
}

.c-details__tabs--budget,
.c-details__tabs--updates {
  padding: 0;
  list-style: none;
}

.c-tabs__aims--item {
  @include rt-0;
}

.c-tabs__budget--item {
  white-space: pre-wrap;
}

.c-details__header--website,
.c-tabs__budget--amount,
.c-tabs__updates--description {
  font-weight: 700;
}

.c-tabs__details--heading,
.c-tabs__impact--heading {
  @include rt-2;
  margin: 0;
  &:first-child {
    margin-top: 1rem;
  }
}

.c-tabs__details--description,
.c-tabs__impact--description {
  white-space: pre-wrap;
}

mat-tab-group {
  margin-top: 2rem;

  h4 {
    font-weight: 500;
    margin-bottom: 0;
  }
}
