@import '../../abstract';

h1 {
  @media #{$breakpoint-sm} {
    font-size: 30px;
    line-height: 30px;
  }
  @media #{$breakpoint-md} {
    font-size: 40px;
    line-height: 40px;
  }
  @media #{$breakpoint-lg} {
    font-size: 50px;
    line-height: 50px;
  }
}

.b-back-button {
  @include make-back-button;
}

.b-rt-0 {
  @include b-rt-0;
}

.c-details-container {
  display: flex;
  flex-direction: column;

  @media #{$breakpoint-lg} {
    flex-direction: row;
  }
}

.c-social {
  // Ensure good clearance between the Donate button & website link, even when there's no
  // regulator info (exempt org) or social links.
  min-height: 21px;
}

.c-tab-group {
  margin-top: 2rem;
}

.c-tabs {
  max-width: 100%;
  overflow-x: scroll;
}

.c-quotes {
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}

.c-quotes__blockquote {
  border-left: solid 2px $colour-black;
  padding-left: 2rem;
  margin: 0 0 0 2rem;
  white-space: pre-wrap;
}

.c-quotes__attribution {
  text-align: right;
  margin-bottom: 2rem;
}

.c-video {
  width: 100%;
  height: auto;
}

.c-video__iframe {
  height: 235px;
  padding-top: 1rem;
  @media #{$breakpoint-lg} {
    height: 300px;
  }
  @media #{$breakpoint-xl} {
    height: 400px;
  }
}

.c-additional__images {
  margin: 1rem auto 0 auto;
  width: 100%;
  max-width: 100%;
}

.c-budget,
.c-updates {
  padding: 0;
  list-style: none;
}

.c-budget__item,
.c-details,
.c-impact {
  white-space: pre-wrap;
}

.c-budget__amount,
.c-updates__description {
  font-weight: 700;
}

.icons {
  @include format-icon-container;
}

.icon-wrapper {
  @include format-icon-list-item;

  svg {
    color: $colour-primary;
    font-size: 40px;
    min-width: 4rem;
  }
  
  .c-icon-title {
    @include format-icon-title;
  }

}

.button-wrapper {
  background-color: white;
}

@include vary-campaign-info-layout();
