<main class="b-container">
  @if (campaignInPast) {
    <biggive-page-section>
      <biggive-call-to-action
        class="b-mt-40"
        main-title="This campaign has now closed"
        [subtitle]="'But ' + campaign.charity.name + ' may have others'"
        primary-button-label="View all their campaigns"
        [primaryButtonUrl]="'/charity/' + campaign.charity.id "
      ></biggive-call-to-action>
    </biggive-page-section>
  }

  <div class="b-back-button">
    <biggive-formatted-text>
      @if (campaign.parentRef && fromFund) {
        <a mat-icon-button [routerLink]="'/' + campaign.parentRef + '/' + campaign.championRef">
          <mat-icon class="listing-button__icon" aria-hidden="false" aria-label="Back">keyboard_arrow_left</mat-icon>
          All {{ campaign.championName }} campaigns<br>
        </a>
      }
      @if (campaign.parentRef && !fromFund) {
        <a
          class=""
          mat-icon-button
          (click)="goBackToMetacampaign()"
          >
          <mat-icon aria-hidden="false" aria-label="Back">keyboard_arrow_left</mat-icon>
          All participating campaigns
        </a>
      }
      @if (!campaign.parentRef) {
        <a mat-icon-button routerLink="/explore">
          <mat-icon class="" aria-hidden="false" aria-label="Back">keyboard_arrow_left</mat-icon>
          All campaigns
        </a>
      }
    </biggive-formatted-text>
  </div>

  <div class="c-details-container">
    <div class="b-primary-column">
      <biggive-branded-image
        space-below="4"
        [imageUrl]="campaign.bannerUri | optimisedImage:2000 | async"
        [logoUrl]="campaign.charity.logoUri ? (campaign.charity.logoUri | optimisedImage:240 | async) : null"
        [slug]="campaign.isMatched ? 'Match Funded' : null"
        [charityName]="campaign.charity.name"
        [charityLocation]="campaign.countries.length > 1 ? 'Multiple locations' : (campaign.countries[0] || null)"
        >
      </biggive-branded-image>

      <biggive-heading
        space-above=0
        space-below=0
        colour="primary"
        html-element="h1"
        size="3"
        align="left"
        [text]="campaign.title"
        >
      </biggive-heading>

      <biggive-formatted-text
        default-text-colour="black">
        <p>{{ campaign.summary }}</p>
      </biggive-formatted-text>

      @if (campaign.charity.website) {
        <biggive-social-icon
          service="Web"
          [labelPrefix]="campaign.charity.name"
          [url]="campaign.charity.website"
          background-colour="black"
          icon-colour="white"
          wide="true"
        ></biggive-social-icon>
      }

      @if (campaign.charity.facebook) {
        <biggive-social-icon
          service="Facebook"
          [labelPrefix]="campaign.charity.name"
          [url]="campaign.charity.facebook"
          background-colour="black"
          icon-colour="white"
          wide="true"
        ></biggive-social-icon>
      }

      @if (campaign.charity.twitter) {
        <biggive-social-icon
          service="Twitter"
          [labelPrefix]="campaign.charity.name"
          [url]="campaign.charity.twitter"
          background-colour="black"
          icon-colour="white"
          wide="true"
        ></biggive-social-icon>
      }

      @if (campaign.charity.linkedin) {
        <biggive-social-icon
          service="LinkedIn"
          [labelPrefix]="campaign.charity.name"
          [url]="campaign.charity.linkedin"
          background-colour="black"
          icon-colour="white"
          wide="true"
        ></biggive-social-icon>
      }

      @if (campaign.charity.instagram) {
        <biggive-social-icon
          service="Instagram"
          [labelPrefix]="campaign.charity.name"
          [url]="campaign.charity.instagram"
          background-colour="black"
          icon-colour="white"
          wide="true"
        ></biggive-social-icon>
      }

      <div id="campaign-highlights-beneficiaries-and-categories-mobile">
        <div class="button-wrapper">
          @if (donateEnabled) {
            <biggive-button
              space-below="5"
              colour-scheme="primary"
              label="Donate now"
              full-width="true"
              size="medium"
              rounded="false"
              [url]="'/donate/' + campaign.id"
            ></biggive-button>
          }
        </div>
        <app-campaign-info [campaign]="campaign"></app-campaign-info>
      </div>

      @if (videoEmbedUrl) {
        <div class="c-video">
          <iframe
            loading="lazy"
            class="c-video__iframe b-w-100"
            [src]="videoEmbedUrl"
            frameborder="0"
            allow="encrypted-media"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
          allowfullscreen="true"></iframe>
        </div>
      }


      <div class="c-tabs">
        <mat-tab-group class="c-tab-group" animationDuration="0ms" [color]="'primary'">
          <mat-tab label="Campaign overview">
            <div class="c-details">

              <biggive-heading
                space-above=6
                space-below=0
                colour="primary"
                html-element="h3"
                size="3"
                align="left"
                text="Situation"
                >
              </biggive-heading>

              <biggive-formatted-text
                default-text-colour="black">
                <p>{{ campaign.problem }}</p>
              </biggive-formatted-text>

              <biggive-heading
                space-above=6
                space-below=0
                colour="primary"
                html-element="h3"
                size="3"
                align="left"
                text="Solution"
                >
              </biggive-heading>

              <biggive-formatted-text
                default-text-colour="black">
                <p>{{ campaign.solution }}</p>
              </biggive-formatted-text>

            </div>

            @if (campaign.additionalImageUris.length > 0) {
              <div class="c-additional">
                @for (image of campaign.additionalImageUris; track $index) {
                  <img
                    [src]="image.uri | optimisedImage:850 | async"
                    class="c-additional__images"
                    >
                }
              </div>
            }

            @if (campaign.quotes.length > 0) {
              <ul class="c-quotes">
                @for (quote of campaign.quotes; track $index) {
                  <li>
                    <biggive-quote
                      space-below="4"
                      default-text-colour="black"
                      [quote]="quote.quote"
                      [attribution]="quote.person"
                      >
                    </biggive-quote>
                  </li>
                }
              </ul>
            }
          </mat-tab>

          @if (campaign.updates.length > 0) {
            <mat-tab label="Updates">
              @for (update of campaign.updates; track $index) {
                <ul class="c-updates">
                  <li>
                    <biggive-formatted-text>
                      <h4 class="b-semi-bold b-mb-0">{{ update.modifiedDate | date : 'longDate' }}</h4>
                      <p class="c-updates__description">{{ update.content }}</p>
                    </biggive-formatted-text>
                  </li>
                </ul>
              }
            </mat-tab>
          }

          @if (campaign.aims.length > 0) {
            <mat-tab label="Aims">
              <biggive-heading
                space-above=6
                space-below=0
                colour="primary"
                html-element="h3"
                size="3"
                align="left"
                text="Campaign Aims"
                >
              </biggive-heading>
              @for (aim of campaign.aims; track $index) {
                <ul class="c-aims">
                  <li class="b-rt-0">{{ aim }}</li>
                </ul>
              }
            </mat-tab>
          }

          @if (campaign.budgetDetails.length > 0 || campaign.alternativeFundUse) {
            <mat-tab label="Where's the money going?">
              <biggive-heading
                space-above=6
                space-below=0
                colour="primary"
                html-element="h3"
                size="3"
                align="left"
                text="Campaign Budget"
                >
              </biggive-heading>
              @for (detail of campaign.budgetDetails; track $index) {
                <ul class="c-budget">
                  <li class="c-budget__item">
                    <span class="c-budget__value b-semi-bold">{{ detail.amount | currency : campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo }}</span>
                    &ndash; {{ detail.description }}
                  </li>
                </ul>
              }
              @if (campaign.alternativeFundUse) {
                <div class="c-alternative-funds">
                  <biggive-heading
                    space-above=6
                    space-below=0
                    colour="primary"
                    html-element="h4"
                    size="4"
                    align="left"
                    text="Understanding the Target"
                    >
                  </biggive-heading>
                  <p class="c-alternative-funds__description">{{ campaign.alternativeFundUse }}</p>
                </div>
              }
            </mat-tab>
          }

          <mat-tab label="Impact &amp; reporting">
            <div class="c-impact">
              <biggive-heading
                space-above=6
                space-below=0
                colour="primary"
                html-element="h3"
                size="3"
                align="left"
                text="Impact"
                >
              </biggive-heading>
              <p class="c-impact__description">{{ campaign.impactSummary }}</p>

              <biggive-heading
                space-above=6
                space-below=0
                colour="primary"
                html-element="h3"
                size="3"
                align="left"
                text="Reporting"
                >
              </biggive-heading>
              <p class="c-impact__description">{{ campaign.impactReporting }}</p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="b-secondary-column">
      <div id="campaign-highlights-beneficiaries-and-categories-desktop">
        <app-campaign-info [campaign]="campaign"></app-campaign-info>

        <div class="button-wrapper">
          @if (donateEnabled) {
            <biggive-button
              space-above="5"
              colour-scheme="primary"
              label="Donate now"
              full-width="true"
              size="medium"
              rounded="false"
              [url]="'/donate/' + campaign.id"
            ></biggive-button>
          }
        </div>
      </div>
    </div>
  </div>
</main>
