@use "../../abstract";

@include abstract.vary-campaign-info-layout();

h1 {
  @media #{abstract.$breakpoint-sm} {
    font-size: 30px;
    line-height: 30px;
  }
  @media #{abstract.$breakpoint-md} {
    font-size: 40px;
    line-height: 40px;
  }
  @media #{abstract.$breakpoint-lg} {
    font-size: 50px;
    line-height: 50px;
  }
}

.banner-container {
  // set min height so content below doens't move too much (or ideally at all) when the banner loads and/or the
  // components library starts running. 30.6% as mentioned on the html is the ratio of image height to width.
  min-height: 30.6cqw;
  // on wider screens 31% of the container width is too much height, so we switch to 450px.
  @media #{abstract.$breakpoint-md} {
    min-height: 450px;
  }
}

.b-back-button {
  @include abstract.make-back-button;
}

.b-rt-0 {
  @include abstract.b-rt-0;
}

.c-details-container {
  display: flex;
  flex-direction: column;

  @media #{abstract.$breakpoint-lg} {
    flex-direction: row;
  }
}

.c-social {
  // Ensure good clearance between the Donate button & website link, even when there's no
  // regulator info (exempt org) or social links.
  min-height: 21px;
}

.c-tab-group {
  margin-top: 2rem;
}

.c-tabs {
  max-width: 100%;
  overflow-x: auto;
}

.c-quotes {
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}

.c-quotes__blockquote {
  border-left: solid 2px abstract.$colour-black;
  padding-left: 2rem;
  margin: 0 0 0 2rem;
  white-space: pre-wrap;
}

.c-quotes__attribution {
  text-align: right;
  margin-bottom: 2rem;
}

.c-video {
  width: 100%;
  height: auto;
}

.c-video__iframe {
  height: 235px;
  padding-top: 1rem;
  @media #{abstract.$breakpoint-lg} {
    height: 300px;
  }
  @media #{abstract.$breakpoint-xl} {
    height: 400px;
  }
}

.c-additional__images {
  margin: 1rem auto 0 auto;
  width: 100%;
  max-width: 100%;
}

.c-budget,
.c-updates {
  padding: 0;
  list-style: none;
}

.c-budget__item,
.c-details,
.c-impact {
  white-space: pre-wrap;
}

.c-budget__amount,
.c-updates__description {
  font-weight: 700;
}

.button-wrapper {
  background-color: white;
}
