@import '../../styles';


.c-details__header--charity-name {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.c-details__header--campaign-title {
  margin: 0 0 1rem;
}

.c-details__header--description {
  margin-bottom: 2rem;
}

.c-website__icon {
  vertical-align: sub;
  margin: 1rem 0;
}

.c-social__link {
  margin-right: 1rem;
}

.c-social__icon {
  width: 21px;
}

.c-tabs {
  @media #{$breakpoint-md} {
    max-width: 50%;
  }
  @media #{$breakpoint-xl} {
    max-width: 70%;
  }
  overflow-x: scroll;
}

.c-quotes {
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
}

.c-quotes__blockquote {
  border-left: solid 2px $colour-teal-dark;
  padding-left: 2rem;
  margin: 0 0 0 2rem;
  white-space: pre-wrap;
}

.c-quotes__attribution {
  text-align: right;
  margin-bottom: 2rem;
}

.c-video {
  width: 100%;
  height: auto;
}

.c-video__iframe {
  width: 100%;
  height: 235px;
  padding-top: 1rem;
  @media #{$breakpoint-lg} {
    height: 300px;
  }
  @media #{$breakpoint-xl} {
    height: 400px;
  }
}

.c-additional__images {
  margin: 1rem auto 0 auto;
  max-width: 100%;
}

.c-budget,
.c-updates {
  padding: 0;
  list-style: none;
}

.c-aims__item {
  @include b-rt-0;
}

.c-budget__item {
  white-space: pre-wrap;
}

.c-budget__amount,
.c-updates__description {
  font-weight: 700;
}

.c-details__heading,
.c-impact__heading {
  margin: 0;
  &:first-child {
    margin-top: 1rem;
  }
}

mat-tab-group {
  margin-top: 2rem;

  h4 {
    margin-bottom: 0;
  }
}
