@use "../../abstract";
@use "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/banner-my-account.jpg);
}
main > div {
  color: white;
  background-color: abstract.$colour-primary;

  a:link,
  a:visited,
  a:hover {
    color: white;
  }
}

div.mandate {
  position: relative;
  a:link,
  a:visited,
  a:hover {
    color: inherit !important;
    text-decoration: none;
  }
  ul {
    padding: 0;
    list-style-type: none;
    margin-top: auto;
  }

  div.cancelled {
    background-color: abstract.$colour-secondary;
    text-align: center;
    position: absolute;
    top: -3em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
