<div id="banner"></div>
<main>
  <div>
    <biggive-page-section>
      <div class="heading-wrapper">
        <biggive-heading
          colour="tertiary"
          size="1"
          align="center"
          text="Your Regular Giving Mandates"
        ></biggive-heading>
      </div>
    </biggive-page-section>
     <biggive-page-section>
        @if (mandates.length > 0) {

          <div class="mandates-container">
            @for (mandate of mandates; track mandate.id) {
                <div class="mandate">
                  <a href="/campaign/{{mandate.campaignId}}">{{ mandate.charityName }}</a> <br/>
                  Day of Month: {{ mandate.schedule.dayOfMonth }} <br/>
                  Active From: {{ mandate.schedule.activeFrom | date: 'mediumDate'}} <br/>
                  Amount: {{ mandate.amount.amountInPence / 100 | exactCurrency:mandate.amount.currency }}
                </div>
            }
          </div>

          <p>Placeholder mandates copy</p>
        } @else {
          <p>Placeholder mandates copy</p>
        }
          </biggive-page-section>
  </div>
</main>
