@use '../../abstract';
@use "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/banner-my-account.jpg);
}
main > div {
  color: white;
  background-color: abstract.$colour-primary;

  a:link, a:visited, a:hover {
    color: white;
  }
}

div.mandate {
    a:link, a:visited, a:hover {
      color: inherit !important;
      text-decoration: none;
    }
    ul {
      padding: 0;
      list-style-type: none;
      margin-top: auto;
    }
}
