<div id="banner"></div>
<main>
  <div>
    <biggive-page-section>
      <div class="heading-wrapper">
        <biggive-heading
          colour="tertiary"
          size="1"
          align="center"
          text="Your Regular Giving Mandates"
        ></biggive-heading>
      </div>
    </biggive-page-section>
     <biggive-page-section>
        @if (mandates.length > 0) {
          <biggive-grid columnCount="2">
            @for (mandate of mandates; track mandate.id) {
              <biggive-container-card
                card-colour="white"
                background-colour="primary"
              >
                <div class="mandate">
                  <h3><a href="{{'/campaign/' + mandate.campaignId}}">{{ mandate.charityName }}</a></h3>
                <ul>
                  <li>Amount: {{(mandate.amount.amountInPence / 100) | exactCurrency:mandate.amount.currency }}</li>
                  <!-- Todo: Move GA calculations below to matchbot, consider whether to also show total with match
                              funds when the next donation will be matched. -->
                  <li>Gift Aid Value: {{(0.25 * mandate.amount.amountInPence / 100) | exactCurrency:mandate.amount.currency }}</li>
                  @if (mandate.giftAid) {
                    <li>Total with gift aid {{(1.25 * mandate.amount.amountInPence / 100) | exactCurrency:mandate.amount.currency }}</li>
                  }
                  <li>Payment collection day: {{mandate.schedule.dayOfMonth}} </li>
<!--                  <li>Next expected payment date: {{ 'todo fill this in with date to be calculated in matchbot'}}</li>-->
                  <li>Active from: {{ mandate.schedule.activeFrom | date: 'mediumDate'}}</li>
                </ul>
                </div>

              </biggive-container-card>
            }
          </biggive-grid>
        } @else {
          <p>No regular giving mandates active</p>
        }
          </biggive-page-section>
  </div>
</main>
