@import "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/banner-my-account.jpg);
}
main > div {
  color: white;
  background-color: $colour-primary;
  width: 100%;

  @media #{$breakpoint-lg} {
    width: 80%; // this seems to be needed, not sure why the identical rule in auth_common.scss isn't working.
  }

  a:link, a:visited, a:hover {
    color: white;
  }
}

div.mandate {
    a:link, a:visited, a:hover {
      color: inherit !important;
      text-decoration: none;
    }
    ul {
      padding: 0;
      list-style-type: none;
      margin-top: auto;
    }
}
