@import '../../abstract';

.c-promo-card {
  @include make-card;
  height: 100%;
  cursor: pointer;
}

.c-banner__image {
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.c-header__campaign-title {
  @include size-lg;
  color: $colour-black;
  margin: 0.5rem auto 1rem auto;
  text-align: center;
}

.c-header__link {
  text-decoration: none;
}
