<div id="banner"></div>
@if (pageInitialised) {
  <main>
    <div>
      <biggive-page-section>
        @if (!showThankYouMessage) {
          <div class="heading-wrapper">
            <biggive-heading
              space-above="0"
              space-below="6"
              html-element="h1"
              size="1"
              align="center"
              text="Join our mailing list"
            ></biggive-heading>
          </div>

          <p>
            Interested in hearing when the next opportunity to donate is, or want to receive monthly updates on key
            dates for match funding applications, campaign reminders and what’s new on Big Give?
          </p>
          <p>
            Sign up now to receive campaign updates, match funding reminders and the latest news, straight to your
            inbox.
          </p>

          <form [formGroup]="mailingListForm" (keydown.enter)="onSubmit()">
            <biggive-text-input spaceBelow="4">
              <label slot="label" for="firstName">First Name *</label>
              <input
                slot="input"
                matInput
                type="text"
                id="firstName"
                [formControl]="mailingListForm.controls.firstName"
              />
              @if (submitted && mailingListForm.controls["firstName"].errors) {
                <p class="error">This field is required.</p>
              }
            </biggive-text-input>

            <biggive-text-input spaceBelow="4">
              <label slot="label" for="lastName">Last Name *</label>
              <input
                slot="input"
                matInput
                type="text"
                id="lastName"
                [formControl]="mailingListForm.controls.lastName"
              />
              @if (submitted && mailingListForm.controls["lastName"].errors) {
                <p class="error">This field is required.</p>
              }
            </biggive-text-input>

            <biggive-text-input spaceBelow="4">
              <label slot="label" for="emailAddress">Email Address *</label>
              <input
                slot="input"
                matInput
                type="email"
                id="emailAddress"
                [formControl]="mailingListForm.controls.emailAddress"
                autocapitalize="off"
                email
              />
              @if (submitted && mailingListForm.controls["emailAddress"].errors) {
                <p class="error">This field is required.</p>
              }
            </biggive-text-input>

            <input id="donor-interest" type="checkbox" [formControl]="mailingListForm.controls.donorInterest" />
            <label for="donor-interest">I am interested in opportunities to donate</label>
            <hr />

            <input id="donor-interest" type="checkbox" [formControl]="mailingListForm.controls.charityInterest" />
            <label for="donor-interest"
              >I am interested in opportunities to work with Big Give, e.g. as a representative of a charity, consultant
              or freelancer</label
            >

            <biggive-text-input spaceBelow="4">
              <label slot="label" for="organisationName">Your charity or organisation</label>
              <input
                slot="input"
                matInput
                type="text"
                id="lastName"
                [formControl]="mailingListForm.controls.organisationName"
              />
              @if (submitted && mailingListForm.controls["organisationName"].errors) {
                <p class="error">This field is required.</p>
              }
            </biggive-text-input>

            <biggive-text-input spaceBelow="4">
              <label slot="label" for="jobTitle">Job Title *</label>
              <input
                slot="input"
                matInput
                type="text"
                id="lastName"
                [formControl]="mailingListForm.controls.jobTitle"
              />
              @if (submitted && mailingListForm.controls["jobTitle"].errors) {
                <p class="error">This field is required.</p>
              }
            </biggive-text-input>

            <hr />

            <div class="button-container">
              <biggive-button
                id="subscribe-button"
                space-above="5"
                spaceBelow="4"
                colour-scheme="primary"
                label="Subscribe"
                full-width="true"
                size="medium"
                rounded="false"
                (click)="onSubmit()"
              ></biggive-button>
            </div>

            <p class="terms-text">
              We won't pass your details on to anyone else. By clicking the sign up button you agree to our
              <a href="https://biggive.org/terms-and-conditions/" target="_blank">Terms and Conditions</a> and
              <a href="https://biggive.org/privacy/" target="_blank">Privacy Policy</a>.
            </p>
          </form>
        } @else {
          <div class="thank-you-message">
            <biggive-heading
              space-above="0"
              space-below="6"
              html-element="h1"
              size="1"
              align="center"
              text="Thank you for subscribing!"
            ></biggive-heading>

            <p>You have signed up to receive our campaign updates, match funding reminders and the latest news.</p>

            <div class="button-container">
              <biggive-button
                space-above="5"
                spaceBelow="0"
                colour-scheme="primary"
                label="Return to Home"
                full-width="false"
                size="medium"
                rounded="false"
                url="/"
              ></biggive-button>
            </div>
          </div>
        }
      </biggive-page-section>
    </div>
  </main>
}
