@include backgrounds();
@include fills();
@include spacers();
@include text-colours();

:host {
  display: contents;
}

.container {
  @include standard-font();
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center center;
  padding: $spacer-4;
  height: 100%;
  white-space: pre-wrap; // helps render out \n
  .sleeve {
    padding: $spacer-4;
    height: 100%;
    box-sizing: border-box;
  }
  &.clip-bottom-left-corner-false.clip-top-right-corner-true {
    .sleeve {
      @include corner-clip-medium-top-right();
    }
  }
  &.clip-bottom-left-corner-true.clip-top-right-corner-false {
    .sleeve {
      @include corner-clip-medium-bottom-left();
    }
  }
  &.clip-bottom-left-corner-true.clip-top-right-corner-true {
    .sleeve {
      @include corner-clip-medium-bottom-left-top-right();
    }
  }

  .icon {
    svg {
      width: 50px;
      height: auto;
    }
  }
  .title {
    // these have to be the heading level passed in based on order of headings, but in terms of design we want it look like H3.
    @include heading-3();
    margin-bottom: $spacer-3;
  }
  .subtitle {
    margin-bottom: $spacer-3;
  }
}
