:host {
  display: contents;
}

.misc-icon-item {
  @include icon-large();

  @media screen and (max-width: $screen-mobile-max) {
    @include icon-medium();
    display: grid;
    // width: 100%;
    margin: auto;

    a {
      margin: auto;
    }
  }
}

.misc-icon-caret {
  height: 10px;
  width: 10px;
  margin-right: 0px;
  a {
    padding: 0px;
  }
}