@include backgrounds();
@include fills();

:host {
  display: contents;
}

.misc-icon-item {
  @include icon-large();

  @media screen and (max-width: $screen-mobile-max) {
    @include icon-medium();
    display: grid;
    margin: auto;

    a {
      margin: auto;
    }
  }
}