:host {
  display: contents;
  
}

.container {
  @include standard-font();
  a {
    display: inline-block;
    &.full-width-true {
      display: block;
    }
  }

  .msg-wrapper {
    display: flex;
    justify-content: center;

    biggive-misc-icon {
      margin-top: auto;
      margin-bottom: auto;
    }

    p {
      text-align: center;

      @media screen and (max-width: $screen-desktop-max) {
        font-size: 15px;
      }
    }
  }
}
