@if (this.browserSupportedMessage) {
  <div class="browser-unsupported-message">
    <div>
      <h2>Unsupported Browser</h2>
      <p>{{ browserSupportedMessage }}</p>
    </div>
  </div>
}
@if (currentUrlWithoutHash$ | async; as currentUrl) {
  <div class="skip-to-content-link">
    <!--
    Can't use a simple relative link for the URL because we have base href set of /d/ set in non-dev environments
    which is needed for links to assets but would break this.
    -->
    <a [href]="currentUrl.toString() + '#content'">Skip to content</a>
  </div>
}


@if (isDataLoaded) {
  <biggive-main-menu
    [donateUrlPrefix]="donateUriPrefix"
    [blogUrlPrefix]="blogUriPrefix"
    [experienceUrlPrefix]="experienceUriPrefix"
    [isLoggedIn]="isLoggedIn"
    [smallCharityWeekEnabled]="environment.environmentId !== 'production'"
    [someCampaignHasHomePageRedirect]="someCampaignHasHomePageRedirect()"
  ></biggive-main-menu>
}

<a id="content">
  <!-- target for "skip to content" link -->
</a>
<router-outlet></router-outlet>

<biggive-footer
  [headingLevel]=3
  [usePresetFooter]="true"
  [donateUrlPrefix]="donateUriPrefix"
  [blogUrlPrefix]="blogUriPrefix"
  [experienceUrlPrefix]="experienceUriPrefix"
  [smallCharityWeekEnabled]="environment.environmentId !== 'production'"
></biggive-footer>

