@import '../abstract';

biggive-main-menu {
  z-index: 11; // Must be greater than match funds reserved banner.
}

#cookie-banner {
  position: fixed;
  bottom: 3em;
  right: 3em;
  z-index: 20;
}

.skip-to-content-link {
  z-index: 10;
  margin: auto;
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 16px;
  transform: translateY(-1000%);
  transition: transform 0.3s;

  a {
    background-color: $colour-background;
    padding: 5px;
    border-radius: 3px;
  }
}

.skip-to-content-link:focus-within {
  transform: translateY(0%);
}

.browser-unsupported-message {
  background-color: $colour-secondary;
  padding: 10px;
  margin: 10px 0px;
  div {
    margin: auto;
    max-width: 500px;
  }
}
