:host {
  display: contents;
  @include standard-font();
}

.container {
  @include section-container();
  position: relative;
  &.colour-scheme-primary { color: $colour-primary; }
  &.colour-scheme-secondary {  color: $colour-secondary; }
  &.colour-scheme-tertiary { color: $colour-tertiary; }
  &.colour-scheme-white { color: $colour-white; }
  &.colour-scheme-black { color: $colour-black; }
  .sleeve {
    @include flex-container-row();
  }
}


.content-wrap {
  width: calc(40% - $spacer-3);
  position: relative;
  z-index: 1;
  .slug {
    @include heading-4;
    margin: 0;
    padding: 0;
  }
  h2 {
    @include heading-2;
    margin: 0 0 $spacer-3 0;
    padding: 0;
  }
  .teaser {
    margin: 0 0 $spacer-5 0;
    padding: 0;
  }
}


.graphic-wrap {
  width: calc(60% - $spacer-3);
}
