<main class="b-container">

  <div id="banner-thank-you"></div>

  <div>
    <div aria-live="polite">
      <div>
        <div class="screenreader-only">
          Thank you! Your generous regular donation has been set up.
        </div>
      </div>
    </div>
    <div>
      <div class="thank-you">
        <h2>Thank you!</h2>
        <p class="thank-you-text">Your generous regular donation has been set up.</p>
      </div>
      <hr aria-hidden="true">
      <div class="donation-summary">
        <p><strong>Your donation summary</strong></p>
        <p>Your donation of
          <strong
            class="figure">{{ mandate.donationAmount | money }}</strong>
          is worth
          <strong
            class="figure">
            {{ mandate.totalCharityReceivesPerInitial | money }}</strong>
            to {{mandate.charityName}}
            for the first
          <strong
            class="figure">
            {{mandate.numberOfMatchedDonations + ' months!' }}
          </strong>
        </p>
        <br/>
        <!--            @todo-regular-giving: consider adding thank you message in matchbot / SF-->
        <!--            @if (mandate?.thankYouMessage) {-->
        <!--              <p id="charity-thank-you">{{ mandate?.thankYouMessage }}</p>-->
        <!--            }-->
      </div>
      <div>
        <div class="receipt">
          <!-- Date time appears as e.g. "Sep 5, 2023" -->
          <table>
            <caption>Your Regular Donation Schedule</caption>
            <tr>
              <th scope="row">Active from</th>
              <td id="regularActiveFrom">{{ mandate.schedule.activeFrom | date: 'mediumDate' }}</td>
            </tr>
            <tr>
              <th scope="row">Payment schedule</th>
              <td id="regularDayOfMonth">Monthly on day #{{ mandate.schedule.dayOfMonth }}</td>
            </tr>
            <td></td>
            <tr class="donationAmount">
              <th scope="row">Your donation</th>
              <td>{{ mandate.donationAmount | money }}</td>
            </tr>
            <tr>
              <th scope="row">Matched amount</th>
              <td>{{ mandate.matchedAmount | money }}</td>
            </tr>
            @if (mandate.giftAid) {
              <tr>
                <th scope="row">Gift Aid</th>
                <td>{{ mandate.giftAidAmount | money }}</td>
              </tr>
            }
            <tr>
              <td colspan="2">
                <hr aria-hidden="true">
              </td>
            </tr>
            <!-- @todo-regular-giving-DON-1008: show giftAid value sent from matchbot -->
            <!-- @todo-regular-giving-DON-1003: Add extra rows when necessary below to show partially matched donations when we allow them -->
            <tr class="receives">
              <th scope="row">Months 1-3, charity receives</th>
              <td>{{ mandate.totalCharityReceivesPerInitial | money }}</td>
            </tr>
            <tr class="receives">
              <th scope="row">From month 4, charity receives</th>
              <td>{{ mandate.donationAmount | money }}</td>
            </tr>
          </table>
        </div>
        <hr class="shorter" aria-hidden="true">
      </div>
      <div class="socials">
        <p>Boost your impact by sharing on social media</p>
        <div class="social-icons-wrapper">
          <span class="separator"></span>
          <biggive-social-icon
            service="Facebook"
            label-prefix="Share"
            url="https://www.facebook.com/sharer/sharer.php?u={{ encodedShareUrl }}" background-colour="tertiary"
            icon-colour="black"
            wide="true"
          ></biggive-social-icon>
          <span class="separator"></span>
          <biggive-social-icon
            service="Twitter"
            label-prefix="Share"
            url="https://x.com/intent/post?url={{ encodedShareUrl }}&text={{ encodedPrefilledText }}"
            background-colour="tertiary"
            icon-colour="black"
            wide="true"
          ></biggive-social-icon>
          <span class="separator"></span>
          <biggive-social-icon
            service="LinkedIn"
            label-prefix="Share"
            url="https://www.linkedin.com/cws/share?url={{ encodedShareUrl }}"
            background-colour="tertiary"
            icon-colour="black"
            wide="true"
          ></biggive-social-icon>
        </div>
      </div>
    </div>
  </div>
</main>
