@use '@angular/material' as mat;
@import '../../abstract';
@include binary-options();
@include beneficiaries-and-categories();

div.summary-and-beneficiaries {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 750px) {
    flex-direction: column;
  }
}

biggive-formatted-text {
  max-width: 50%;
}

// code below duplicated from donation-start-container.component.scss
// consider refactoring to remove duplication. However not dedupling just yet as we may want
// to make changes specific to this usage - e.g. do we want to show a match funded banner or not,
// given that we need to explain a more specific message for regular giving that the first donations
// will be match funded and later ones will not be.
.c-form-container {
  display: flex;
  flex-direction: column;

  @media #{$breakpoint-lg} {
    flex-direction: row;
  }
}

.match-funded-badge-wrapper {
  position  : block;
  width     : 100%;
  height    : 100%;
  text-align: center;
}

.match-funded-badge {
  position: relative;
  display: inline-block;
  text-align: center;
  background: $colour-highlight;
  color: $colour-black;
  width  : 140px;
  padding: 0.3rem 0.5rem;
  margin-bottom: 1rem !important;
  font-size: 1rem;
  font-weight: bold;
  top: 30px;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background: none;
  box-shadow: $box-shadow-soft;
  @include b-rt-0;
}

.donation-input.donation-input-main {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  clear: both;

  input {
    text-align: right;
    font-size: 24px;
    line-height: 30px;
    font-weight: bolder;

    @media (max-width: 370px) {
      // on very narrow screens we need to give space for the prompt text above the input.
      margin-top: 30px;
    }
  }
}

input {
  @include b-rt-0;
}

input {
  outline: none;
  border: none;
  background-color: $colour-background;
  width: 100%;
  padding: 0; // We rely on containing element margin, and don't want vendor-dependent extra padding.
};

:host ::ng-deep .mat-step-header {
  // ng-deep is deprecated, but I'm not sure how else to apply our style choices inside the stepper.
  background-color: white;
  font-weight: bold;
  margin-top: 15px;
  padding: 16px 24px;

  .mat-step-text-label {
    font-weight: bold;
  }

  .mat-step-icon {
    color: $colour-black;
    background-color: transparent !important;
    border-radius: 0;

    // Borders on three sides like this with the right and
    // left transparent creates an equilateral triangle.
    // (left + right) * 86% = bottom
    // from https://css-tricks.com/snippets/css/css-triangle/
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 29.2px solid $colour-highlight;

    .mat-step-icon-content {
      margin-top: 17px;
    }
  }
}

:host ::ng-deep .mat-stepper-vertical-line::before {
  display: none;
}

:host ::ng-deep .mat-vertical-content-container {
  // no need for the margin since we don't have the vertical line.
  margin-left: 0;
}

div.youAreSupporting {
  margin-top: 10px;
  margin-bottom: 40px;
}

table#personal-details, table#paymentMethods {
  width: 100%;
  td {
    padding-bottom: 15px;
    @media #{$breakpoint-lg} {
      min-width: 150px;
    }
    vertical-align: bottom;
  }
}

.colour-primary {
  color: $colour-primary;
}

.error, .stripeError {
  color: mat.m2-get-color-from-palette($donate-warn);
  margin: 1rem 0;
}
