<main class="b-container">
  @if (!campaign.isRegularGiving) {
    <div>
      <p class="error">
        Sorry, campaign {{ campaign.title }} is not a regular giving campaign.</p>
      <p>To make a one-off donation to {{ campaign.charity.name }} please visit the <a
        href="/campaign/{{campaign.id}}">campaign page</a>.
      </p>
    </div>
  } @else {
    <div class="c-form-container">
      <biggive-page-section>
        <form
          class="c-regular-giving-form"
          (keydown.enter)="interceptSubmitAndProceedInstead($event)"
          [formGroup]="mandateForm"
        >
          <mat-vertical-stepper
            id="stepper"
            linear
            #stepper
            (selectionChange)="stepChanged($event)"
            [@.disabled]
          >
            <mat-step
              label="Your regular donation"
              class="c-your-donation">

              <div class="youAreSupporting">
                <p class="b-rt-0 b-m-0">You are supporting:</p>
                <p class="b-rt-0 b-m-0 b-bold">{{ campaign.charity.name }}</p>
              </div>

              <div class="donation-input donation-input-main">

                <biggive-text-input currency="{{campaign.currencyCode}}">
                  <label
                    class="label-with-limited-space"
                    slot="label"
                    for="donationAmount"
                  >
                    Monthly donation to {{ campaign.charity.name }}
                  </label>
                  <input
                    maxlength="10"
                    formControlName="donationAmount" id="donationAmount" matInput
                    slot="input"
                  />
                </biggive-text-input>
              </div>
              <p>This amount will be taken from your account today and once every month in future</p>

              @if (amountErrorMessage) {
              <div
                class="error"
                aria-live="polite"
              >
                {{ this.amountErrorMessage }}
              </div>
              }

              <div style="text-align: center">
                <button style="width: 40%;"
                        type="button"
                        class="continue b-w-100 b-rt-0"
                        mat-raised-button
                        color="primary"
                        (click)="this.selectStep(1)"
                >Continue
                </button>
              </div>

            </mat-step>
            <mat-step
              [label]=this.labelYourPaymentInformation
              class="c-make-your-donation"
            >
              <p> <!-- hack to take up space until I find a better way -->

                <!-- @todo-regular-giving - make each or all payment detail fields read-only if already set on
                     donor account - if donors want to edit them direct them to do so on the My Account page,
                     to make clear that it will affect existing mandates as well as the new one -->

                @if (donorAccount.regularGivingPaymentMethod) {
                  <!-- @todo-regular-giving: show existing payment method here, and/or on account page -->
                  <p style="border: 2px solid blue; background: pink">
                    Your existing regular giving payment method {{ donorAccount.regularGivingPaymentMethod }}
                    will be used for these donations.
                    To change this please visit your account page

                    (todo-regular-giving: replace this paragraph with an element showing details of the saved method)
                  </p>
                } @else {
                  <biggive-text-input>
                    <span slot="label">Payment Method</span>
                    <!-- no label because we don't have a labelable form element - the card form is supplied by Stripe not us -->
                    <div slot="input" class="sr-input sr-card-element" id="card-info" #cardInfo></div>
                  </biggive-text-input>

                  <p>

                    <biggive-form-field-select
                      [prompt]="'Billing country'"
                      [options]="countryOptionsObject"
                      [selectedValue]="selectedBillingCountryCode"
                      [backgroundColour]="'grey'"
                      [selectionChanged]="setSelectedCountry"
                      [spaceBelow]="3"
                      [selectedOptionColour]="'inherit'"
                    >
                    </biggive-form-field-select>

                    <biggive-text-input>
                      <label slot="label" for="billingPostcode">Billing postcode</label>
                      <input slot="input" formControlName="billingPostcode" id="billingPostcode" matInput
                             (change)="onBillingPostCodeChanged($event)" autocapitalize="characters"
                             autocomplete="postal-code">
                    </biggive-text-input>
                    }

                @if (paymentInfoErrorMessage) {
                  <div
                    class="error"
                    aria-live="polite"
                  >
                    {{ paymentInfoErrorMessage }}
                  </div>
                }

              <div style="text-align: center">
                <button style="width: 40%;"
                        type="button"
                        class="continue b-w-100 b-rt-0"
                        mat-raised-button
                        color="primary"
                        (click)="this.selectStep(2)"
                >Continue
                </button>
              </div>

            </mat-step>
            <mat-step
              label="Confirm"
              class="c-make-your-donation"
            >
              <p>
                Your details
              </p>
              <table id="personal-details">
                <tr>
                  <td>Name</td>
                  <td>{{ donor.first_name }} {{ donor.last_name }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{ donor.email_address }}</td>
                </tr>
              </table>

              <p class="b-rt-0 b-m-0 b-mt-40">By clicking on the <span class="b-bold">Start regular giving now</span>
                button, you agree to
                Big Give's Terms and Conditions and Privacy Statement. <br/>
                <a [href]="termsUrl" target="_blank">
                  <mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon>
                  Read our Terms and Conditions,
                </a>
                <a [href]="privacyUrl" target="_blank">
                  <mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon>
                  read our Privacy Statement.</a>
              </p>
              <p>(todo-regular-giving: add link to regular giving terms & conditions)</p>

              @if (submitErrorMessage) {
                <div
                  class="error"
                  aria-live="polite"
                >
                  {{ submitErrorMessage }}
                </div>
              }

              @if (!submitting) {
                <button
                  (click)="submit()"
                  (keyup.enter)="submit()"
                  class="c-donate-button b-donate-button b-w-100 b-rt-1"
                  mat-raised-button
                  color="primary"
                >
                  Start regular giving now
                </button>
              } @else {
                <div aria-live="polite">
                  @if (submitting) {
                    <mat-spinner color="primary" diameter="30"
                                 aria-label="Processing your regular giving mandate"></mat-spinner>
                  }
                </div>
              }
            </mat-step>
          </mat-vertical-stepper>
        </form>
      </biggive-page-section>
    </div>
  }
</main>
