<main class="b-container">
  <div class="c-form-container">
    <div class="b-primary-column">
      <biggive-page-section>
      <biggive-heading
        space-above=0
        space-below=3
        colour="black"
        html-element="h1"
        size="1"
        align="left"
        text="Regular giving to {{campaign.charity.name}} for {{campaign.title}}"
      >
      </biggive-heading>
      </biggive-page-section>
      <biggive-page-section>
        <p>Todo - create regular giving form here</p>
      </biggive-page-section>
    </div>
    <div class="b-secondary-column">
      <!-- On this page, we agreed that this info is best to hide entirely on mobile. So
      this has no `mobile` counterpart but we still use the mixin that hides this on mobile. -->
        <div
          id="campaign-highlights-beneficiaries-and-categories-desktop"
        >
          <div class="match-funded-badge-wrapper">
            @if (campaign.matchFundsRemaining > 0) {
              <div class="match-funded-badge">
                Match Funded
              </div>
            }
          </div>
          @if (bannerUri$ | async; as bannerUri) {
          <div class="c-banner">
            @if (bannerUri) {
              <img
                class="c-banner__image b-w-100"
                [src]="bannerUri"
                alt=""
                role="presentation"
              >
            }
          </div>
          }
          <app-campaign-info [campaign]="campaign"></app-campaign-info>
        </div>
    </div>
  </div>
</main>
