$orange: #ed6743;

.hero {
    width: 100%;
    height: 375px;
    background-image: url('../../assets/images/gogiveonebg.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cta {
    .b-container {
        display: grid;

        .section-padding {
            padding: 60px 0;
        }
    
        h1 {
            padding: 50px 0;
            color: $orange;
            text-align: center;
            font-size: 2.75rem;
            line-height: initial;
        }
    
        .multicurrency-location-pick-wrapper {
            //margin: auto centers the multicurrency-location-pick-wrapper
            margin: auto;
            padding: 75px 0;
        }
    }
}


#match-funders {
    min-height: 50vh;
    padding: 100px 0;
    background-color: lightgrey;

    .b-container {
        display: grid;

        h3 {
            color: white;
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
        }
    
        .logo-wrapper {
            padding: 25px 0 50px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            img {
                width: 250px;
                margin: 20px;
                border-radius: 10px;
            }
        }
    
        a {
            color: white;
            font-size: 1.5rem;
            font-weight: 500;
            // margin: auto centers the link text
            margin: auto;
        }
    }
}

#about-go-give-one {
    background-color: $orange;
    padding: 200px 0;

    .b-container {
        h2 {
            color: white;
            text-align: center;
            font-size: 2.5rem;
            margin: 0 0 50px 0;
            line-height: initial;
        }

        p {
            color: white;
            text-align: center;
            font-size: 2rem;
            max-width: 750px;
            margin: 0 auto 20px auto;
            line-height: initial;
        }
    }
}

#social {
    .b-container {
        h2 {
            text-align: center;
        }

        .socials-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .c-social-image {
                fill: $orange;
                padding: 0 15px;
                height: 50px;
            }

            .ng-fa-icon {
                padding: 0 12px !important;
                font-size: 3rem !important;
                color: $orange !important;
            }
        }
    }
}


@media (max-width: 768px) {
    #social {
        .b-container {
            .socials-wrapper {
                .c-social-image {
                    height: 40px;
                    padding: 0 12px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #social {
        .b-container {
            .socials-wrapper {
                .c-social-image {
                    height: 35px;
                    padding: 0 10px;
                }
            }
        }
    }
}