<main>
  <!-- <app-ticker [campaign]="campaign" [fund]="fund"></app-ticker> -->
  <div class="hero">

  </div>

  <section class="cta">
    <div class="b-container">
      <h1>Vaccines for everyone, everywhere</h1>
      <div class="multicurrency-location-pick-wrapper" style="padding: 0 0 150px 0;">
        <app-multicurrency-location-pick></app-multicurrency-location-pick>
      </div>
    </div>
  </section>


  <section id="match-funders">
    <div class="b-container">

      <h3>Match Funded By</h3>

      <div class="logo-wrapper">
        <img src="../../assets/images/white-square.JPG">
        <img src="../../assets/images/white-square.JPG">
        <img src="../../assets/images/white-square.JPG">
        <img src="../../assets/images/white-square.JPG">
        <img src="../../assets/images/white-square.JPG">
        <img src="../../assets/images/white-square.JPG">
        <img src="../../assets/images/white-square.JPG">
      </div>
  
      <a href="">Companies, join the campaign</a>

    </div>
  </section>

  <section id="about-go-give-one">  
    <div class="b-container">
      <h2>A global solution to a local problem</h2>
      <p>Go Give One is a COVID-19 fundraising campaign with no borders. Created by the WHO Foundation, the campaign calls on everyone, everywhere to play their part in helping to vaccinate the world.</p>
      <p>The money raised goes to an international fund called COVAX AMC, which buys COVID-19 vaccines for the world, prioritizing those who need them the most in countries that cannot afford them.</p>
    </div>
  </section>

  <section class="cta">
    <div class="b-container">
      <div class="multicurrency-location-pick-wrapper">
        <app-multicurrency-location-pick></app-multicurrency-location-pick>
      </div>
    </div>
  </section>


  <section id="social">
    <div class="b-container">
      <h2>Share this</h2>
      <div class="socials-wrapper">
        <img class="c-social-image" src="/assets/svgs/facebook-square-brands.svg" alt="Facebook" aria-label="Share on Facebook" width="50">
        <img class="c-social-image" src="/assets/svgs/twitter-brands.svg" alt="Twitter" aria-label="Share on Twitter" width="50">
        <img class="c-social-image" src="/assets/svgs/instagram-brands.svg" alt="Instagram" aria-label="Share on Instagram" width="50">
      </div>
    </div>
  </section>
</main>
