<main>
  <div class="b-container">
    <h1>Vaccines for everyone, everywhere</h1>

    <app-multicurrency-location-pick></app-multicurrency-location-pick>

    <p>Sponsor logos</p>

    <h2>A global solution to a local problem</h2>
    <p>Go Give One is a COVID-19 fundraising campaign with no borders. Created by the WHO Foundation, the campaign calls on everyone, everywhere to play their part in helping to vaccinate the world.</p>
    <p>The money raised goes to an international fund called COVAX AMC, which buys COVID-19 vaccines for the world, prioritizing those who need them the most in countries that cannot afford them.</p>

    <app-multicurrency-location-pick></app-multicurrency-location-pick>

  </div>
</main>
