@import '../../abstract';

h5 {
    font-size: 1rem;
}

.icon-container {
    margin-bottom: 30px;
}

.icons {
    @include format-icon-container;
}

.icon-wrapper {
    @include format-icon-list-item;

    // in campaign-details.component.scss the selector here is `svg` rather than `fa-icon`, but that doesn't seem to work
    // here.
    fa-icon.ng-fa-icon {
        color: $colour-primary; // #2C089BFF
        font-size: 40px;
        min-width: 4rem;
    }

    .c-icon-title {
        @include format-icon-title;
    }
}
