@use '@angular/material' as mat;
@import '../../../abstract';

.mat-stepper-horizontal, .mat-stepper-vertical {
  background: none;
  box-shadow: $box-shadow-soft;
  @include b-rt-0;
}

:host ::ng-deep div.mdc-form-field {
  font-size: inherit;
}

:host ::ng-deep .mdc-button__label {
  font-size: inherit;
}

div.mdc-form-field label {
  outline: 3px solid green;
  font-size: inherit;
}

:host ::ng-deep .mat-step-label, .mat-step-label-selected {
  @include b-rt-1;
}

input {
  @include b-rt-0;
}

:host ::ng-deep .mat-step-header {
  // ng-deep is deprecated, but I'm not sure how else to apply our style choices inside the stepper.
  background-color: white;
  font-weight: bold;
  margin-top: 15px;
  padding: 16px 24px;

  .mat-step-text-label {
    font-weight: bold;
  }

  .mat-step-icon {
    color: $colour-black;
    background-color: transparent !important;
    border-radius: 0;

    // Borders on three sides like this with the right and
    // left transparent creates an equilateral triangle.
    // (left + right) * 86% = bottom
    // from https://css-tricks.com/snippets/css/css-triangle/
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 29.2px solid $colour-highlight;

    .mat-step-icon-content {
      margin-top: 17px;
    }
  }
}

:host ::ng-deep .mat-stepper-vertical-line::before {
  display: none;
}

:host ::ng-deep .mat-vertical-content-container {
  // no need for the margin since we don't have the vertical line.
  margin-left: 0;
}

div .c-banner {
  background-color: white;
}

div.donationInfoWrapper {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 40px;
  flex-direction: column;
  gap: 20px;

  @media #{$breakpoint-md} {
    flex-direction: row;
  }
}

input:disabled {
  cursor: not-allowed; // Visual help on desktop when e.g. address lookup has frozen postcode field.
}

.b-center {
  text-align: center;
}

.b-hidden {
  display: none;
}

.b-mr-2 {
  margin-right: 2rem;
}

.b-rt-sm {
  .material-icons {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
}

.b-rt-0 {
  @include b-rt-0;
}

.b-rt-1 {
  @include b-rt-1;
}

.mat-mdc-form-field {
  width: 70%;
  margin: 0 auto;
}

.payment-method-options {
  .mdc-form-field {
    background: green;
    margin-top: 0;
  }

  mat-checkbox {
    margin-top: 0;
  }
}

.mat-primary {
  margin-top: 1rem;
}

#payment-request-button {
  margin-top: 2rem;
}

.StripeElement {
  width: 100%;
}

.c-timer {
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
  background: $colour-highlight;
  color: $colour-black;
  padding: 0.5rem;
  display: block;
  text-align: center;
}


.c-donate-form {
  margin: 2rem auto;
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.c-your-donation {
  p {
    margin: 0;
    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }
}

.c-your-donation__highlight {
  background: $colour-highlight;
  color: $colour-black;
  padding: 0.5rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem !important;
  font-weight: bold;

  img {
    padding-right: 1rem;
  }
}

.no-margin-top {
  margin-top: 0;
}

.donation-input {
  .form-field {
    margin: 0 auto;
    display: block;
    font-weight: 700;
  }

  // Larger breakpoints only
  .floating-label {
    white-space: initial; // make text run onto next line instead of overflowing parent div.
    font-size: 16px; // Even larger input fields need small placeholders to fit long charity names.

    @media only screen and (max-width: 650px) {
      display: none;
    }

    @media only screen and (max-width: 1200px) {
      font-size: 12px;
    }

    @media only screen and (max-width: 800px) {
      font-size: 10px;
    }
  }

  // Small breakpoints only
  .fixed-label {
    display: none;

    @media only screen and (max-width: 650px) {
      display: block;
      color: mat.get-color-from-palette($donate-primary);
      font-size: 10px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1.5rem;
    }
  }
}

.donation-input.donation-input-main {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  clear: both;

  input {
    text-align: right;
    font-size: 24px;
    line-height: 30px;
    font-weight: bolder;

    @media (max-width: 370px) {
      // on very narrow screens we need to give space for the prompt text above the input.
      margin-top: 30px;
    }
  }
}

input {
  float: right;
  outline: none;
  border: none;
  background-color: $colour-background;
  width: 100%;
};

#giftAidAddressContainer {
  margin-top: 60px;
}

div#giftAidAddressContainer > div {
  margin-top: 20px;
}

.donation-input-tip__status-help {
  margin-bottom: 1.5rem;
}


a {
  text-decoration: none;
}

.c-breakdown {
  margin-bottom: 1rem;

  .mat-icon {
    height: 14px;
  }
}

button.continue, .c-donate-button {
  margin-top: 36px !important;
  margin-bottom: 22px !important;
  padding: 1.5rem;
  max-width: 300px;
}

.c-donate-button {
  @include make-donate-button;

}

.c-donate-button-amount {
  vertical-align: baseline;
}

.c-donation-receipt {
  list-style-type: none;
  padding: 1rem 0;

  li {
    @include b-rt-sm;

    .mat-icon {
      vertical-align: middle;
    }
  }
}

.mat-mdc-form-field-hint {
  display: block;
  width: 100%;

  .address-loading-spinner {
    float: right;
    margin: 0;
  }
}

.c-donation-summary {
  margin: 1rem auto;
  text-align: center;
}

.error {
  color: mat.get-color-from-palette($donate-warn);
  margin: 1rem 0;
}

.prefix {
  font-size: 2rem
}

.prefix-tbg {
  font-weight: 700; // Match the bigger donate field's input style weight, which the infix matches.
}

.homeOutsideUK-wrapper {
  text-align: right;
  margin-top: 3rem;

  @media #{$breakpoint-md} {
    margin-top: inherit;
  }
}

div.match-funded-badge {
  width: 15em;
  height: 2em;
  text-align: center;
  background-color: $colour-highlight;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -1em;
}

div.match-funded-badge-wrapper {
  position: relative;
}

// bullets as arrows: https://stackoverflow.com/a/12216973

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;

  * {
    text-indent: initial;
  }
}

mat-expansion-panel li:before {
  content: "→";
  padding-right: 5px;
}
mat-expansion-panel {
  margin-top: 30px;
}

.mat-expansion-panel-header {
  padding-right: 5px;
  padding-left: 0;
}

.button {
  text-decoration: underline;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.colour-primary {
  color: $colour-primary;
}

.binary-options {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-direction: column;

  @media ($breakpoint-md) {
    flex-direction: row;
  }
}

p.binary-question-header {
  margin-top: 30px;
}

div.binary-option {
  flex-basis: 50%;
  background-color: $colour-card-background;
  box-shadow: $box-shadow-soft;
  border-radius: 4px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  // no need for padding-top as form element inside has a top margin

  position: relative;

  ::ng-deep label {
    padding-left: 40px;
  }

  ::ng-deep .mdc-radio {
    position: absolute;
    top: 8px;
  }
}

div.payment-details {
  margin-bottom: 2.5rem;
}

div.payment-details > * {
  width: 100%;
  margin-bottom: 24px;
}

table.summary {
  text-align: left;
  width: 100%;
  border-spacing: 0 1em;
  tr {
    td:last-child {
      text-align: right;
    }
    td {
      div {
        display: inline-block;
        max-width: 15rem;
      }
    }
  }
}
.receives {
  td {
    background-color: $colour-highlight;
    padding: 5px;
  }
}
.total {
  color: $colour-primary;
}
