@if (campaignOpenOnLoad) {
  <form class="c-donate-form" (keyup.enter)="interceptSubmitAndProceedInstead($event)" [formGroup]="donationForm">
    <mat-vertical-stepper id="stepper" linear #stepper (selectionChange)="stepChanged($event)" [@.disabled]>
      <mat-step
        formGroupName="amounts"
        [stepControl]="amountsGroup"
        [label]="stepLabels.yourDonation"
        class="c-your-donation"
      >
        @if (campaign.matchFundsRemaining > 0) {
          <p class="donation_highlight">Match funds are currently available!</p>
        }
        <h1 class="donationInfoWrapper">
          <span class="side">
            <span class="b-rt-0 b-m-0">You are supporting:</span>
            <span class="b-rt-0 b-m-0 b-bold">{{ campaign.charity.name }}</span>
          </span>
          <span class="side">
            <span class="b-rt-0 b-m-0">for:</span>
            <span class="b-rt-0 b-m-0 b-bold">{{ campaign.title }}</span>
          </span>
        </h1>
        <div class="donation-input donation-input-main">
          <biggive-text-input currency="{{ campaign.currencyCode }}">
            <label class="label-with-limited-space" slot="label" for="donationAmount">
              Donation to {{ campaign.charity.name }}
            </label>
            <input maxlength="10" formControlName="donationAmount" id="donationAmount" matInput slot="input" />
          </biggive-text-input>
        </div>
        @if (
          donationAmountField?.invalid &&
          donationAmountField?.errors &&
          (donationAmountField?.dirty || donationAmountField?.touched)
        ) {
          <div class="error" aria-live="polite">
            {{ displayableAmountsStepErrors() }}
          </div>
        }
        @if (creditPenceToUse === 0) {
          <div>
            <hr style="margin: 20px auto" />
            <h2 class="b-rt-0 b-m-0 b-bold">Support Big Give</h2>
            @if (creditPenceToUse === 0) {
              <p>
                Tips to Big Give (registered charity number 1136547) enable us to deliver our charitable mission and
                help us provide match funds to our charity partners. We truly appreciate any tip you can give - no
                matter the size.
              </p>
            }
            @if (creditPenceToUse === 0) {
              <div style="text-align: center">
                @if (!showCustomTipInput) {
                  <div class="donation-input donation-input-main">
                    <mat-slider
                      id="tipSlider"
                      [min]="minimumTipPercentage"
                      [max]="maximumTipPercentage"
                      step="1"
                      discrete
                      [displayWith]="updateTipPercentAndFormatSliderLabel"
                      class="tip-slider"
                      [class.slider-being-dragged]="isTipSliderBeingDragged"
                      aria-label="Tip percentage"
                    >
                      <input
                        matSliderThumb
                        [value]="tipPercentage"
                        (dragStart)="startTipSliderDrag()"
                        (dragEnd)="endTipSliderDrag()"
                        (valueChange)="setTipPercentage($event)"
                      />
                    </mat-slider>
                  </div>
                }

                @if (donationAmount && (tipAmount() === 0 || showCustomTipInput)) {
                  <div style="text-align: left">
                    <h3>A small tip makes a big difference. You will help us:</h3>
                    <ul>
                      <li>
                        <strong>Build our charity partners' digital skills and resilience</strong>
                        <br />
                        With your support, we can continue to provide free training and resources.
                      </li>
                      <li>
                        <strong>Provide innovative fundraising technology</strong>
                        <br />
                        Help us invest in cutting-edge tech and make it even easier to donate through Big Give.
                      </li>
                      <li>
                        <strong>Double the difference and then some!</strong>
                        <br />
                        We transform your tips into match funds. Since 2022, charities have received over £200,000 in
                        match funding from Big Give.
                      </li>
                    </ul>
                  </div>
                }

                <div [style]="showCustomTipInput ? '' : 'display: none;'" class="donation-input donation-input-main">
                  <biggive-text-input currency="{{ campaign.currencyCode }}">
                    <label slot="label" for="tipAmount">Donation to the Big Give Trust</label>
                    <input
                      maxlength="10"
                      formControlName="tipAmount"
                      id="tipAmount"
                      matInput
                      aria-describedby="custom-tip-status"
                      slot="input"
                    />
                  </biggive-text-input>
                </div>
                @if (
                  tipAmountField?.invalid &&
                  tipAmountField?.errors &&
                  (tipAmountField?.dirty || tipAmountField?.touched)
                ) {
                  <div class="error" aria-live="polite">
                    Please enter how much you would like to donate to Big Give as a number of
                    {{ currencySymbol }}, optionally with 2 decimals and up to
                    {{ maximumDonationAmount | exactCurrency: campaign.currencyCode }}.
                  </div>
                }

                @if (
                  !showCustomTipInput &&
                  donationAmount &&
                  donationAmount > 0 &&
                  tipAmountField?.valid &&
                  tipAmount() > 0
                ) {
                  <mat-hint>
                    <p>{{ tipValue | exactCurrency: campaign.currencyCode }} donation to support Big Give</p>
                  </mat-hint>
                }

                @if (showCustomTipInput) {
                  <p>
                    <a
                      role="button"
                      tabindex="0"
                      (click)="hideCustomTipInput($event)"
                      (keyup.space)="hideCustomTipInput($event)"
                      (keyup.enter)="hideCustomTipInput($event)"
                      >Choose as percentage</a
                    >
                  </p>
                } @else {
                  <p>
                    <a
                      role="button"
                      tabindex="0"
                      (click)="displayCustomTipInput($event)"
                      (keyup.space)="displayCustomTipInput($event)"
                      (keyup.enter)="displayCustomTipInput($event)"
                      >Custom amount</a
                    >
                  </p>

                  @if (tipInputABTestVariant === "C") {
                    <p>
                      <a
                        role="button"
                        tabindex="0"
                        (click)="zeroAndDisplayCustomTipInput($event)"
                        (keyup.space)="zeroAndDisplayCustomTipInput($event)"
                        (keyup.enter)="zeroAndDisplayCustomTipInput($event)"
                        >I do not want to give a tip</a
                      >
                    </p>
                  }
                }

                @if (showCustomTipInput && donationAmount && donationAmount > 0) {
                  <mat-hint>
                    {{
                      tipAmount() > 0 && tipAmount() / donationAmount < 0.001
                        ? "Less than 0.1%"
                        : (tipAmount() / donationAmount | percent: "1.0-1")
                    }}
                    of main donation
                  </mat-hint>
                }
              </div>
            }
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <h3 class="b-rt-0 b-m-0 b-bold"><span class="span-hr"></span>How does Big Give use tips?</h3>
              </mat-expansion-panel-header>
              <p><strong>Everything we receive goes back into supporting charities:</strong></p>
              <ul>
                <li>We’re a charity, too — you help us keep our platform running!</li>
                <li>
                  Free training and resources build the resilience of charities that do not have access to the funds or
                  publicity that others do.
                </li>
                <li>We give additional funds to help match donations in campaigns through our Anchor Match Fund.</li>
              </ul>
              <p>Thank you! If you have any questions about tips, please contact us at hello&#64;biggive.org.</p>
            </mat-expansion-panel>
          </div>
        }
        <div aria-live="polite">
          <div style="text-align: center">
            @if (donationCreateError) {
              <p class="error">
                Sorry, we can't register your donation right now. Please try again in a moment or
                <a href="https://biggive.org/faqs/" target="_blank">
                  <mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon>
                  contact us</a
                >
                if this message persists.
              </p>
              <button
                type="button"
                class="continue b-w-100 b-rt-0"
                mat-raised-button
                color="primary"
                (click)="retryDonationCreate()"
              >
                Retry
              </button>
            } @else {
              <button type="button" class="continue" mat-raised-button color="primary" (click)="next()">
                Continue
              </button>
            }
          </div>

          @if (shouldShowCaptcha) {
            <div
              tabindex="0"
              class="frc-captcha"
              [attr.data-sitekey]="friendlyCaptchaSiteKey"
              data-puzzle-endpoint="https://api.friendlycaptcha.com/api/v1/puzzle, https://eu-api.friendlycaptcha.eu/api/v1/puzzle"
              #frccaptcha
            ></div>
          }
        </div>
      </mat-step>
      @if (campaign.currencyCode === "GBP") {
        <mat-step formGroupName="giftAid" [stepControl]="giftAidGroup" [label]="stepLabels.giftAid">
          <p class="b-mt-40 b-bold b-rt-0">
            <!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
            <!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
            <span (click)="cancelExpiryWarningForQA()">Boost</span> your donation by
            <span class="colour-primary">25p</span> of Gift Aid for every <span class="colour-primary">£1</span> you
            donate.
            <!-- eslint-enable @angular-eslint/template/interactive-supports-focus -->
            <!-- eslint-enable @angular-eslint/template/click-events-have-key-events -->
          </p>
          <p class="b-grey b-rt-sm">
            I confirm that I am a UK tax payer and I understand that if I pay less income tax and/or capital gains tax
            in the current tax year than the amount of Gift Aid claimed on all my donations it is my responsibility to
            pay the difference.
          </p>
          <p class="b-grey b-rt-sm">
            Gift Aid is a government scheme for UK charities to reclaim the tax you have paid and gain 25% more at no
            cost or hassle to you.
          </p>
          <p>
            <a [href]="termsUrl" target="_blank"
              ><mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon>Find
              out more about Gift Aid</a
            >
          </p>
          <mat-radio-group formControlName="giftAid">
            <div class="binary-options">
              <div class="binary-option">
                <mat-radio-button class="b-mr-2 gift-aid" labelPosition="after" [value]="true">
                  @if (this.tipValue) {
                    <strong>Yes</strong>, I want to Gift Aid my donation to {{ campaign.charity.name }} and the tip to
                    Big Give.
                  } @else {
                    <strong>Yes</strong>, I want to Gift Aid my donation to {{ campaign.charity.name }}.
                  }
                </mat-radio-button>
              </div>
              <div class="binary-option">
                <mat-radio-button class="b-mr-2 gift-aid" labelPosition="after" [value]="false">
                  <strong>No</strong>, I do not meet the criteria for Gift Aid to be claimed, or do not want Gift Aid
                  claimed
                </mat-radio-button>
              </div>
            </div>
            @if (triedToLeaveGiftAid && giftAidRequiredRadioError()) {
              <p class="error" aria-live="polite">
                {{ giftAidRequiredRadioError() }}
              </p>
            }
          </mat-radio-group>
          @if (giftAidGroup.value.giftAid) {
            <div id="giftAidAddressContainer">
              <div>
                <biggive-text-input>
                  <label slot="label" for="homeAddress">Home address line 1</label>
                  <input
                    formControlName="homeAddress"
                    id="homeAddress"
                    matInput
                    slot="input"
                    autocomplete="address-line1"
                  />
                </biggive-text-input>

                <mat-hint> This is for your Gift Aid declaration to HMRC </mat-hint>
                @if (giftAidGroup.get("homeAddress")?.errors?.maxlength) {
                  <div class="error">Maximum 255 characters exceeded</div>
                }
              </div>
              @if (!giftAidGroup.value.homeOutsideUK) {
                <div>
                  <biggive-text-input>
                    <label slot="label" for="homePostcode">Home postcode</label>
                    <input
                      autocomplete="postal-code"
                      formControlName="homePostcode"
                      id="homePostcode"
                      autocapitalize="characters"
                      matInput
                      slot="input"
                    />
                  </biggive-text-input>
                </div>
              }
              <div class="homeOutsideUK-wrapper">
                <mat-checkbox formControlName="homeOutsideUK" id="homeOutsideUK"> I live outside the UK </mat-checkbox>
              </div>
            </div>
          }
          <div style="text-align: center">
            <button type="button" class="continue" mat-raised-button color="primary" (click)="next()">Continue</button>
          </div>
        </mat-step>
      }
      <mat-step formGroupName="payment" [stepControl]="paymentGroup" [label]="stepLabels.paymentDetails">
        <p class="b-grey b-rt-sm" style="padding-top: 20px">
          <img src="/assets/images/powered-by-stripe-black.svg" alt="Powered by stripe" style="width: 12.7rem" />
          <br />
          <a href="https://stripe.com/docs/security/stripe" target="_blank" style="display: inline-block; width: 13rem"
            ><mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon> Learn
            more about Stripe</a
          >
        </p>
        <div class="payment-details">
          <div>
            <biggive-text-input>
              <label slot="label" for="firstName">First Name *</label>
              <input slot="input" formControlName="firstName" id="firstName" autocomplete="given-name" matInput />
            </biggive-text-input>
            @if (paymentGroup.get("firstName")?.errors?.maxlength) {
              <div class="error">Maximum 40 characters exceeded</div>
            }
          </div>
          <div>
            <biggive-text-input>
              <label slot="label" for="lastName">Last Name *</label>
              <input slot="input" formControlName="lastName" id="lastName" autocomplete="family-name" matInput />
            </biggive-text-input>
            @if (giftAidGroup.value.giftAid) {
              <mat-hint>This is for Gift Aid, smooth payment and identifying you if you have questions.</mat-hint>
            }
            @if (!giftAidGroup.value.giftAid) {
              <mat-hint>For smooth payment and identifying you if you have questions.</mat-hint>
            }
            @if (paymentGroup.get("lastName")?.errors?.maxlength) {
              <div class="error">Maximum 80 characters exceeded</div>
            }
          </div>
          <div>
            <biggive-text-input>
              <label slot="label" for="emailAddress">Email Address *</label>
              <input
                slot="input"
                formControlName="emailAddress"
                id="emailAddress"
                type="email"
                autocapitalize="off"
                autocomplete="email"
                matInput
              />
            </biggive-text-input>
            <mat-hint
              >We'll send you a donation receipt and use this to confirm it's you in case you have any
              queries.</mat-hint
            >
          </div>
          <div>
            <!-- Placeholder to occupy last part the row and stop previous field expanding -->
          </div>
        </div>
        @if (creditPenceToUse > 0) {
          <div>
            <p id="useCreditsMessage" class="b-center">
              Your donation funds balance will be applied against this donation. No further funds will be taken.
            </p>
          </div>
        }
        <!-- We need the ElementRef to always be available for Stripe.js mounting as there are
              a few dynamic ways the input can become or cease to be relevant. So just CSS-hide the
              element when not needed, and always mount it. -->
        <div class="payment-details" [style.display]="creditPenceToUse === 0 ? 'block' : 'none'">
          <div class="sr-combo-inputs-row">
            <biggive-text-input>
              <span slot="label">Payment Method</span>
              <!-- no label because we don't have a labelable form element - the card form is supplied by Stripe not us -->
              <div slot="input">
                @if (stripeElementLoading) {
                  <mat-spinner color="primary" diameter="30" aria-label="Loading payment form"> </mat-spinner>
                }
                <div class="sr-input sr-card-element" id="card-info" #cardInfo></div>
              </div>
            </biggive-text-input>
            @if (!donor) {
              <div class="error" aria-live="polite">
                <p>
                  Sorry, there was an error showing the payment field. Please try again or
                  <a href="https://biggive.org/contact-form/">contact us</a> if the problem persists.
                </p>
              </div>
            }
            <div>
              @if (showCardReuseMessage) {
                Your card will only be saved for reuse if you tick the box above and create a donor account.
              }
            </div>
          </div>
          <div [style.display]="isSavedPaymentMethodSelected ? 'none' : 'block'">
            <biggive-form-field-select
              [prompt]="'Billing country'"
              [options]="countryOptionsObject"
              [selectedValue]="selectedCountryCode"
              [backgroundColour]="'grey'"
              [selectionChanged]="setSelectedCountry"
              [spaceBelow]="3"
              [selectedOptionColour]="'inherit'"
            >
            </biggive-form-field-select>
            <biggive-text-input>
              <label slot="label" for="billingPostcode">Billing postcode</label>
              <input
                slot="input"
                formControlName="billingPostcode"
                id="billingPostcode"
                matInput
                (change)="onBillingPostCodeChanged($event)"
                autocapitalize="characters"
                autocomplete="billing postal-code"
              />
            </biggive-text-input>
          </div>
        </div>
        @if (stripeError) {
          <p class="stripeError" aria-live="assertive">
            <!-- We do not use the "error" css class because we don't want to scroll to this error automatically, since
                  it likely can't be fixed here and the donor will have to try making their payment again to make it go away. -->
            {{ stripeError }}
          </p>
        }
        @if (paymentStepErrors) {
          <p class="error">
            <!-- No need for aria-live on this because the errors will have already been in an aria-live toast pop.
                  They are here in addition to all the donor to review them in detail.
                  -->
            {{ paymentStepErrors }}
          </p>
        }
        <div style="text-align: center">
          <button type="button" class="continue" mat-raised-button color="primary" (click)="next()">Continue</button>
        </div>
      </mat-step>
      <mat-step formGroupName="marketing" [stepControl]="marketingGroup" [label]="stepLabels.receiveUpdates">
        <p class="binary-question-header b-bold b-rt-0" id="optInCharityEmail-label">
          Would you be happy to receive email updates from
          <span class="colour-primary">{{ campaign.charity.name }}</span
          >?
        </p>
        <mat-radio-group aria-labelledby="optInCharityEmail-label" formControlName="optInCharityEmail">
          <div class="binary-options">
            <div class="binary-option">
              <mat-radio-button class="b-mr-2" labelPosition="after" [value]="true">
                Yes, I'm happy to receive emails from {{ campaign.charity.name }}
              </mat-radio-button>
            </div>
            <div class="binary-option">
              <mat-radio-button class="b-mr-2" labelPosition="after" [value]="false">
                No, I would not like to receive emails from {{ campaign.charity.name }}
              </mat-radio-button>
            </div>
          </div>
          @if (triedToLeaveMarketing && errorMessagesForMarketingStep().optInCharityEmailRequired) {
            <p class="error" aria-live="assertive">{{ errorMessagesForMarketingStep().optInCharityEmailRequired }}.</p>
          }
        </mat-radio-group>
        <mat-hint>
          @if (campaign.charity.optInStatement) {
            <p class="no-margin-top b-rt-sm b-grey">{{ campaign.charity.optInStatement }}</p>
          }
          @if (marketingGroup.value.optInCharityEmail === false) {
            <p aria-live="polite" class="no-margin-top b-rt-sm b-grey">
              @if (giftAidGroup.value.giftAid) {
                <span
                  >We will pass on your details for Gift Aid processing purposes, but the charity will be informed that
                  you do not wish to receive communications.</span
                >
              }
              Please note that you might continue to receive communications from the charity if you have already shared
              your details with them via other methods.
            </p>
          }
          @if (marketingGroup.value.optInCharityEmail) {
            <p aria-live="polite" class="no-margin-top b-rt-sm b-grey">
              As you are providing personal information to {{ campaign.charity.name }}, please make sure you read and
              agree to their privacy statement.
            </p>
          }
        </mat-hint>
        <p class="binary-question-header b-bold b-rt-0" id="optInTbgEmail-label">
          Would you be happy to receive emails from <span class="colour-primary">Big Give</span>?
        </p>
        <mat-radio-group aria-labelledby="optInTbgEmail-label" formControlName="optInTbgEmail">
          <div class="binary-options">
            <div class="binary-option">
              <mat-radio-button class="b-mr-2" labelPosition="after" [value]="true">
                Yes, I'm happy to receive emails from Big Give
              </mat-radio-button>
            </div>
            <div class="binary-option">
              <mat-radio-button class="b-mr-2" labelPosition="after" [value]="false">
                No, I would not like to receive emails from Big Give
              </mat-radio-button>
            </div>
          </div>
          @if (triedToLeaveMarketing && errorMessagesForMarketingStep().optInTbgEmailRequired) {
            <p class="error" aria-live="assertive">
              {{ errorMessagesForMarketingStep().optInTbgEmailRequired }}
            </p>
          }
        </mat-radio-group>
        @if (marketingGroup.value.optInTbgEmail === false) {
          <mat-hint aria-live="polite">
            <p class="no-margin-top b-rt-sm b-grey">
              By selecting 'no', we will no longer be able to email you about opportunities to double your donation.
            </p>
          </mat-hint>
        }
        @if (showChampionOptIn) {
          <div>
            <p class="binary-question-header b-bold b-rt-0" id="optInChampionEmail-label">
              Would you be happy to receive emails from <span class="colour-primary">{{ campaign.championName }}</span
              >?
            </p>
            <mat-radio-group aria-labelledby="optInChampionEmail-label" formControlName="optInChampionEmail">
              <mat-hint>{{ campaign.championOptInStatement }}.</mat-hint>
              <div class="binary-options">
                <div class="binary-option">
                  <mat-radio-button class="b-mr-2" labelPosition="after" [value]="true">
                    Yes, I'm happy to receive emails from {{ campaign.championName }}
                  </mat-radio-button>
                </div>
                <div class="binary-option">
                  <mat-radio-button class="b-mr-2" labelPosition="after" [value]="false">
                    No, I would not like to receive emails from {{ campaign.championName }}
                  </mat-radio-button>
                </div>
              </div>
              @if (triedToLeaveMarketing && errorMessagesForMarketingStep().optInChampionEmailRequired) {
                <p class="error" aria-live="polite">
                  {{ errorMessagesForMarketingStep().optInChampionEmailRequired }}
                </p>
              }
            </mat-radio-group>
            @if (marketingGroup.value.optInChampionEmail === false) {
              <mat-hint aria-live="polite">
                <p class="no-margin-top b-rt-sm b-grey">
                  Please note that you might continue to receive communications from the champion if you have already
                  shared your details with them via other methods.
                </p>
              </mat-hint>
            }
          </div>
        }
        <div style="text-align: center">
          <button type="button" class="continue" mat-raised-button color="primary" (click)="next()">Continue</button>
        </div>
      </mat-step>
      <mat-step [label]="stepLabels.confirm" class="c-make-your-donation">
        <p class="b-rt-0 b-m-0 b-mt-40">
          By clicking on the <span class="b-bold">Donate now</span> button, you agree to Big Give's Terms and Conditions
          and Privacy Statement. <br />
          <a [href]="termsUrl" target="_blank">
            <mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon>
            Read our Terms and Conditions,
          </a>
          <a [href]="privacyUrl" target="_blank">
            <mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon>
            read our Privacy Statement.</a
          >
        </p>
        <div class="c-donation-summary">
          @if (donationUpdateError) {
            <p class="error" aria-live="assertive">
              Sorry, we can't submit your donation right now. Please try again in a moment or
              <a href="https://biggive.org/faqs/" target="_blank">
                <mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon>
                contact us</a
              >
              if this message persists.
            </p>
          }
          @if (finalPreSubmitUpdateFailed) {
            <button
              style="width: 40%"
              type="button"
              class="continue"
              mat-raised-button
              color="primary"
              (click)="retryFinalPreSubmitUpdate()"
            >
              Retry
            </button>
          }
          @if (retrying) {
            <p class="error" aria-live="polite">It looks like our system is a bit busy, one moment please&hellip;</p>
          }
          @if (noPsps) {
            <p class="error" aria-live="assertive">
              Sorry, we are really busy and cannot take your donation right now. Please refresh the page in a few
              minutes to try again.
            </p>
          }
          @if (stripeError) {
            <p class="stripeError" aria-live="assertive">
              <!-- We do not use the "error" css class because we don't want to scroll to this error automatically, since
                it likely can't be fixed here and the donor will have to try making their payment again to make it go away. -->
              {{ stripeError }}
            </p>
          }
          <p></p>
          @if (donation) {
            <table class="summary">
              <tr class="donationAmount">
                <td>Your donation to {{ campaign.charity.name }}</td>
                <td>{{ donationAmount | exactCurrency: donation.currencyCode }}</td>
              </tr>
              @if (donation.matchedAmount > 0) {
                <tr>
                  <td>Matched Amount</td>
                  <td>{{ expectedMatchAmount() | exactCurrency: donation.currencyCode }}</td>
                </tr>
              }
              @if (giftAidAmount() > 0) {
                <tr>
                  <td>Gift Aid Amount</td>
                  <td>{{ giftAidAmount() | exactCurrency: donation.currencyCode }}</td>
                </tr>
              }
              <!-- If the donor is using credit we wouldn't be taking a tip at this point,
                and if we are charging a campaign fee we wouldn't have asked for a tip
                -->
              @if (creditPenceToUse === 0) {
                <tr>
                  <td>Tip Amount</td>
                  <td>{{ donation.tipAmount | exactCurrency: donation.currencyCode }}</td>
                </tr>
              }
              <tr>
                <td colspan="2"><hr /></td>
              </tr>
              <tr class="total">
                <td>
                  <div><strong>Total amount you will be charged</strong></div>
                </td>
                <td>
                  <strong>{{ donationAndExtrasAmount | exactCurrency: donation.currencyCode }}</strong>
                </td>
              </tr>
            </table>
          }
          @if (!submitting && !runningFinalPreSubmitUpdate && !finalPreSubmitUpdateFailed) {
            <button
              (click)="submit()"
              (keyup.enter)="submit()"
              class="continue c-donate-button"
              mat-raised-button
              color="primary"
            >
              Donate now
            </button>
          }
          <div aria-live="polite">
            @if (runningFinalPreSubmitUpdate) {
              <mat-spinner color="primary" diameter="30" aria-label="Loading"></mat-spinner>
            }
          </div>
          <div aria-live="polite">
            @if (submitting) {
              <mat-spinner color="primary" diameter="30" aria-label="Processing your donation"></mat-spinner>
            }
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
}
