:host {
  display: contents;
}

.container {
  @include standard-font();
  position: relative;
  text-align: left;
  padding: $spacer-4;
  @include lower-shadow();
  .sleeve {
    padding:  $spacer-4 $spacer-4 0 $spacer-4;
    @include corner-clip-medium-bottom-left();
  }
  .slug {
    margin-bottom: $spacer-1;
  }
  .date {
    @include font-size-small();
    margin-bottom: $spacer-3;
  }
  h3 {
    @include heading-4();
    margin-bottom: $spacer-3;
    a,
    a:hover {
      text-decoration: none;
    }
  }
  .image-group {
    margin-bottom: $spacer-3;
    .image-wrap {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-size: cover;
      background-position: center center;
      margin-bottom: $spacer-1;
      img {
        display: none;
      }
    }
    .image-label {
      @include font-size-small();
    }
  }

}