:host {
  display: contents;
}

.container {
  @include standard-font();
  position: relative;
  .slug {
    text-align: center;
    font-weight: bold;
    span {
      background-color: $colour-secondary;
      color: $colour-black;
      padding: $spacer-1 $spacer-3;
    }
  }
  .logo-wrap {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
  }
}