<div class="c-filters">
  <div class="c-filters__groups">
    <mat-form-field class="b-w-100 c-filters__group" appearance="outline">
      <mat-label>Sort By</mat-label>
      <mat-select [(value)]="selected.sortField" (selectionChange)="setSortField($event)">
        <mat-option value="matchFundsRemaining">Match Funds Remaining</mat-option>
        <mat-option value="amountRaised">Most Raised</mat-option>
        <mat-option *ngIf="hasTerm()" value="">Relevance</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      (click)="openFilters()"
      class="b-w-100 b-light c-filters__group c-filters__filter-button"
      [color]="hasFilter() ? 'accent' : ''"
    >
      <mat-icon *ngIf="hasFilter()">check_circle_outline</mat-icon>
      <mat-icon>filter_alt</mat-icon> Filters
    </button>
  </div>

  <a
    *ngIf="showClearFilters"
    class="c-filters__reset"
    (click)="clearFilters()"
    aria-label="Clear search and filters"
  >View all</a>
</div>
