@import "../../styles";

.c-filters {
  margin-top: 1rem;
  position: relative;

  &__groups {
    display: flex;
    max-width: $full-copy-max-width;
    margin: 0 auto;
  }

  &__group {
    &:first-child {
      padding-right: 1rem;
    }
  }

  &__filter-button {
    margin-top: 4px;
    height: 3.3rem;
  }

  &__reset {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto 1rem auto;
    background-image: url(/assets/images/clear-filters.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
