<div class="filters">
  <mat-form-field>
    <mat-label>Order</mat-label>
    <mat-select [value]="selectedSort" (selectionChange)="setSortField($event)">
      <mat-option value="matchFundsRemaining">Match Funds Remaining</mat-option>
      <mat-option value="amountRaised">Most Raised</mat-option>
      <mat-option *ngIf="hasTerm" value="">Relevance</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Helping</mat-label>
    <mat-select value="" (selectionChange)="setFilter('beneficiary', $event)">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let beneficiary of beneficiaryOptions" [value]="beneficiary">{{ beneficiary }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select value="" (selectionChange)="setFilter('category', $event)">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let category of categoryOptions" [value]="category">{{ category }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <mat-select value="" (selectionChange)="setFilter('country', $event)">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let country of countryOptions" [value]="country">{{ country }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Doubling</mat-label>
    <mat-select [value]="false" (selectionChange)="setFilter('onlyMatching', $event)">
      <mat-option [value]="false">All</mat-option>
      <mat-option [value]="true">Only Doubling</mat-option>
    </mat-select>
  </mat-form-field>
</div>
