@import "../../styles";

.clear-filter {
  background-image: url(/assets/images/clear-filters.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-right: 2em;
  margin-top: 2.5em;
  margin-right: 1.5em;
  cursor: pointer;
}

.mat-form-field {
  width: 180px;
  padding-top: 1.4375em;
}

.c-filters {
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
}

.c-filters__selects {
  display: flex;
  @media #{$breakpoint-lg} {
    justify-content: center;
  }

  @media only screen and (max-width: 1100px) {
    overflow-x: scroll;
  }
}

.c-filters__fade-out {
  pointer-events: none;
  width: 100px;
  height: 50px;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(250, 250, 250, 0.6)
  );
  top: 0;
  right: 0;
  z-index: 100;

  @media #{$breakpoint-lg} {
    display: none;
  }
}

.c-filters__form-field {
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
  @media #{$breakpoint-lg} {
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
  @media #{$breakpoint-xl} {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
