@import '../../styles';

.c-grid {
  @include campaign-grid;
  margin-top: 1rem;
}

.error {
  color: mat-color($donate-warn);
  max-width: 600px;
  text-align: center;
  margin: 1rem auto;
}

.mat-spinner {
  margin: 3rem auto 0;
}

.c-video__iframe {
  height: 235px;
  padding-top: 1rem;
  @media #{$breakpoint-lg} {
    width: 800px;
    height: 400px;
  }
  @media #{$breakpoint-xl} {
    width: 800px;
    height: 400px;
  }
}