@import '../../styles';

app-campaign-card {
  width: 100%;
}

mat-grid-list {
  margin: 1rem;
}

.childhood-trust-icon {
  background-image: url('/assets/childhood-trust-map.png');
  background-size: cover;
}

.error {
  color: mat-color($donate-warn);
}
