@use '@angular/material' as mat;
@import '../../abstract';

.error {
  color: mat.m2-get-color-from-palette($donate-warn);
  max-width: $full-copy-max-width;
  text-align: center;
  margin: 1rem auto;
}

.mat-mdc-progress-spinner {
  margin: 3rem auto 0;
}
