<app-hero *ngIf="campaign"
  [title]="fund ? fund.name + ' &ndash; ' + campaign.title : campaign.title"
  [description]="fund ? fund.description : campaign.summary"
  (heroSearch)="onMetacampaignSearch($event)"
></app-hero>

<mat-card *ngIf="campaign">
  <mat-card-header *ngIf="fund">
    <img *ngIf="fund.logoUri" [src]="fund.logoUri + '?width=200'" width="100" [alt]="fund.name + ' logo'">
    <mat-card-subtitle *ngIf="campaign.status == 'Preview'">Opens in {{ campaign.startDate | timeLeft }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="campaign.status != 'Preview'">{{ fund.amountRaised | currency : '£' : 'symbol' : '1.0-0' }} raised</mat-card-subtitle>
  </mat-card-header>

  <mat-card-header *ngIf="!fund">
    <mat-card-subtitle *ngIf="campaign.status == 'Preview'">Opens in {{ campaign.startDate | timeLeft }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="campaign.status != 'Preview'">{{ campaign.amountRaised | currency : '£' : 'symbol' : '1.0-0' }} raised</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<div class="card-section" *ngIf="campaign && children">
  <div class="filters">
    <mat-form-field>
      <mat-label>Order</mat-label>
      <mat-select [value]="selectedSort" (selectionChange)="setSortField($event)">
        <mat-option value="matchFundsRemaining">Match Funds Remaining</mat-option>
        <mat-option value="amountRaised">Most Raised</mat-option>
        <mat-option *ngIf="hasTerm" value="">Relevance</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Helping</mat-label>
      <mat-select value="" (selectionChange)="setQueryProperty('beneficiary', $event)">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let beneficiary of beneficiaryOptions" [value]="beneficiary">{{ beneficiary }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select value="" (selectionChange)="setQueryProperty('category', $event)">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let category of categoryOptions" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <mat-select value="" (selectionChange)="setQueryProperty('country', $event)">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let country of countryOptions" [value]="country">{{ country }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Is Doubling</mat-label>
      <mat-select [value]="false" (selectionChange)="setQueryProperty('onlyMatching', $event)">
        <mat-option [value]="false">Doubling or Not</mat-option>
        <mat-option [value]="true">Only Doubling</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-grid-list [cols]="cols()" rowHeight="27rem" gutterSize="1rem">
    <mat-grid-tile *ngFor="let campaign of children">
      <app-campaign-card [campaign]="campaign"></app-campaign-card>
    </mat-grid-tile>
  </mat-grid-list>

  <p *ngIf="moreMightExist()"><button (click)="more()">More Campaigns</button></p>
</div>

<div *ngIf="filterError">
  <!-- e.g. campaign or fund slug is not recognised -->
  <p class="error">Could not load the campaign. You might have followed a broken link.</p>
  <p>Not to worry, you can <a routerLink="/">browse all active campaigns here</a>!</p>
</div>
