@use '~@angular/material' as mat;
@import '../../abstract';

.c-grid {
  @include campaign-grid;
  margin-top: 1rem;
}

.error {
  color: mat.get-color-from-palette($donate-warn);
  max-width: $full-copy-max-width;
  text-align: center;
  margin: 1rem auto;
}

.mat-spinner {
  margin: 3rem auto 0;
}