<app-hero *ngIf="campaign"
  [campaign]="campaign"
  [fund]="fund"
  [title]="fund ? fund.name + ' / ' + campaign.title : campaign.title"
  [description]="fund ? fund.description : campaign.summary"
  (heroSearch)="onMetacampaignSearch($event)"
  [logoUri]="fund && fund.logoUri ? fund.logoUri : null"
></app-hero>

<div class="card-section" *ngIf="campaign && children">
  <app-filters
    [hasTerm]="hasTerm"
    [selectedSort]="selectedSort"
    (filterApplied)="onFilterApplied($event)"
    (sortApplied)="onSortApplied($event)"
  ></app-filters>

  <div class="cards-grid">
    <div class="cards-grid__card" *ngFor="let campaign of children">
      <app-campaign-card [campaign]="campaign"></app-campaign-card>
    </div>
  </div>

  <p class="more-campaigns" *ngIf="moreMightExist()">
    <button mat-raised-button (click)="more()">
      More Charities
    </button>
  </p>
</div>

<div *ngIf="filterError">
  <!-- e.g. campaign or fund slug is not recognised -->
  <p class="error">Could not load the campaign. You might have followed a broken link.</p>
  <p>Not to worry, you can <a routerLink="/">browse all active campaigns here</a>!</p>
</div>
