<mat-card *ngIf="campaign">
  <mat-card-header>
    <mat-card-title>{{ campaign.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="campaign.status == 'Preview'">Opens in {{ campaign.startDate | timeLeft }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="campaign.status != 'Preview'">{{ campaign.amountRaised | currency : '£' : 'symbol' : '1.0-0' }} raised</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ campaign.summary }}</p>
  </mat-card-content>
</mat-card>

<div *ngIf="children">
  <h2>Participating Campaigns</h2>

  <h3>Filters</h3>
  <mat-form-field>
    <mat-label>Beneficiary</mat-label>
    <mat-select (selectionChange)="setFilter('beneficiary', $event)">
      <mat-option *ngFor="let beneficiary of beneficiaryOptions" [value]="beneficiary">{{ beneficiary }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="setFilter('category', $event)">
      <mat-option *ngFor="let category of categoryOptions" [value]="category">{{ category }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select (selectionChange)="setFilter('country', $event)">
      <mat-option *ngFor="let country of countryOptions" [value]="country">{{ country }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-grid-list [cols]="cols()" rowHeight="27rem" gutterSize="1rem">
    <mat-grid-tile *ngFor="let campaign of children">
      <app-campaign-card [campaign]="campaign"></app-campaign-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="filterError">
  <!-- e.g. campaign or fund slug is not recognised -->
  <p class="error">Could not load the campaign. You might have followed a broken link.</p>
  <p>Not to worry, you can <a routerLink="/">browse all active campaigns here</a>!</p>
</div>
