@include spacers();

:host {
  display: contents;
}

.prompt {
  position: absolute;
  z-index: 2;
  font-size: small;
  top: -1em;
  background-color: $colour-white;
  left: 4em;
  padding-left: 1em;
  padding-right: 1em;
  color: $colour-primary-blue;
}
.prompt.grey {
  background-color: $colour-grey-background;
}

.dropdown {
  @include standard-font();
  position: relative;
  margin-top: 1em;
  text-align: left;
  &.select-style-bordered {
    .sleeve {
      @include dropdown();
    }
  }
  &.select-style-underlined {
    .sleeve {
      @include dropdown-underlined();
    }
  }
  .options {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $colour-white;
    position: absolute;
    display: none;
    z-index: 1;
    left: 0;
    right: 0;
    border-left: 1px solid $colour-primary-blue;
    border-right: 1px solid $colour-primary-blue;
    border-bottom: 1px solid $colour-primary-blue;
  }
  &.active .options {
      display: block;
  }
}
.options.grey {
  background-color: $colour-grey-background;
}
