@use '../../abstract';
@use "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/banner-my-account.jpg);
}
main > div {
  color: white;
  background-color: abstract.$colour-primary;

  a:link, a:visited, a:hover {
    color: white;
  }
}

#change-form-container {
  padding: 1em;
  // using this background colour
  // is required to make our non-rectangular form fields work
  background-color: abstract.$colour-background;

  // other colours then have to be changed to provide contrast.
  color: black;

  a:link, a:visited, a:hover {
    color: abstract.$colour-primary;
  }
}
