<div id="banner"></div>
<main>
  <div>
    <biggive-page-section>
      <div class="heading-wrapper">
        <biggive-heading
          colour="tertiary"
          size="1"
          align="center"
          text="Change Regular Giving Payment Method"
        ></biggive-heading>
      </div>
    </biggive-page-section>
    <biggive-page-section>
      <p>Your current payment method for regular giving:</p>
      <table id="regularGivingPaymentMethod" class="paymentMethods">
        <tr>
          <td class="cardBrand">
            <div
              class="cardBrand">{{ (paymentMethods.regularGivingPaymentMethod?.card?.brand || paymentMethods.regularGivingPaymentMethod?.type)?.toUpperCase() }}
            </div>
            @if (paymentMethods.regularGivingPaymentMethod?.card !== undefined) {
              <div>
                Card Ending: {{ paymentMethods.regularGivingPaymentMethod?.card?.last4 }}
              </div>
            }
            @if (paymentMethods.regularGivingPaymentMethod?.card) {
              <div class="cardExpiry">
                Expiry
                Date: {{ paymentMethods.regularGivingPaymentMethod?.card.exp_month?.toString()?.padStart(2, "0") }}
                /{{ paymentMethods.regularGivingPaymentMethod?.card.exp_year }}
              </div>
            }
          </td>
        </tr>
      </table>
    </biggive-page-section>

    <!--    Not using a biggive-text-input component to wrap the payment element here-->
    <!--    because that only works on a grey background. This page has a blue background.-->

    <biggive-page-section>
      <div id="change-form-container">
        <form
          class="c-regular-giving-form"
          [formGroup]="paymentMethodForm"
        >
      <h3>New Payment Method for Regular Giving</h3>
      <div class="sr-input sr-card-element" id="card-info" #cardInfo>
        Loading payment card form...
      </div>
      <div style="margin-top: 2em;">

        <biggive-form-field-select
          [prompt]="'Billing country'"
          [options]="countryOptionsObject"
          [selectedValue]="selectedCountryCode"
          [backgroundColour]="'grey'"
          [selectionChanged]="setSelectedCountry"
          [spaceBelow]="3"
          [selectedOptionColour]="'inherit'"
        >
        </biggive-form-field-select>

        <biggive-text-input>
          <label slot="label" for="billingPostcode">Billing postcode</label>
          <input slot="input" id="billingPostcode"
                 matInput
                 formControlName="billingPostcode"
                 [value]="this.paymentMethods.regularGivingPaymentMethod?.billing_details?.address?.postal_code || ''"
                 autocapitalize="characters"
                 autocomplete="postal-code">
        </biggive-text-input>

      </div>
      <div id="error-message" aria-live="polite" class="error">
          <strong>{{ errorMessage }}</strong>
      </div>
      <div style="height: 80px"></div>
      <biggive-button
        (click)="confirmSetup()"
        label="Confirm"
        full-width="false"
        size="medium"
        colour-scheme="white"
      />
        </form>
      </div>
    </biggive-page-section>
  </div>
</main>
