@use '@angular/material' as mat;
@import '../../abstract';

.auth-options {
    display: flex;
    justify-content: space-between;
    max-width: 15rem;
    margin-bottom: 2rem;
}

.mat-stepper-vertical {
    margin-top: 8px;
}

button[mat-button] {
    background-color: mat.m2-get-color-from-palette($donate-primary);
    color: white;
    box-shadow: $box-shadow-hard;
}

.tip-text {
    margin-bottom: 0;
}

#giftAidOptIn {
    margin-bottom: 20px;
}

.error {
    color: mat.m2-get-color-from-palette($donate-warn);
    font-size: 1rem; // slightly smaller text
    margin: 0;
}

#addressWrapper {
    display: inline-grid;
    width: 50%;
    padding: 0 30px 60px 30px;
}

button#my-account-link {
  margin-right: 1em;
}

.homeOutsideUK-wrapper {
  text-align: right;
  margin-top: 3rem;

  @media #{$breakpoint-md} {
    margin-top: inherit;
  }
}
