:host {
  display: contents;
  @include standard-font();
}


@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  .main-message-wrap {
    position: absolute;
    z-index: 1;
    padding: $spacer-2 $spacer-4;
    left: 0;
    top: 0;
    @include font-size-large();
    font-weight: 600;
    max-width: 33.3%;
  }
  .ticker-wrap {
    padding: $spacer-2 0 $spacer-2 0;
    min-height: 17px;
    @include font-size-medium();
    overflow: hidden;
    position: relative;
    .sleeve {
      width: 100%;
      position: absolute;
      left: 100%;
      display: flex;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: ticker;
      animation-duration: 20s;
      .ticker-item {
        white-space: nowrap;
        padding: 0 $spacer-3;
      }
    }
  }
}

@media screen and (max-width: $screen-mobile-max) {

  .container {
    .main-message-wrap {
      @include font-size-medium();
    }
  }
}





