<main class="b-container">
  <div class="c-header">
    @if (campaigns[0]) {
      <h1 class="b-rh-1 b-bold">{{ campaigns[0].charity.name }} Campaigns</h1>
    }
  </div>

  <div>
    @if (campaigns.length === 0) {
      <div>
        <p class="error" aria-live="polite">
          None yet! <a tabindex="0" routerLink="/">Find campaigns here</a>.
        </p>
      </div>
    }

    @if (campaigns) {
      <biggive-grid
        slot="campaign-grid"
        column-count="3"
        >
        @for (campaign of campaigns; track $index) {
          <div>
            <!-- @todo-regular-giving - update components to make moreInfoButton optional and remove in the case of
                 regular giving here. Currently it points to this charity page we're already displaying.

                 Alternatively make campaign info pages support regular giving campaigns.
            -->
            <biggive-campaign-card
              id="campaign-{{campaign.id}}"
              [banner]="campaign.imageUri | optimisedImage:830 | async"
              [campaignType]="campaign.isMatched ? 'Match Funded' : null"
              [campaignTitle]="campaign.title"
              [donateButtonUrl]="campaign.isRegularGiving ? '/regular-giving/' + campaign.id :  '/donate/' + campaign.id"
              [donateButtonLabel]="campaign.isRegularGiving ? 'Donate monthly' : 'Donate now'"
              [moreInfoButtonUrl]="campaign.isRegularGiving ? '/charity/' + campaign.charity.id : '/campaign/' + campaign.id"
              [organisationName]="campaign.charity.name"
              [primaryFigureLabel]="campaign.isRegularGiving ? '' : 'Match Funds Remaining'"
              [primaryFigureAmount]="campaign.isRegularGiving ? ' ' : campaign.matchFundsRemaining | currency: campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo"
              [progressBarCounter]="getPercentageRaised(campaign)"
              secondary-figure-label="Total Funds Raised"
              [secondaryFigureAmount]="campaign.amountRaised | currency: campaign.currencyCode : 'symbol' : currencyPipeDigitsInfo"
              [isFutureCampaign]="isInFuture(campaign)"
              [isPastCampaign]="isInPast(campaign)"
              [datetime]="getRelevantDateAsStr(campaign)">
            </biggive-campaign-card>
          </div>
        }
      </biggive-grid>
    }
  </div>
</main>
