<main class="b-container">
  <div class="c-header">
    <h1 *ngIf="campaigns[0]" class="b-rh-1 b-bold">{{ campaigns[0].charity.name }} Campaigns</h1>
  </div>

  <div>
    <div *ngIf="campaigns.length === 0">
      <p class="error" aria-live="polite">
        None yet! <a tabindex="0" routerLink="/">Find campaigns here</a>.
      </p>
    </div>

    <div class="c-grid">
      <div *ngFor="let campaign of campaigns">
        <app-campaign-card [campaign]="campaign"></app-campaign-card>
      </div>
    </div>
  </div>
</main>
