:host {
  display: contents;
}

.grid {
  margin-bottom: $spacer-3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;  
}


.grid ::slotted([slot=grid-item]) {
  display: block;
}

.column-count-4 ::slotted(*) {
  width: calc( 25% - (($spacer-4 * 3) / 4));
  @include flex-container-column();
}

.column-count-3 ::slotted(*) {
  width: calc( 33.3% - (($spacer-4 * 2) / 3));
  @include flex-container-column();
}

.column-count-2 ::slotted(*) {
  width: calc( 50% - (($spacer-4 * 1) / 2));
  @include flex-container-column();
}

