<div class="c-donate-complete">
  <mat-spinner class="c-donate-complete__mat-spinner" *ngIf="!complete && !noAccess && !timedOut" color="accent" diameter="30"></mat-spinner>

  <p *ngIf="noAccess" class="error">
    We can only show your receipt on the device where you donated, in order to keep your information secure. Don't worry
    though, we'll email you a receipt within a few minutes confirming if your donation was processed.
  </p>

  <p *ngIf="timedOut" class="error">
    Your donation was not processed immediately &ndash; it may be that there is a short delay because we're very
    busy. Please refresh this page to see the latest status. We'll also email your receipt within a few minutes when
    your donation is processed.
  </p>

  <div *ngIf="complete">
    <h2 class="c-thank-you">
      <span class="c-thank-you__content">Thank you!</span>
    </h2>

    <div class="c-body">
      <div class="c-body__margin">
        <h3 class="c-heading">
          Your donation of 
          <span class="c-heading__highlight">
            {{ donation.donationAmount | currency : '£' : 'symbol' : '1.0-0' }}
          </span>
           has been made.
        </h3>
        <h3 class="c-heading">
          That's worth 
          <span class="c-heading__highlight">
            {{ totalValue | currency : '£' : 'symbol' : '1.2-2' }}
          </span>
          to {{ donation.charityName }}.
        </h3>
        <p class="c-description" *ngIf="campaign">{{ campaign.summary }}</p>

        <div class="c-receipt">
          <h3 class="c-receipt__heading">Your receipt</h3>
          <ul class="c-receipt__list">
            <li class="c-receipt__item c-receipt__item--highlighted">
              <h4 class="c-receipt__title">Total for {{ donation.charityName }}</h4>
              <p class="c-receipt__value c-receipt__value--highlighted">{{ totalValue | currency : '£' : 'symbol' : '1.2-2' }}</p>
            </li>
            <li class="c-receipt__item">
              <h4 class="c-receipt__title">Your donation</h4>
              <p class="c-receipt__value">{{ donation.donationAmount | currency : '£' : 'symbol' : '1.0-0' }}</p>
            </li>
            <li class="c-receipt__item">
              <h4 class="c-receipt__title" *ngIf="donation.matchedAmount > 0">Matched funds</h4>
              <p class="c-receipt__value" *ngIf="donation.matchedAmount > 0">{{ donation.matchedAmount | currency : '£' : 'symbol' : '1.0-0' }}</p>
            </li>
            <li class="c-receipt__item">
              <h4 class="c-receipt__title">Gift Aid</h4>
              <p class="c-receipt__value">{{ giftAidAmount | currency : '£' : 'symbol' : '1.2-2' }}</p>
            </li>
          </ul>
          <div class="c-receipt__tip c-tip" *ngIf="donation.tipAmount > 0">
            <p class="c-tip__heading">Thank you for leaving a tip of {{ donation.tipAmount | currency : '£' : 'symbol' : '1.2-2' }} towards the Big Give.</p>
            <p class="c-tip__description">Total amount you have been charged</p>
            <p class="c-tip__value">{{ cardChargedAmount | currency : '£' : 'symbol' : '1.2-2' }}</p>
          </div>
        </div>
      </div>

      <button class="c-button" mat-button>
        <div *ngIf="campaign">
          <!-- For now, this assumes Master / meta-campaigns all have slugs set. -->
          <p class="c-button__link" *ngIf="campaign.parentRef"><a [routerLink]="'/' + campaign.parentRef">Explore other campaigns</a></p>
          <p class="c-button__link" *ngIf="!campaign.parentRef"><a href="https://www.thebiggive.org.uk/s/explore-campaigns">Explore other campaigns</a></p>
        </div>
        <img class="c-button__image" src="/assets/images/logo.png" alt="The Big Give" width="200">
      </button>
    </div>
  </div>
</div>
