<div class="c-donate-complete">
  <mat-spinner class="c-donate-complete__mat-spinner" *ngIf="!complete && !noAccess && !timedOut" color="accent" diameter="30"></mat-spinner>

  <p *ngIf="noAccess" class="error">
    We can only show your receipt on the device where you donated, in order to keep your information secure. Don't worry
    though, we'll email you a receipt within a few minutes confirming if your donation was processed.
  </p>

  <p *ngIf="timedOut" class="error">
    Your donation was not processed immediately &ndash; it may be that there is a short delay because we're very
    busy. Please refresh this page to see the latest status. We'll also email your receipt within a few minutes when
    your donation is processed.
  </p>

  <div *ngIf="complete">
    <h2 class="c-donate-complete__thank-you">
      <span class="c-donate-complete__thank-you--copy">Thank you!</span>
    </h2>

    <div class="c-donate-complete__body">
      <div class="c-donate-complete__body--margin">
        <h3 class="c-donate-complete__heading">Your donation of <span class="c-donate-complete__heading--highlight">{{ donation.donationAmount | currency : '£' : 'symbol' : '1.0-0' }}</span> has been made.</h3>
        <h3 class="c-donate-complete__heading">That's worth <span class="c-donate-complete__heading--highlight">{{ totalValue | currency : '£' : 'symbol' : '1.2-2' }}</span> to {{ donation.charityName }}.</h3>
        <p class="c-donate-complete__description" *ngIf="campaign">{{ campaign.summary }}</p>

        <div class="c-donate-complete__receipt">
          <h3 class="c-donate-complete__receipt--heading">Your receipt</h3>
          <div fxLayout="row">
            <div fxFlex="50">
              <h4 class="c-donate-complete__reciept--subheading">Your donation</h4>
              <p class="rt-1">{{ donation.donationAmount | currency : '£' : 'symbol' : '1.0-0' }}</p>
              <h4 class="c-donate-complete__reciept--subheading" *ngIf="donation.matchedAmount > 0">Matched funds</h4>
              <p class="rt-1" *ngIf="donation.matchedAmount > 0">{{ donation.matchedAmount | currency : '£' : 'symbol' : '1.0-0' }}</p>
              <h4 class="c-donate-complete__reciept--subheading">Gift Aid</h4>
              <p class="rt-1">{{ giftAidAmount | currency : '£' : 'symbol' : '1.2-2' }}</p>
            </div>
            <div fxFlex="50">
              <h4 class="rt-sm">Total for {{ donation.charityName }}</h4>
              <h4 class="rt-2">{{ totalValue | currency : '£' : 'symbol' : '1.2-2' }}</h4>
              <div *ngIf="donation.tipAmount > 0">
                <p class="small-p">Thank you for leaving a tip of {{ donation.tipAmount | currency : '£' : 'symbol' : '1.2-2' }} towards the Big Give.</p>
                <h4 class="rt-sm">Total amount you have been charged</h4>
                <p class="rt-1">{{ cardChargedAmount | currency : '£' : 'symbol' : '1.2-2' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button mat-button>
        <div *ngIf="campaign">
          <!-- For now, this assumes Master / meta-campaigns all have slugs set. -->
          <p class="rt-1" *ngIf="campaign.parentRef"><a [routerLink]="'/' + campaign.parentRef">Explore other campaigns</a></p>
          <p class="rt-1" *ngIf="!campaign.parentRef"><a href="https://www.thebiggive.org.uk/s/explore-campaigns">Explore other campaigns</a></p>
        </div>
        <img src="/assets/logo.png" alt="The Big Give" width="200">
      </button>
    </div>
  </div>
</div>
