
<div *ngIf="complete" id="banner-thank-you"></div>

<main class="c-donate-complete">
  <mat-spinner class="c-donate-complete__mat-spinner" *ngIf="!complete && !noAccess && !timedOut" color="primary" diameter="30" aria-label="Loading donation details"></mat-spinner>

  <p *ngIf="noAccess" class="error">
    We can only show your receipt on the device where you donated, in order to keep your information secure. Don't worry
    though, we'll email you a receipt within a few minutes confirming if your donation was processed. If you donated more than 30 days ago,
    please check your email for your receipt.
  </p>

  <p *ngIf="timedOut" class="error" aria-live="assertive">
    Your donation was not processed immediately &ndash; it may be that there is a short delay because we're very
    busy. Please refresh this page to see the latest status. We'll also email your receipt within a few minutes when
    your donation is processed.
  </p>

  <div *ngIf="complete">

    <div class="thank-you">
      <h2>Thank you!</h2>

      <p class="thank-you-text">Your generous donation has<br/>been made successfully</p>

      <div id="save-my-details-cta">

        <div class="button-wrapper">
          <biggive-button
            space-below="0"
            colour-scheme="white"
            is-past-campaign="false"
            is-future-campaign="false"
            label="Save my details"
            url="http://www.google.com"
            open-in-new-tab="false"
            full-width="false"
            size="medium"
            rounded="false"
            centered="false">
          </biggive-button>
        </div>
        <p>This helps you to make doubling your donation easier.</p>
      </div>
    </div>

    <hr>

    <div class="donation-summary">
      <p><strong>Hi Ali,<br/>Your donation summary</strong></p>
      <p>Your donation of <strong class="figure">£100</strong> has been made. That's worth <strong class="figure">£200</strong> to Big Give!</p>

      <br/>
      <!-- <p><strong>A message from the charity:</strong></p> -->
      <p><i>"Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Odit harum, possimus dolores placeat sunt modi ipsum, temporibus,
        velit cupiditate maxime alias quisquam assumenda enim a minima excepturi culpa eveniet.
      </i></p>
    </div>

    <hr>

    <div class="receipt">
      <p><strong>Your Receipt</strong></p>
      <p>1 Jan 2023</p>
      <br>

      <table>
        <tr>
          <td>Your donation</td>
          <td>£100</td>
        </tr>
        <tr>
          <td>Matched Amount</td>
          <td>£100</td>
        </tr>
        <tr>
          <td>Gift Aid Amount</td>
          <td>£25</td>
        </tr>
        <tr>
          <td>Tip Amount</td>
          <td>£10</td>
        </tr>
        <tr class="receives">
          <td>Charity Receives</td>
          <td>£225</td>
        </tr>
        <tr class="total">
          <td><strong>Total amount you have been charged</strong></td>
          <td><strong>£110</strong></td>
        </tr>
      </table>
    </div>

    <hr>

    <div class="socials">
      <p>Boost your impact by sharing on social media</p>
      <div class="social-icons-wrapper">
        <biggive-social-icon service="Facebook" url="https://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" background-colour="tertiary" icon-colour="black" wide="true"></biggive-social-icon>
        <biggive-social-icon service="Twitter" url="https://twitter.com/share?url={{ shareUrl }}&text={{ prefilledText }}" background-colour="tertiary" icon-colour="black" wide="true"></biggive-social-icon>
        <biggive-social-icon service="LinkedIn" url="https://www.linkedin.com/cws/share?url={{ shareUrl }}" background-colour="tertiary" icon-colour="black" wide="true"></biggive-social-icon>
        <!-- <biggive-social-icon service="Whatsapp" url="https://api.whatsapp.com/send?text={{ prefilledText }}%0A%0A{{ shareUrl }}" background-colour="tertiary" icon-colour="black" wide="true"></biggive-social-icon> -->
      </div>

      <a href="">Back to campaign page</a>
    </div>

    <!-- <h2 class="c-thank-you">
      <span class="c-thank-you__content">Thank you!</span>
    </h2>

    <div class="c-card">
      <div class="c-main">
        <biggive-heading
          heading-colour="primary"
          html-element="h3"
          size="3"
          text="Thank you!"
        ></biggive-heading>

        <biggive-heading
          heading-colour="primary"
          html-element="h4"
          size="4"
          text="Your generous donation has been made successfully."
        ></biggive-heading>

        <div *ngIf="offerToSetPassword">
          <re-captcha
            #captcha
            size="invisible"
            (resolved)="loginCaptchaReturn($event)"
            siteKey="{{ recaptchaIdSiteKey }}"
          ></re-captcha>

          <p *ngIf="registrationComplete" id="registrationCompleteText">
            <strong>You are now registered<span *ngIf="loggedIn"> and logged in</span>.</strong> You can now donate faster using your chosen email address and password.
          </p>

          <div *ngIf="!registrationComplete" class="id-info">
            <h4>Want to donate faster next time?</h4>
            <p><button
              mat-raised-button
              id="setPasswordButton"
              color="primary"
              (click)="openSetPasswordDialog()"
            >Set a password</button></p>
          </div>

          <p *ngIf="registerError" class="error" aria-live="assertive">
            Your password could not be set. Please ensure you chose one with at least 10 characters.
          </p>
        </div>

        <p class="b-rt-0">
          Your donation of
          <span class="b-bold">
            {{ donation.donationAmount | exactCurrency:donation.currencyCode }}
          </span>
          has been made.

          <span *ngIf="totalValue > donation.donationAmount" class="b-rt-0">
            That's worth
            <span class="b-bold">
              {{ totalValue | exactCurrency:donation.currencyCode }}
            </span>
            to {{ donation.charityName }}.
          </span>
        </p>
        <p class="b-rt-0" *ngIf="campaign?.thankYouMessage">{{ campaign.thankYouMessage }}</p>

        <div class="c-receipt">
          <h3 class="c-receipt__heading b-rh-2 b-bold">Your receipt</h3>
          <ul class="c-receipt__list b-w-100">
            <li class="c-receipt__item c-receipt__item--highlighted b-db">
              <h4 class="c-receipt__title b-light b-grey b-rt-sm">Total for {{ donation.charityName }}</h4>
              <p class="b-rt-2 b-bold b-m-0">{{ totalValue | exactCurrency:donation.currencyCode }}</p>
            </li>
            <li class="c-receipt__item b-db">
              <h4 class="c-receipt__title b-light b-grey b-rt-sm">Your donation</h4>
              <p class="b-rt-0 b-bold b-m-0">{{ donation.donationAmount | exactCurrency:donation.currencyCode }}</p>
            </li>
            <li class="c-receipt__item b-db">
              <h4 class="c-receipt__title b-light b-grey b-rt-sm" *ngIf="donation.matchedAmount > 0">Match funds</h4>
              <p class="b-rt-0 b-bold b-m-0" *ngIf="donation.matchedAmount > 0">{{ donation.matchedAmount | exactCurrency:donation.currencyCode }}</p>
            </li>
            <li *ngIf="giftAidAmount > 0" class="c-receipt__item b-db">
              <h4 class="c-receipt__title b-light b-grey b-rt-sm">Gift Aid</h4>
              <p class="b-rt-0 b-bold b-m-0">{{ giftAidAmount | exactCurrency:donation.currencyCode }}</p>
            </li>
          </ul>
          <div class="c-receipt__tip c-misc" *ngIf="donation.feeCoverAmount > 0 || donation.tipAmount > 0">
            <p *ngIf="donation.feeCoverAmount > 0" class="c-tip__heading">Thank you for covering the platform fee of {{ donation.feeCoverAmount | exactCurrency:donation.currencyCode }}. This enables {{ donation.charityName }} to benefit from the full value of your donation.</p>
            <p *ngIf="donation.tipAmount > 0" class="c-tip__heading">Thank you for leaving a tip of {{ donation.tipAmount | exactCurrency:donation.currencyCode }} towards the Big Give.</p>
            <p class="c-tip__description b-light b-grey b-rt-sm">Total amount you have been charged</p>
            <p class="b-rt-0 b-bold b-m-0">{{ cardChargedAmount | exactCurrency:donation.currencyCode }}</p>
          </div>
          <div class="c-misc">
            <p>Boost your impact by sharing on social media</p>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" target="_blank" rel="noopener"><img class="c-social-image" src="/assets/images/share-facebook.png" alt="Facebook" aria-label="Share on Facebook" width="50"></a>
            <a href="https://twitter.com/share?url={{ shareUrl }}&text={{ prefilledText }}" target="_blank" rel="noopener"><img class="c-social-image" src="/assets/images/share-twitter.png" alt="Twitter" aria-label="Share on Twitter" width="50"></a>
            <a href="https://www.linkedin.com/cws/share?url={{ shareUrl }}" target="_blank" rel="noopener"><img class="c-social-image" src="/assets/images/share-linkedin.png" alt="LinkedIn" aria-label="Share on LinkedIn" width="50"></a>
            <a href="https://api.whatsapp.com/send?text={{ prefilledText }}%0A%0A{{ shareUrl }}" target="_blank" rel="noopener"><img id="whatsapp" class="c-social-image" src="/assets/images/share-whatsapp.png" alt="WhatsApp" aria-label="Share on Whatsapp" width="50"></a>
          </div>
        </div>
      </div>

      <button class="c-button b-w-100 b-center" mat-button>
        <div *ngIf="campaign">
          <p class="b-rt-1 b-m-0" *ngIf="campaign.parentRef"><a [routerLink]="'/' + campaign.parentRef">Explore other campaigns</a></p>
          <p class="b-rt-1 b-m-0" *ngIf="!campaign.parentRef"><a routerLink="/explore">Explore other campaigns</a></p>
        </div>
        <a routerLink="/"><img class="c-button__image" src="/assets/images/logo.png" alt="The Big Give" width="200"></a>
      </button>
    </div> -->
  </div>
</main>
