@import '../../styles';

.c-donate-complete {
  @include make-container;
}

.c-donate-complete__mat-spinner {
  margin: 3rem auto 0;
}

.c-thank-you {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
  @include size-xl;
  font-weight: 500;
}

.c-thank-you__content {
  background-color: $colour-teal-darker;
  padding: 1rem 2rem;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0 auto;
  display: inline-block;
  @include rt-2;
  @media#{$breakpoint-lg} {
    padding: 1.5rem 10rem;
  }
}

.c-body {
  @include make-card($box-shadow-hard);
  padding: 1rem;
}

.c-body__margin {
  margin: 1rem;
  margin-top: 0;
  @media #{$breakpoint-md} {
    margin: 0 30px;
  }
  @media #{$breakpoint-lg} {
    margin: 0 60px;
    padding-top: 2rem;
  }
  @media #{$breakpoint-xl} {
    margin: 0 75px;
  }
}

.c-heading {
  @include rt-2;
  font-weight: 400;
  color: $colour-teal-darker;
}

.c-heading__highlight {
  font-weight: 700;
}

.c-description {
  @include rt-0;
}

.c-receipt {
  border-top: 1px solid $colour-grey-light;
  border-bottom: 1px solid $colour-grey-light;
  margin: 3rem 0;
  padding-bottom: 3rem;
  color: $colour-grey;
}
  
.c-receipt__heading {
  @include rt-2;
  color: $colour-teal-darker;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.c-receipt__list {
  clear: both;
  display: table;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  @media #{$breakpoint-md} {
    width: 90%;
    width: calc(100% - 4rem);
    padding: 0 2rem;
  }
}

.c-receipt__item {
  display: block;
  float:left;
  width:50%;
  clear:left;
  &--highlighted {
    float:right;
  }
}

.c-receipt__title,
.c-tip__description {
  @include rt-sm;
  margin-bottom: 0;
  font-weight: 400;
  margin-top: 0.75rem;
  &--highlighted {
    float:right;
    width:50%;
    border:1px solid red;
  }
}

.c-receipt__value,
.c-tip__value {
  @include rt-1;
  font-weight: 700;
  margin: 0;
  &--highlighted {
    @include rt-2;
  }
}

.c-tip {
  border-top: 1px solid $colour-grey-light;
  margin-top: 2rem;
  padding-top: 1rem;
  @media #{$breakpoint-md} {
    padding: 1rem 2rem 0;
  }
}

.c-button {
  background-color: #F4F4F4;
  color: $colour-teal;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
  @media #{$breakpoint-lg} {
    padding: 2rem 0;
  }
}

.c-button__link {
  @include rt-1;
  margin: 0;
}

.c-button__image {
  width: 80px;
  @media #{$breakpoint-md} {
    width: 100px;
  }
  @media #{$breakpoint-lg} {
    width: 120px;
    margin-top: 1rem;
  }
}
