<mat-toolbar role="navigation" class="main-nav-toolbar">
  <div class="logo__wrap">
    <a routerLink="/" class="logo__link"><img class="logo" src="/assets/images/logo.png" alt="The Big Give"></a>
  </div>
  <div class="main-nav">
    <div class="nav-links__wrap">
      <div class="nav-links">
        <button mat-icon-button routerLink="/">
          Explore campaigns
          <mat-icon aria-hidden="true" color="accent">search</mat-icon>
        </button>
      </div>
      <div class="nav-links">
        <button class="button-about" mat-icon-button [matMenuTriggerFor]="about">
          About
          <mat-icon aria-hidden="false" aria-label="Dropdown" color="accent">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #about="matMenu">
          <ul>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/about">The Big Give</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/our-story">Our story</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/team">Team</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/press">Press</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/our-fees">Our fees</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/privacy-policy">Privacy policy</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/cookies">Cookie policy</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/terms-and-conditions">Terms and conditions</a></li>
          </ul>
        </mat-menu>
      </div>
      <div class="nav-links">
        <button class="button-how-can-we-help" mat-icon-button [matMenuTriggerFor]="howcanwehelp">
          How can we help
          <mat-icon aria-hidden="false" aria-label="Dropdown" color="accent">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #howcanwehelp="matMenu">
          <ul>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/charities">Charities</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/philanthropists">Philanthropists</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/individuals">Individuals</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/christmas-challenge">Christmas Challenge</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/other-campaigns">Other campaigns</a></li>
          </ul>
        </mat-menu>
      </div>
      <div class="nav-links">
        <a tabindex="0" mat-button href="https://www.thebiggive.org.uk/s/contact-us">Contact us</a>
      </div>
    </div>
    <div class="charity-login__wrap">
      <a mat-button class="charity-login__link" href="https://www.thebiggive.org.uk/charities/s/login/">Charity login</a>
    </div>
  </div>
  <div class="side-nav-button__wrap">
    <button mat-icon-button class="side-nav-button__button" (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false" aria-label="Menu" color="accent">{{ !opened ? 'menu' : 'close' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    role="navigation"
    mode="over"
    [(opened)]="opened"
    [attr.aria-hidden]="!opened"
    fixedInViewport="true"
  >
    <mat-nav-list class="mat-nav-list nav-links__wrap">
      <div class="nav-links">
        <button mat-icon-button routerLink="/">
          Explore campaigns
          <mat-icon aria-hidden="true" color="accent">search</mat-icon>
        </button>
      </div>
      <div class="nav-links">
        <button mat-icon-button [matMenuTriggerFor]="about">
          About
          <mat-icon aria-hidden="false" aria-label="Dropdown" color="accent">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #about="matMenu">
          <ul>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/about">The Big Give</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/our-story">Our story</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/team">Team</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/press">Press</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/our-fees">Our fees</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/privacy-policy">Privacy policy</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/cookies">Cookie policy</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/terms-and-conditions">Terms and conditions</a></li>
          </ul>
        </mat-menu>
      </div>
      <div class="nav-links">
        <button mat-icon-button [matMenuTriggerFor]="howcanwehelp">
          How can we help
          <mat-icon aria-hidden="false" aria-label="Dropdown" color="accent">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #howcanwehelp="matMenu">
          <ul>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/charities">Charities</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/philanthropists">Philanthropists</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/individuals">Individuals</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/christmas-challenge">Christmas Challenge</a></li>
            <li><a mat-menu-item href="https://www.thebiggive.org.uk/s/other-campaigns">Other campaigns</a></li>
          </ul>
        </mat-menu>
      </div>
      <div class="nav-links">
        <a mat-button href="https://www.thebiggive.org.uk/s/contact-us">Contact us</a>
      </div>
    </mat-nav-list>
    <mat-nav-list class="mat-nav-list charity-login__wrap">
      <a class="charity-login__link" mat-list-item href="https://www.thebiggive.org.uk/charities/s/login/">Charity Login</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

    <app-footer></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
