<!-- <mat-toolbar role="navigation" class="main-nav-toolbar">
  <div class="logo__wrap">
    <a routerLink="/" class="logo__link"><img class="logo" src="/assets/images/logo.png" alt="The Big Give"></a>
  </div>
  <div class="main-nav">
    <app-main-menu [listClass]="'bar'"></app-main-menu>
  </div>
  <div class="side-nav-button">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false" aria-label="Menu">{{ !opened ? 'menu' : 'close' }}</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    role="navigation"
    mode="over"
    [(opened)]="opened"
    [attr.aria-hidden]="!opened"
    fixedInViewport="true"
  >
    <app-main-menu [listClass]="'tray'"></app-main-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<biggive-header>
  <ul slot="nav-primary">
    <li><a href="/explore">Explore Campaigns</a></li>
    <li><a href="#">For Charities</a></li>
    <li><a href="#">For Funders</a></li>
    <li><a href="#">Match Funding</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Resources</a></li>
  </ul>
  <ul slot="nav-secondary">
    <li><a href="#">Contact us</a></li>
    <li><a href="#">Charity login</a></li>
  </ul>
</biggive-header>
<router-outlet></router-outlet>
<app-footer></app-footer>