@import '../../styles';

// See https://github.com/angular/components/issues/5227#issuecomment-480672986
// for context of the problem solved for longer `mat-hint`s here.
:host ::ng-deep .c-donate-form .mat-form-field {
  .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-underline {
          position: initial !important;
          display: block;
          margin-top: -1px;
      }
      .mat-form-field-subscript-wrapper,
      .mat-form-field-ripple {
          position: initial !important;
          display: table;
      }
      .mat-form-field-subscript-wrapper {
          min-height: calc(1em + 1px);
      }
  }
}

.mat-form-field {
  width: 100%;
}

.mat-primary {
  margin-top: 1rem;
}

.StripeElement {
  border: solid 1px $colour-grey;
  padding: 1rem;
  margin-bottom: 1rem;
}

.c-timer {
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
  background: $colour-highlight;
  color: $colour-teal-darkest;
  padding: 0.5rem;
  display: block;
  text-align: center;
}

.c-header {
  h2 {
    margin: 0;
    margin-top: 0.25rem;
  }
  h1, h3 {
    margin-top: 0.25rem;
  }
}

.c-donate-form {
  margin: 2rem auto;
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.c-your-donation {
  p {
    margin: 0;
    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }
}

.c-your-donation__highlight {
  background: $colour-highlight;
  color: $colour-teal-darkest;
  border-radius: 4px;
  padding: 0.5rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem !important;

  img {
    padding-right: 1rem;
  }
}

.no-margin-top {
  margin-top: 0;
}

.c-your-donation__form-field {
  max-width: $full-copy-max-width;
  margin: 0 auto;
  display: block;
  font-weight: 700;
  font-size: 22px;
}

.c-your-donation__placeholder {
  padding-bottom: 1rem;
  font-size: 16px;
  @media only screen and (max-width: 1200px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 800px) {
    font-size: 10px;
  }

  .to-charity {
    padding-top: 0.3rem;
    @media only screen and (max-width: 650px) {
      display: none;
    }
  }

  .to-tbg {
    margin-top: -0.2rem;
    @media only screen and (max-width: 800px) {
      margin-top: 0.1rem;
    }

    @media only screen and (max-width: 650px) {
      margin-top: 0.2rem;
    }
  }
}

.c-your-donation__to {
  display: none;

  @media only screen and (max-width: 650px) {
    color: mat-color($donate-primary);
    font-size: 10px;
    text-align: center;
    margin-bottom: -3rem;
    padding-left: 1rem;
    display: block;
  }
}

.c-suggested-amounts {
  margin: -2rem 0 2rem 0;
}

.c-suggested-amount__button {
  flex: 1 0 auto;
  width: calc((100 - 1rem) / 3);
  background-color: $colour-teal-light;
  box-shadow: inset 0px 1px 4px rgba(0, 131, 143, 0.2);
  padding: 1rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
  @include b-rt-2;
  &:last-child {
    margin-right: 0;
  }
  &:active,
  &:focus,
  &:visited {
    background-color: $colour-teal-lightest;
    border: 2px solid $colour-teal-lightish;
  }
}

a {
  text-decoration: none;
}

.c-breakdown {
  margin-bottom: 1rem;

  .mat-icon {
    height: 14px;
  }
}

.c-donate-button {
  padding: 1.5rem;
}

.c-donation-receipt {
  padding: 1rem 0;
}

.c-donation-receipt__icon {
  @include size-md;
}

.c-donation-receipt__gift-aid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.c-receipt-total {
  border-bottom: 1px solid $colour-grey-light;
  padding: 1.5rem 0 0.5rem;
}

.c-donation-summary {
  max-width: 300px;
  margin: 1rem auto;
}

.error {
  color: mat-color($donate-warn);
  margin-bottom: 1rem;
}

.prefix {
  font-size: 2rem
}

.prefix-tbg {
  font-size: 1.5rem
}
