@import '../../styles';

.error {
  color: mat-color($donate-warn);
  margin-bottom: 1rem;
}

.formPadding {
  padding: 2em;
}

mat-form-field, mat-radio-group {
  margin-bottom: 0.5rem;
}

mat-form-field, mat-label, mat-radio-group {
  display: block;
  width: 100%;
}

mat-radio-button {
  margin-right: 2rem;
}
