@use '~@angular/material' as mat;
@import '../../abstract';

input:disabled {
  cursor: not-allowed; // Visual help on desktop when e.g. address lookup has frozen postcode field.
}

.b-back-button {
  @include make-back-button;
}

.b-center {
  text-align: center;
}

.b-hidden {
  display: none;
}

.b-mr-2 {
  margin-right: 2rem;
}

.b-rt-sm {
  @include b-rt-sm;

  .material-icons {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
}

.b-rt-0 {
  @include b-rt-0;
}

.b-rt-1 {
  @include b-rt-1;
}

// See https://github.com/angular/components/issues/5227#issuecomment-480672986
// for context of the problem solved for longer `mat-hint`s here.
:host ::ng-deep .c-donate-form .mat-form-field {
  .mat-form-field-wrapper {
      padding-bottom: 0;
      .mat-form-field-underline {
          position: initial !important;
          display: block;
          margin-top: -1px;
      }
      .mat-form-field-subscript-wrapper,
      .mat-form-field-ripple {
          position: initial !important;
          display: table;
      }
      .mat-form-field-subscript-wrapper {
          min-height: calc(1em + 1px);
      }
  }
}

.mat-checkbox, .mat-form-field {
  width: 100%;
}

.mat-primary {
  margin-top: 1rem;
}

#payment-request-button {
  margin-top: 2rem;
}

.StripeElement {
  border: solid 1px $colour-grey;
  padding: 1rem;
  margin-bottom: 1rem;
}

.c-timer {
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
  background: $colour-highlight;
  color: $colour-teal-darkest;
  padding: 0.5rem;
  display: block;
  text-align: center;
}

.c-header {
  h1, h3 {
    margin-top: 0.25rem;
  }

  &__to {
    @include size-md;
    margin: 0;
    margin-top: 0.25rem;
  }
}

.c-donate-form {
  margin: 2rem auto;
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.c-your-donation {
  p {
    margin: 0;
    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }
}

.c-your-donation__highlight {
  background: $colour-highlight;
  color: $colour-teal-darkest;
  border-radius: 4px;
  padding: 0.5rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem !important;

  img {
    padding-right: 1rem;
  }
}

.no-margin-top {
  margin-top: 0;
}

.donation-input {
  .form-field {
    margin: 0;
    display: block;
    font-weight: 700;
  }

  // Larger breakpoints only
  .floating-label {
    white-space: initial; // make text run onto next line instead of overflowing parent div.
    font-size: 16px; // Even larger input fields need small placeholders to fit long charity names.
    margin-top: 1.5rem;

    @media only screen and (max-width: 650px) {
      display: none;
    }

    @media only screen and (max-width: 1200px) {
      font-size: 12px;
    }

    @media only screen and (max-width: 800px) {
      font-size: 10px;
    }
  }

  // Small breakpoints only
  .fixed-label {
    display: none;

    @media only screen and (max-width: 650px) {
      display: block;
      color: mat.get-color-from-palette($donate-primary);
      font-size: 10px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1.5rem;
    }
  }
}

.donation-input.donation-input-main {
  margin-top: 1.5rem;

  .fixed-label {
    margin-top: 2rem;
  }

  .floating-label {
    margin-top: 2rem;
  }

  .form-field {
    font-size: 22px;
  }
}

.donation-input-tip__status-help {
  margin-bottom: 1.5rem;
}

.suggestion-separator {
  @media only screen and (max-width: 650px) {
    margin-bottom: -1.5rem;
  }
}

.c-suggested-amount__button {
  flex: 1 0 auto;
  font-size: 20px;
  line-height: 26px;
  color: $colour-teal-dark;
  width: calc((100 - 1rem) / 3);
  background-color: $colour-teal-light;
  box-shadow: inset 0px 1px 4px rgba(0, 131, 143, 0.2);
  padding: 1rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
  &:last-child {
    margin-right: 0;
  }
  &:active,
  &:focus,
  &:visited {
    background-color: $colour-teal-lightest;
    border: 2px solid $colour-teal-lightish;
  }
}

a {
  text-decoration: none;
}

.c-breakdown {
  margin-bottom: 1rem;

  .mat-icon {
    height: 14px;
  }
}

.c-donate-button {
  @include make-donate-button;

  margin: 1.5rem 0 0.5rem 0;
  padding: 1.5rem;
  max-width: 300px;
}

.c-donate-button-amount {
  vertical-align: baseline;
}

.c-donation-receipt {
  list-style-type: none;
  padding: 1rem 0;

  li {
    @include b-rt-sm;

    .mat-icon {
      vertical-align: middle;
    }
  }
}

.mat-hint {
  display: block;
  width: 100%;

  .address-loading-spinner {
    float: right;
    margin: 0;
  }
}

.c-donation-summary {
  margin: 1rem auto;
  text-align: center;
}

.error {
  color: mat.get-color-from-palette($donate-warn);
  margin: 1rem 0;
}

.prefix {
  font-size: 2rem
}

.prefix-tbg {
  font-weight: 700; // Match the bigger donate field's input style weight, which the infix matches.
}

.homeOutsideUK-wrapper {
  text-align: right;
}
