@use '@angular/material' as mat;
@import '../../abstract';

div .c-banner {
  background-color: white;
}

input:disabled {
  cursor: not-allowed; // Visual help on desktop when e.g. address lookup has frozen postcode field.
}

.c-form-container {
  @include make-back-button;
}

.b-center {
  text-align: center;
}

.b-hidden {
  display: none;
}

.b-mr-2 {
  margin-right: 2rem;
}

.b-rt-sm {
  @include b-rt-sm;

  .material-icons {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
  }
}

.b-rt-0 {
  @include b-rt-0;
}

.b-rt-1 {
  @include b-rt-1;
}

.b-back-button {
  @include make-back-button;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-primary {
  margin-top: 1rem;
}

#payment-request-button {
  margin-top: 2rem;
}

.StripeElement {
  border: solid 1px $colour-grey;
  padding: 1rem;
  margin-bottom: 1rem;
}

.c-form-container {
  display: flex;
  flex-direction: column;

  @media #{$breakpoint-lg} {
    flex-direction: row;
  }
}

.c-timer {
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
  background: $colour-highlight;
  color: $colour-black;
  padding: 0.5rem;
  display: block;
  text-align: center;
}

.c-header {
  h1, h3 {
    margin-top: 0.25rem;
  }

  &__to {
    @include size-md;
    margin: 0;
    margin-top: 0.25rem;
  }
}

.c-donate-form {
  margin: 2rem auto;
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.c-your-donation {
  p {
    margin: 0;
    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }
}

.c-your-donation__highlight {
  background: $colour-highlight;
  color: $colour-black;
  border-radius: 4px;
  padding: 0.5rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem !important;

  img {
    padding-right: 1rem;
  }
}

.no-margin-top {
  margin-top: 0;
}

.donation-input {
  .form-field {
    margin: 0;
    display: block;
    font-weight: 700;
  }

  // Larger breakpoints only
  .floating-label {
    white-space: initial; // make text run onto next line instead of overflowing parent div.
    font-size: 16px; // Even larger input fields need small placeholders to fit long charity names.

    @media only screen and (max-width: 650px) {
      display: none;
    }

    @media only screen and (max-width: 1200px) {
      font-size: 12px;
    }

    @media only screen and (max-width: 800px) {
      font-size: 10px;
    }
  }

  // Small breakpoints only
  .fixed-label {
    display: none;

    @media only screen and (max-width: 650px) {
      display: block;
      color: mat.get-color-from-palette($donate-primary);
      font-size: 10px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1.5rem;
    }
  }
}

.donation-input.donation-input-main {
  margin-top: 1.5rem;

  .fixed-label {
    margin-top: 2rem;
  }

  .floating-label {
    margin-top: 0.4rem;
  }

  .form-field {
    font-size: 22px;
  }
}

.donation-input-tip__status-help {
  margin-bottom: 1.5rem;
}


a {
  text-decoration: none;
}

.c-breakdown {
  margin-bottom: 1rem;

  .mat-icon {
    height: 14px;
  }
}

.c-donate-button {
  @include make-donate-button;

  margin: 1.5rem 0 0.5rem 0;
  padding: 1.5rem;
  max-width: 300px;
}

.c-donate-button-amount {
  vertical-align: baseline;
}

.c-donation-receipt {
  list-style-type: none;
  padding: 1rem 0;

  li {
    @include b-rt-sm;

    .mat-icon {
      vertical-align: middle;
    }
  }
}

.mat-mdc-form-field-hint {
  display: block;
  width: 100%;

  .address-loading-spinner {
    float: right;
    margin: 0;
  }
}

.c-donation-summary {
  margin: 1rem auto;
  text-align: center;
}

.error {
  color: mat.get-color-from-palette($donate-warn);
  margin: 1rem 0;
}

.prefix {
  font-size: 2rem
}

.prefix-tbg {
  font-weight: 700; // Match the bigger donate field's input style weight, which the infix matches.
}

.homeOutsideUK-wrapper {
  text-align: right;
  margin-top: 3rem;

  @media #{$breakpoint-md} {
    margin-top: inherit;
  }
}

.id-info {
  @include make-card($box-shadow-hard);

  text-align: center;
  margin-top: 1rem;
  padding: 0.25rem 1rem 1rem 1rem;
}

// code below copied from src/app/campaign-details/campaign-details.component.scss
// I'm not keen on the copy & paste but I struggled to get it to work in a more elegant way.

.icons {
  @include format-icon-container;
}

.icon-wrapper {
  @include format-icon-list-item;

  // in campaign-details.component.scss the selector here is `svg` rather than `fa-icon`, but that doesn't seem to work
  // here.
  fa-icon.ng-fa-icon {
    color: $colour-primary; // #2C089BFF
    font-size: 40px;
    min-width: 4rem;
  }

  .c-icon-title {
    @include format-icon-title;
  }
}

h5 {
  font-size: 1rem;
}

div.match-funded-badge {
  width: 15em;
  height: 2em;
  text-align: center;
  background-color: $colour-highlight;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -1em;
}

div.match-funded-badge-wrapper {
  position: relative;
}

button#my-account-link {
  margin-right: 1em;
}
