<div class="donate-start" *ngIf="campaign" fxLayout="row" fxLayout.xs="column">
  <div>
    <div class="campaign-button">
      <button mat-icon-button class="campaign-button__button" [routerLink]="'/'">
        <mat-icon class="campaign-button__icon" aria-hidden="false" aria-label="Example home icon">keyboard_arrow_left</mat-icon>
        Back to campaign
      </button>
    </div>

    <div class="page-header">
      <p>You are donating to</p>
      <h1>{{ campaign.charity.name }}!</h1>
      <p>For the</p>
      <h2>{{ campaign.title }}</h2>
      <p>{{ campaign.summary }}</p>
    </div>

    <form (ngSubmit)="submit()" [formGroup]="donationForm" *ngIf="campaign">
      <div *ngIf="campaignIsOpen()">
        <div class="your-donation">
          <h3>Your donation</h3>
          <p><small>Enter an amount</small></p>
          <mat-form-field color="accent">
            <mat-label for="donationAmount">Amount (£)</mat-label>
            <input formControlName="donationAmount" id="donationAmount" matInput>
          </mat-form-field>
          <p><small>Or, choose</small></p>
          <button
            type="button"
            *ngFor="let suggestedAmount of suggestedAmounts"
            (click)="setAmount(suggestedAmount)"
          >{{ suggestedAmount | currency : '£' : 'symbol' : '1.0-0' }}</button>
    
          <div *ngIf="f.donationAmount.invalid && (f.donationAmount.dirty || f.donationAmount.touched)" class="error">
            <div *ngIf="f.donationAmount.errors.min">Sorry, the minimum donation is currently £5.</div>
            <div *ngIf="f.donationAmount.errors.max">Sorry, the maximum single donation is £25,000.</div>
            <div *ngIf="f.donationAmount.errors.pattern">Please enter a whole number of pounds (£) without commas or pence.</div>
            <div *ngIf="f.donationAmount.errors.required">Please enter how much you would like to donate.</div>
          </div>
        </div>

        <p *ngIf="sfApiError" class="error">
          Sorry, we can't submit your donation right now. Please try again in a moment
          or <a href="https://www.thebiggive.org.uk/s/contact-us" target="_blank">contact us</a>
          if this message persists.
        </p>
    
        <p *ngIf="validationError" class="error">
          Please complete all fields above to proceed with your donation.
        </p>
    
        <mat-spinner *ngIf="submitting" color="accent" diameter="30"></mat-spinner>
    
        <p *ngIf="retrying" class="warning">
          It looks like our system is a bit busy, one moment please&hellip;
        </p>
    
        <p>
          <button mat-raised-button color="primary" type="submit" [disabled]="submitting">Donate Now</button>
        </p>
      </div>
    </form>
  </div>

  <div>
    * * * app-campaign-details-card goes here * * *
  </div>
</div>