<!-- The grid layout works fine for 2 or three cards but not quite for a single card. Easier to treat single
card as a special case rather than changing the grid implemnation or replacing it entirely.
-->
@if (highlightCards.length === 1) {
  <div class="single-highlight-card">
    <biggive-basic-card
      [spaceBelow]="4"
      [headingLevel]="2"
      [buttonColourScheme]="'clear-primary'"
      [class]="'basic-card-padding'"
      [iconColour]="highlightCards[0]!.icon?.color"
      [icon]="!!highlightCards[0]!.icon"
      [backgroundColour]="highlightCards[0]!.icon?.color"
      [backgroundImageUrl]="highlightCards[0]!.background.image.toString()"
      [mainTitle]="highlightCards[0]!.headerText"
      [subtitle]="highlightCards[0]!.bodyText"
      [buttonLabel]="highlightCards[0]!.button.text"
      [buttonUrl]="highlightCards[0]!.button.href.toString()"
    />
  </div>
} @else {
  <biggive-grid [columnCount]="highlightCards.length" column-gap="3">
    @for (card of highlightCards; track $index) {
      <biggive-basic-card
        [spaceBelow]="4"
        [headingLevel]="2"
        [buttonColourScheme]="'clear-primary'"
        [class]="'basic-card-padding'"
        [iconColour]="card.icon?.color"
        [icon]="!!card.icon"
        [backgroundColour]="card.background.color"
        [backgroundImageUrl]="card.background.image.toString()"
        [mainTitle]="card.headerText"
        [subtitle]="card.bodyText"
        [buttonLabel]="card.button.text"
        [buttonUrl]="card.button.href.toString()"
      />
    }
  </biggive-grid>
}
