<div id="banner"></div>
<main>
  <div>
    <biggive-page-section>
      <div class="heading-wrapper">
        <biggive-heading
          space-above="0"
          space-below="1"
          colour="tertiary"
          html-element="h1"
          size="1"
          align="center"
          text="Your Account"
        ></biggive-heading>
      </div>
      <h2>Your Details</h2>
      @if (person.is_organisation) {
        <p><strong>Organisation donor account</strong></p>
      }
      @if (person) {
        <table id="personal-details">
          <tr>
            @if (person.is_organisation) {
              <td>Account Name</td>
              <td>{{ person.last_name }}</td>
            } @else {
              <td>Name</td>
              <td>{{ person.first_name }} {{ person.last_name }}</td>
            }
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ person.email_address }}</td>
          </tr>
          @if (person.home_address_line_1) {
            <tr>
              <td>
                Address
                @if (flags.enableEditHomeAddress) {
                  (<a routerLink="/my-account/home-address">edit</a>)
                }
              </td>
              <td>
                {{ person.home_address_line_1 }}
                <br />
                {{ person.home_postcode }}
                @if (person.home_country_code && codeToCountryName(person.home_country_code)) {
                  <br />
                  {{ codeToCountryName(person.home_country_code) }}
                }
              </td>
            </tr>
          } @else if (flags.enableEditHomeAddress) {
            <tr>
              <td colspan="2">
                <a routerLink="/my-account/home-address">Set Home Address</a>
              </td>
            </tr>
          }
          <tr>
            <td colspan="2">
              <a routerLink="/my-account/delete-account">Delete Account</a>
            </td>
          </tr>
        </table>
      }
    </biggive-page-section>

    <biggive-page-section>
      <app-highlight-cards [highlightCards]="actions" space-above="5"> </app-highlight-cards>
    </biggive-page-section>

    @if (person) {}
  </div>
</main>
