@use "../../../abstract";
@use "../../../assets/scss/auth-common";

#banner {
  background-image: url(../../../assets/images/banner-my-account.jpg);
}

.heading-wrapper {
  margin: auto;
  width: fit-content;
}

h1 {
  color: abstract.$colour-secondary;
}

a:link,
a:visited,
a:hover {
  color: white;
}

main > div {
  color: white;
  background-color: abstract.$colour-primary;
}

.account-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
}

.account-actions biggive-button {
  flex: 0 0 auto;
}

table#personal-details,
table#paymentMethods {
  width: 100%;
  td {
    padding-bottom: 15px;
    vertical-align: bottom;
    @media #{abstract.$breakpoint-lg} {
      min-width: 150px;
    }
  }

  td.cardUpdateButton {
    text-align: right;
  }

  td.cardUpdateButton,
  td.cardDeleteButton {
    display: flex;
    @media #{abstract.$breakpoint-xl} {
      display: table-cell;
    }
  }

  td.cardUpdateButton {
    padding-bottom: 0;
    @media #{abstract.$breakpoint-xl} {
      padding-bottom: 15px;
    }
  }

  td.cardExpiry {
    display: none;
    @media #{abstract.$breakpoint-lg} {
      display: table-cell;
    }
  }

  div.cardBrand {
    font-weight: bold;
  }
  div.cardExpiry {
    @media #{abstract.$breakpoint-lg} {
      display: none;
    }
  }
}

table#paymentMethods td:last-child {
  text-align: right;
}

.update-success {
  color: abstract.$colour-highlight;
}
