@import '../../abstract';

// Like the normal campaign grid but with max 2 cols.
.c-grid {
  @include campaign-grid;
  @media #{$breakpoint-lg} {
    grid-template-columns: calc((100% - 30px)/2) calc((100% - 30px)/2);
  }
}

.b-center {
  text-align: center;
}

.single-promoted-campaign-wrapper {
  display: flex;
  @media #{$breakpoint-lg} {
    max-width: 50%;
    // centre the card:
    margin-left: auto;
    margin-right: auto;
  }
}