:host {
  display: contents;
  @include standard-font();
}

.container {
  position: relative;
  .sleeve {
    padding: $spacer-4;
  }
}

.container.space-after-1 { margin-bottom: $spacer-1; }
.container.space-after-2 { margin-bottom: $spacer-2; }
.container.space-after-3 { margin-bottom: $spacer-3; }
.container.space-after-4 { margin-bottom: $spacer-4; }
.container.space-after-5 { margin-bottom: $spacer-5; }


.container.style-top-crop-right:before {
  content: '';
  display: block;
  height: 75px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  transform: translateY(1px);
}

.container.style-top-crop-left:before {
  content: '';
  display: block;
  height: 75px;
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%);
  transform: translateY(1px);
}

.container.style-bottom-crop-right:after {
  content: '';
  display: block;
  height: 75px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  transform: translateY(-1px);
}

.container.style-bottom-crop-left:after {
  content: '';
  display: block;
  height: 75px;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  transform: translateY(-1px);
}

.container.background-color-primary:before,
.container.background-color-primary:after,
.container.background-color-primary .sleeve {
  background-color: $colour-primary;
  color: $colour-white;
}

.container.background-color-secondary:before,
.container.background-color-secondary:after,
.container.background-color-secondary .sleeve {
  background-color: $colour-secondary;
  color: $colour-white;
}

.container.background-color-tertiary:before,
.container.background-color-tertiary:after,
.container.background-color-tertiary .sleeve {
  background-color: $colour-tertiary;
  color: $colour-white;
}

.container.background-color-white:before,
.container.background-color-white:after,
.container.background-color-white .sleeve {
  background-color: $colour-white;
  color: $colour-black;
}


