/*
This file is for global styling, like font sizes so we don't have to worry about our texting
not being responsive when building a new component or adding some new text to an existing
component, etc.
*/

@media screen and (min-width: 1024px) {
    h2 {
        font-size: 1.4rem;
    }
    input {
        font-size: 1rem;
    }
}


@media screen and (max-width: 1024px) {
    h2 {
        font-size: 1.3rem;
    }
    input {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 425px) {
    h2 {
        font-size: 1rem;
    }
}