@import '~@angular/material/theming';

@include mat-core();

$tbg-red: (
  500: #f0423b,
  800: #c1211a,
  contrast: (
    500: white,
    800: $white-87-opacity,
  )
);

$tbg-teal: (
  200: #4fb3bf,
  500: #00838f,
  800: #005662,
  contrast: (
    200: black,
    500: white,
    800: white,
  )
);

$tbg-error-red: (
  500: #f36a52,
  contrast: (
    500: black,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$donate-primary: mat-palette($tbg-red);
$donate-accent: mat-palette($tbg-teal);
$donate-warn: mat-palette($tbg-error-red);

// Create the theme object (a Sass map containing all of the palettes).
$donate-theme: mat-light-theme($donate-primary, $donate-accent, $donate-warn);

// Adapting Angular Material to override font, including on inputs.
// https://stackoverflow.com/a/49541553/2803757
$app-typography: mat-typography-config(
  $font-family:   '"Maven Pro", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(16px, 1.25, 400)
);

@include mat-core($app-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($donate-theme);
@include mat-core-theme($donate-theme);
@include mat-button-theme($donate-theme);
@include mat-checkbox-theme($donate-theme);


// Variables

$colour-red: #f0423b;
$colour-teal-lightest: #CAE8EC;  // Should be lighter
$colour-teal-lighter: #6ADDC0;   // Should be lightest
$colour-teal-light: #EAF6F7;
$colour-teal-lightish: #69BEC9;
$colour-teal: #00838f;
$colour-teal-dark: #00707C;
$colour-teal-darker: #006672;
$colour-teal-darkest: #005360;
$colour-teal-fade: #E0F0F2;
$colour-grey-light: #E1E2E5;
$colour-grey: #7B8292;
$colour-grey-dark: #333;
$colour-highlight: #FDA83B;

$breakpoint-md: "(min-width: 600px)";
$breakpoint-lg: "(min-width: 960px)";
$breakpoint-xl: "(min-width: 1280px)";
$box-shadow-soft: 0px 11px 15px rgba(0, 0, 0, 0.05), 0px 9px 46px rgba(0, 0, 0, 0.05), 0px 24px 38px rgba(0, 0, 0, 0.05);
$box-shadow: $box-shadow-soft;
$box-shadow-hard: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);

$box-shadow-soft: 0px 11px 15px rgba(0, 0, 0, 0.05), 0px 9px 46px rgba(0, 0, 0, 0.05), 0px 24px 38px rgba(0, 0, 0, 0.05);
$box-shadow: $box-shadow-soft;
$box-shadow-hard: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);

// Custom mixins

@mixin size-md {
  font-size: 14px;
}
@mixin size-lg {
  font-size: 18px;
}
@mixin size-xl {
  font-size: 21px;
}
@mixin size-xxl {
  font-size: 34px;
}
@mixin size-xxxl {
  font-size: 40px;
}

@mixin rt-sm {
  font-size: 11px;
  line-height: 14px;
  @media #{$breakpoint-lg} {
    font-size: 14px;
    line-height: 20px
  }
}

@mixin rt-0 {
  font-size: 14px;
  line-height: 20px;
  @media #{$breakpoint-lg} {
    font-size: 18px;
    line-height: 27px;
  }
}

@mixin rt-1 {
  font-size: 18px;
  line-height: 1.5;
  @media #{$breakpoint-lg} {
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin rt-2 {
  font-size: 24px;
  line-height: 36px;
  @media #{$breakpoint-lg} {
    font-size: 34px;
    line-height: 40px;
  }
}

@mixin rt-3 {
  font-size: 34px;
  line-height: 41px;
  @media #{$breakpoint-lg} {
    font-size: 40px;
    line-height: 56px;
  }
}

.rt-sm {
  @include rt-sm;
}

.rt-0 {
  @include rt-0;
}

.rt-1 {
  @include rt-1;
}

.rt-2 {
  @include rt-2;
}

.rt-3 {
  @include rt-3;
}

@mixin make-container {
  margin:0 15px;
  @media #{$breakpoint-lg} {
    margin:0 30px;
  }
  @media #{$breakpoint-xl} {
    max-width: 1220px;
    margin:0 auto;
  }
}

@mixin make-container-small {
  margin:0 15px;
  @media #{$breakpoint-md} {
    margin:0 30px;
  }
  @media #{$breakpoint-lg} {
    margin:0 60px;
  }
  @media #{$breakpoint-xl} {
    max-width: 1150px;
    margin:0 auto;
  }
}

@mixin make-primary-column {
  @media #{$breakpoint-md} {
    width:calc(100% - 225px);
    padding-right:7%;
  }
  @media #{$breakpoint-lg} {
    width:calc(100% - 330px);
    padding-right:10%;
  }
  @media #{$breakpoint-xl} {
    padding-right:15%;
  }
}

@mixin make-secondary-column {
  margin-top: 2rem;
  @media #{$breakpoint-md} {
    margin-top: 0;
    width: 225px;
  }
  @media #{$breakpoint-lg} {
    margin-top: 0;
    width: 330px;
  }
}

@mixin make-donate-button {
  padding: 0.5rem 2rem;
  background-color: $colour-teal-lighter;
  color: $colour-teal-darkest;
  border-radius: 4px;
  font-size:18px;
  box-shadow:none !important;
  border:0px;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($colour-teal-lighter, 10%);
  }
}

@mixin make-back-button {
  color: $colour-teal;
  margin-bottom: 1rem;
  .mat-icon-button {
    font-weight: 400;
  }
  .mat-icon {
    font-size: 1rem;
    line-height: 23px;
    width: 1rem;
  }
}

@mixin make-card($box-shadow: $box-shadow-soft) {
  background-color: white;
  border-radius: 4px;
  box-shadow:$box-shadow;
}

@mixin make-card-banner {
  height: 110px;
  border-radius: 4px 4px 0 0;
  background-size: cover;
  background-position: center center;
}

@mixin make-card-body {
  padding: 15px;
  @media #{$breakpoint-xl} {
    padding: 15px 30px;
  }
}

html {
  font-family: mat-font-family($app-typography);
  font-size: mat-font-size($app-typography, body-2);
  line-height: mat-line-height($app-typography, body-2);
}

body {
  margin: 0;
  background-color: #F4F4F4;
  color:#333;
}

a {
  color: mat-color($donate-accent);
}

.mat-menu-trigger {
  cursor: pointer;
}

.mat-menu-content {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    a {
      display: block;
      text-align: left;
    }
  }
}

.mat-ripple {
  display: none;
}

// Style Material Componenets here due to ViewEncapsulation
mat-progress-bar {
  border-radius: 4px;
  height: 5px;
  .mat-progress-bar-background {
    display:none !important;
  }
  .mat-progress-bar-fill::after {
    background: $colour-teal-dark;
  }
  .mat-progress-bar-buffer {
    background: $colour-teal;
    opacity: 0.24;
  }
}

mat-radio-button {
  margin-bottom: 1rem;
  .mat-radio-label {
    white-space:initial;
    @include rt-0;
  }
}

mat-expansion-panel {
  .mat-expansion-panel-header {
    padding: 0 1rem;
    @media #{$breakpoint-lg} {
      padding: 1rem 2rem 0;
    }
  }

  .mat-expansion-panel-header {
    height: auto !important;
  }

  .mat-expansion-panel-header[aria-disabled=true] {
    color: inherit;
  }

  .mat-expansion-indicator::after {
    color: $colour-teal-darker;
    border-width: 0 3px 3px 0;
    padding: 5px;
  }

  .mat-expansion-panel-body {
    padding: 0 1rem 1rem;
    @media #{$breakpoint-lg} {
      padding: 0 2rem 2rem;
    }
  }
}

.mat-expansion-panel {
  margin-bottom: 16px;
}

mat-form-field {
  .mat-form-field-label {

  }
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

button.mat-icon-button {
  // Work around Safari layout issue where text following buttons was cut off.
  // Observed in top sidenav and 'back' links next to `keyboard_arrow_left` icons.
  width: auto;
}
