@use "@angular/material" as mat;
@use "./abstract";

// Utility classes
@use "./assets/scss/utilities";

// Style Material Componenets here due to ViewEncapsulation
@use "./assets/scss/overwrite-mat";

html {
  font-family: mat.m2-font-family(abstract.$app-typography);
  font-size: mat.m2-font-size(abstract.$app-typography, body-2);
  line-height: mat.m2-line-height(abstract.$app-typography, body-2);
}

body {
  margin: 0;
  background-color: abstract.$colour-background;
  color: abstract.$colour-black;

  // Asking the menu component to adjust the document body padding was flaky in some edge
  // cases, so declaratively do it here. These numbers need to stay in sync with the biggive-main-menu desktop & mobile heights.
  padding-top: 130px;
  font-size: 17px;
  line-height: 24px;
  font-family: "Euclid Triangle", sans-serif;
  @media (max-width: 968px) {
    // must match components $screen-large
    padding-top: 60px;
  }
}

body.primary-colour {
  background-color: abstract.$colour-primary;
}

p,
li {
  @include abstract.b-rt-0;
}

a {
  color: mat.m2-get-color-from-palette(abstract.$donate-primary);
  cursor: pointer;
  text-decoration: underline;
}

// this had to be styled at the root https://stackoverflow.com/a/71023336/6514933
div.mat-expansion-panel-body {
  padding: 0 !important;
}

.success-bar {
  --mat-snackbar-supporting-text-size: 17px;
  --mat-snackbar-supporting-text-font: mat.m2-font-family(abstract.$app-typography);
  --mat-snackbar-supporting-text-line-height: 20px;
  background-color: abstract.$colour-primary;
  color: abstract.$colour-primary-contrast;
}

.error-bar {
  --mat-snackbar-supporting-text-size: 17px;
  --mat-snackbar-supporting-text-font: mat.m2-font-family(abstract.$app-typography);
  --mat-snackbar-supporting-text-line-height: 20px;
  background-color: abstract.$colour-primary-contrast;
  color: #bb2222; // matching angular native palette
}
