@use '@angular/material' as mat;
@import './abstract';

// Utility classes
@import './assets/scss/utilities';

// Style Material Componenets here due to ViewEncapsulation
@import './assets/scss/overwrite-mat';

html {
  font-family: mat.m2-font-family($app-typography);
  font-size: mat.m2-font-size($app-typography, body-2);
  line-height: mat.m2-line-height($app-typography, body-2);
}

body {
  margin: 0;
  background-color: $colour-background;
  color: $colour-black;
}

body.primary-colour {
  background-color: $colour-primary;
}

p,
li {
  @include b-rt-0;
}

a {
  color: mat.m2-get-color-from-palette($donate-primary);
  cursor: pointer;
}

// this had to be styled at the root https://stackoverflow.com/a/71023336/6514933
div.mat-expansion-panel-body {
  padding: 0 !important;
}

.success-bar {
  --mdc-snackbar-supporting-text-size: 17px;
  --mdc-snackbar-supporting-text-font: $font-family;
  --mdc-snackbar-supporting-text-line-height: 20px;
  background-color: $colour-primary;
  color: $colour-primary-contrast;
}

.error-bar {
  --mdc-snackbar-supporting-text-size: 17px;
  --mdc-snackbar-supporting-text-font: $font-family;
  --mdc-snackbar-supporting-text-line-height: 20px;
  background-color: $colour-primary-contrast;
  color: #bb2222; // matching angular native palette
}
