@include spacers();

:host {
  display: contents; 
}

.container {
  @include standard-font();
  a {
    display: inline-block;
    &.full-width-true {
      display: block;
    }
  }
  &.centered-true {
    text-align: center;
  }
}

.button {
    @include button();
    &.size-small {
      @include button-small();
    }
    
    &.button.rounded-true {
      @include button-rounded();
    }
}

.button-primary {
   @include button-primary();
}
 
.button-secondary {
    @include button-secondary();
}

.button-tertiary {
    @include button-tertiary();
}

.button-brand-1 {
    @include button-brand-1();
}

.button-brand-2 {
    @include button-brand-2();
}

.button-brand-3 {
    @include button-brand-3();
}

.button-brand-4 {
    @include button-brand-4();
}

.button-brand-mhf-turquoise {
  @include button-brand-mhf-turquoise();
}

.button-brand-5 {
    @include button-brand-5();
}

.button-brand-6 {
    @include button-brand-6();
}

.button-white {
    @include button-white();
}

.button-black {
    @include button-black();
}

.button-grey-extra-light {
    @include button-grey-extra-light();
}

.button-grey-light {
    @include button-grey-light();
}

.button-grey-medium {
    @include button-grey-medium();
}

.button-grey-dark {
    @include button-grey-dark();
}

.button-clear-primary {
    @include button-clear-primary();
}
  
.button-clear-secondary {
    @include button-clear-secondary();
}

.button-clear-tertiary {
    @include button-clear-tertiary();
}

.button-clear-brand-1 {
    @include button-clear-brand-1();
}

.button-clear-brand-2 {
    @include button-clear-brand-2();
}

.button-clear-brand-3 {
    @include button-clear-brand-3();
}

.button-clear-brand-4 {
    @include button-clear-brand-4();
}

.button-clear-brand-5 {
    @include button-clear-brand-5();
}

.button-clear-brand-6 {
    @include button-clear-brand-6();
}

.button-clear-white {
   @include button-clear-white();
}

.button-clear-black {
    @include button-clear-black();
 }

 .button-clear-grey-extra-light {
    @include button-clear-grey-extra-light();
 }
 .button-clear-grey-light {
    @include button-clear-grey-light();
 }

 .button-clear-grey-medium {
    @include button-clear-grey-medium();
 }

 .button-clear-grey-dark {
    @include button-clear-grey-dark();
 }


.button-rounded {
    @include button-rounded();
 }
