@if (! mayBeAboutToRedirect) {
  <main>
    <biggive-hero-image
      colour-scheme="primary"
      main-image="/assets/images/banner-general.jpg"
      main-title="Double the difference"
      teaser="Hi. We’re Big Give. Our match funding campaigns offer a unique opportunity for you to double the difference you can make in the world for the causes close to your heart."
      main-image-align-horizontal="right"
      main-image-align-vertical="center"
    ></biggive-hero-image>
    <div class="b-container">
      <!-- The grid layout works fine for 2 or three cards but not quite for a single card. Easier to treat single
      card as a special case rather than changing the grid implemnation or replacing it entirely.
      -->
      <app-highlight-cards
        [highlightCards]="highlightCards">
      </app-highlight-cards>
    </div>
    <biggive-page-section
      colour-scheme="primary"
      section-style-bottom="crop-right">
      <div style="padding: 50px 0 40px 0;">
        @if (stats) {
          <biggive-call-to-action
            default-text-colour="secondary"
            [mainTitle]="stats.totalRaisedFormatted"
            [subtitle]="'raised for over ' + stats.totalCountFormatted + ' charity projects since 2008'"
            subtitle-colour="white"
            secondary-button-label="Read about our impact"
            secondary-button-url="https://biggive.org/impact"
            secondary-button-colour-scheme="clear-white">
          </biggive-call-to-action>
        }
      </div>
    </biggive-page-section>
    <biggive-page-section>
      <div style="text-align: center;">
        <biggive-heading
          heading-colour="primary"
          html-element="h2"
          size="3"
          text="We're proud to support thousands of incredible charities"
          >
        </biggive-heading>
      </div>
    </biggive-page-section>
    <biggive-page-section>
      <!-- for available swiper options see https://swiperjs.com/types/interfaces/types_swiper_options.SwiperOptions -->
      <swiper-container
        class="mySwiper"
        space-between="30"
        slides-per-view="auto"
        pagination-clickable="true"
        speed="500"
        autoplay="false"
        loop="true"
        centered-slides="false"
        navigation-next-el="#carousel-button-next"
        navigation-prev-el="#carousel-button-prev"
        >
        <swiper-slide><img src="/assets/images/logo-the-passage-2023.png" alt="The Passage - Everyone deserves a place to call home" width="300"></swiper-slide>
        <swiper-slide><img src="/assets/images/logo-dec.png" alt="Disasters Emergency Committee" width="300"></swiper-slide>
        <swiper-slide><img src="/assets/images/logo-net.png" alt="National Emergencies Trust" width="300"></swiper-slide>
        <swiper-slide><img src="/assets/images/logo-friends-of-the-earth.png" alt="Friends Of The Earth" width="300"></swiper-slide>
        <swiper-slide><img src="/assets/images/logo-borne.png" alt="Borne - Research to prevent premature birth" width="300"></swiper-slide>
        <swiper-slide><img src="/assets/images/logo-magic-breakfast-fuel-for-learning.png" alt="Magic Breakfast: Fuel for learning" width="300"></swiper-slide>
        <swiper-slide><img src="/assets/images/logo-princes-trust.png" alt="Prince's Trust" width="300"></swiper-slide>
        <swiper-slide><img src="/assets/images/logo-prisoners-of-conscience-supporting-people-who-defend-human-rights.png" alt="Prisoners Of Conscience: Supporting people who defend human rights" width="300"></swiper-slide>
        <swiper-slide><img src="/assets/images/logo-the-brain-tumour-charity.png" alt="The Brain Tumour Charity" width="300"></swiper-slide>
      </swiper-container>
      <div class="charity-carousel-navigation">
        <div role="button" id="carousel-button-prev" class="button next" >
          <img width="35px" src="/assets/images/arrow-prev-with-circle.svg" alt="Previous"/>
        </div>
        <div role="button" id="carousel-button-next" class="button prev" title="Next">
          <img width="35px" src="/assets/images/arrow-next-with-circle.svg" title="Next" />
        </div>
      </div>
      <div class="flex-wrapper">
        <div class="auto-margin">
          <biggive-button
            colour-scheme="primary"
            label="Join us today"
            url="https://biggive.org/charities"
            full-width="false">
          </biggive-button>
        </div>
      </div>
    </biggive-page-section>
    <biggive-page-section
      colour-scheme="primary"
      section-style-top="crop-left">
      <div style="padding: 50px 0 40px 0;">
        <biggive-video-feature
          default-text-colour="white"
          video-url="https://player.vimeo.com/video/860172535"
          main-title="About Big Give"
          main-title-colour="white"
          teaser="Imagine if your generous gift could have double the impact on the causes you care about. Well, that’s exactly why we exist. Whatever your passion, whatever cause you support, we can help double your donation to make double the difference."
          teaser-colour="white"
          button-url="https://biggive.org/our-story"
          button-label="Learn more about us"
          button-colour-scheme="white"
          >
        </biggive-video-feature>
      </div>
    </biggive-page-section>
    <!-- blogs section - hide for now -->
    <!-- <biggive-page-section
    >
    <div style="padding: 50px 0 40px 0;">
      <biggive-heading
        heading-colour="primary"
        html-element="h2"
        size="3"
        text="What's new on Big Give"
        >
      </biggive-heading>
      <div class="flex-wrapper">
        <biggive-button
          space-below="0"
          colour-scheme="black"
          label="Blog Post"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>
        <biggive-button
          space-below="0"
          colour-scheme="tertiary"
          label="Report & Insights"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>
        <biggive-button
          space-below="0"
          colour-scheme="tertiary"
          label="Webinar"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>
        <biggive-button
          space-below="0"
          colour-scheme="tertiary"
          label="Case Studies"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>
        <biggive-button
          space-below="0"
          colour-scheme="tertiary"
          label="Press"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>
      </div>
      <biggive-grid
        column-count="4">
        <biggive-article-card
          space-below='4'
          background-colour="white"
          hover-background-colour="tertiary"
          text-colour="black"
          slug="• Blog Post   • Mental Health"
          date="September 2022"
          main-title="Sample main title"
          image-url="https://media.istockphoto.com/vectors/childish-seamless-dotted-pattern-with-colorful-doodle-letters-fun-vector-id1208462693"
          image-label="By Beth DC"
          button-url="/"
          button-label="Read blog now"
          >
        </biggive-article-card>
        <biggive-article-card
          space-below='4'
          background-colour="white"
          hover-background-colour="tertiary"
          text-colour="black"
          slug="• Blog Post   • Mental Health"
          date="September 2022"
          main-title="Sample main title"
          image-url="https://media.istockphoto.com/vectors/childish-seamless-dotted-pattern-with-colorful-doodle-letters-fun-vector-id1208462693"
          image-label="By Beth DC"
          button-url="/"
          button-label="Read blog now"
          >
        </biggive-article-card>
        <biggive-article-card
          space-below='4'
          background-colour="white"
          hover-background-colour="tertiary"
          text-colour="black"
          slug="• Blog Post   • Mental Health"
          date="September 2022"
          main-title="Sample main title"
          image-url="https://media.istockphoto.com/vectors/childish-seamless-dotted-pattern-with-colorful-doodle-letters-fun-vector-id1208462693"
          image-label="By Beth DC"
          button-url="/"
          button-label="Read blog now"
          >
        </biggive-article-card>
        <biggive-article-card
          space-below='4'
          background-colour="white"
          hover-background-colour="tertiary"
          text-colour="black"
          slug="• Blog Post   • Mental Health"
          date="September 2022"
          main-title="Sample main title"
          image-url="https://media.istockphoto.com/vectors/childish-seamless-dotted-pattern-with-colorful-doodle-letters-fun-vector-id1208462693"
          image-label="By Beth DC"
          button-url="/"
          button-label="Read blog now"
          >
        </biggive-article-card>
      </biggive-grid>
    </div>
  </biggive-page-section> -->
  <biggive-page-section>
    <div class='container text-colour-primary space-above-6 space-below-6'>
      <div class="sleeve">
        <div class="get-started-cta">
          <h2 class='title heading-2'>Ready to get started? Explore our match funded campaigns.</h2>
          <div class='slug heading-4'></div>
          <div class='teaser'></div>
          <div class="button-wrap">
            <biggive-button colour-scheme="primary" url="/explore" label="Donate today"></biggive-button>
          </div>
          <div class="button-wrap">
            <biggive-button colour-scheme="clear-primary" url="https://biggive.org/our-story" label="Learn more about us"></biggive-button>
          </div>
        </div>
      </div>
    </div>
  </biggive-page-section>
</main>
}
