@import '../../abstract';

.promo-wrapper {
  margin-bottom: 2rem;
}

.highlights-wrapper {
  margin-top: 4rem;
}

.home-hero {
  padding-top: 1rem;
  background-image: url(/assets/images/bg-hero-home.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 140% -10%;

  @media #{$breakpoint-lg} {
    padding-top: 1.5rem;
    background-size: contain;
    background-position: right top;
  }
}

.home-hero__description {
  @include size-md;
  color: $colour-grey;
  margin-bottom: 1rem;
  line-height: 1.2;

  @media #{$breakpoint-lg} {
    @include size-lg;
  }
}

.home-hero-flex__child {
  padding-right: 15px; // Allow space so GetSiteControl right-floated widgets don't cover copy

  @media #{$breakpoint-md} {
    margin-right: 1rem;
    &:last-child {
      margin-left: 1rem;
      margin-right: 0;
    }
  }
  @media #{$breakpoint-lg} {
    margin-right: 2rem;
    &:last-child {
      margin-left: 2rem;
      margin-right: 0;
    }
  }
  @media #{$breakpoint-xl} {
    margin-right: 3rem;
    &:last-child {
      margin-left: 3rem;
      margin-right: 0;
    }
  }
}

.c-home-hero__heading {
  margin-bottom: 0;
  line-height: 1.2;
  @media #{$breakpoint-md} {
    font-size: 35px;
  }
  @media #{$breakpoint-lg} {
    font-size: 45px;
  }
  @media #{$breakpoint-xl} {
    font-size: 60px;
  }
}

.c-grid {
  @include campaign-grid;
}

.b-container {
  padding-top: 3rem;
}

.c-video {
  width: 100%;
  height: auto;
}

.c-video__iframe {
  height: 200px;
  padding-top: 1rem;
  @media #{$breakpoint-lg} {
    height: 250px;
  }
  @media #{$breakpoint-xl} {
    height: 300px;
  }
}

.about-container{
  margin: 0 15px;
  @media #{$breakpoint-md} {
    margin: 0 30px;
  }
  @media #{$breakpoint-lg} {
    background-image: none;
    margin: 0 60px;
  }
  @media #{$breakpoint-xl} {
    max-width: 1150px;
    margin: 0 auto;
    background-image: url(/assets/images/pop.png);
    background-repeat: no-repeat;
    background-position: 3.3% 39%;
    background-size: 15%;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
  }
}

img {
  width: 150px;
}

.button-wrapper {
  display: flex;

  .button {
    margin: auto; //centres the button
  }
}