@use '../../abstract' as abstract;

.auto-margin {
  margin: auto; //centres the button
}

.flex-wrapper {
  display: flex;
}

.basic-card-padding {
  box-sizing: border-box;
}
.single-highlight-card {
  max-width: 650px;
  margin: auto;
}

swiper-slide {
  width: fit-content;
}

.get-started-cta {
  margin-bottom: 60px;
  margin-top: 60px;
  text-align: center;
  color: abstract.$colour-primary;
  .slug {
    margin: 0;
    padding: 0;
  }
  h2 {
    margin: 0 0 5px 0;
    padding: 0;
    margin-bottom: 60px;

    font-size: 38px;
    line-height: 45px;
    font-weight: bold;
  }
  .subtitle {
    margin: 0 0 5px 0;
    padding: 0;
  }
  .teaser {
    margin: 15px auto 15px auto;
    max-width: 400px;
    padding: 0;
  }
}

.mySwiper {
  --swiper-pagination-color: abstract.$colour-primary;
  --swiper-pagination-bullet-inactive-color: abstract.$colour-grey;
}

.charity-carousel-navigation {
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  gap: 7px;
  .button {
    cursor:pointer;
  }
}
