.b-container {
  max-width: 1000px;
  padding-top: 3rem;
  margin-bottom: 50px;
}

.auto-margin {
  margin: auto; //centres the button
}

.flex-wrapper {
  display: flex;
}

.basic-card-padding {
  padding: 0 10px;
  box-sizing: border-box;
}

div.b-container.single-entry {
  // @todo work out why this isn't working to center the cards when we only display one.
  margin: auto;
}
