<main>
  <div class="home-hero">
    <div class="b-container-sm">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
        <div class="home-hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
          <div fxLayout="column">
            <h1 class="b-rh-1 b-bold c-home-hero__heading">The leading online match funding platform</h1>
          </div>
          <div fxLayout="column">
            <p class="home-hero__description">The Big Give brings charities, philanthropists and the public together to multiply their impact. The Big Give has raised over £190m for thousands of great causes through the power of match funding.</p>
          </div>
        </div>
        <div class="home-hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
          <app-campaign-search-form
            [getDefaultSort]="getDefaultSort"
            [jumpToExplore]="true"
          ></app-campaign-search-form>
        </div>
      </div>
    </div>
  </div>

  <div class="promo-wrapper">
    <app-promoted-campaigns *ngIf="promotedCampaign1 && promotedCampaign2"
      [campaign1]="promotedCampaign1"
      [campaign2]="promotedCampaign2"
    ></app-promoted-campaigns>
  </div>

  <div *ngIf="campaigns.length > 0" class="highlights-wrapper">
    <h3 class="b-rh-1 b-bold" fxLayoutAlign="center">Charity campaigns</h3>
    <div class="b-container">
      <div class="c-grid">
        <div *ngFor="let campaign of campaigns">
          <app-campaign-card [campaign]="campaign"></app-campaign-card>
        </div>
      </div>
    </div>
  </div>

  <div class="about-container">
    <h3 class="b-rh-1 b-bold" fxLayoutAlign="center">About the Big Give</h3>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
      <div fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
        <div fxLayout="column">
          <div class="c-video">
            <iframe
              class="c-video__iframe b-w-100"
              src="https://www.youtube.com/embed/5RWDzzBg-go"
              frameborder="0"
              allow="encrypted-media"
              webkitallowfullscreen="true"
              mozallowfullscreen="true"
              allowfullscreen="true"></iframe>
          </div>
        </div>
      </div>
      <div class="home-hero-flex__child" fxLayout="column" fxFlex.xs="100" fxFlex="50" fxLayoutAlign="center">
        <p>The Big Give is the UK's #1 match funding platform. We specialise in bringing charities, philanthropists and the public together to multiply their impact.</p>
        <p>We run the Christmas Challenge, an annual match funding campaign which raises millions of pounds for good cases, as well as other match funding campaigns. We also provide a platform for charities to run their own fundraising campaigns.</p>
      </div>
    </div>
  </div>
</main>
