@import '../../abstract';

.auto-margin {
  margin: auto; //centres the button
}

.flex-wrapper {
  display: flex;
}

.basic-card-padding {
  padding: 0 10px;
  box-sizing: border-box;
}
.single-highlight-card {
  max-width: 650px;
  margin: auto;
}

swiper-slide {
  width: fit-content;
}

.get-started-cta {
  margin-bottom: 60px;
  margin-top: 60px;
  text-align: center;
  color: $colour-primary;
  .slug {
    margin: 0;
    padding: 0;
  }
  h2 {
    margin: 0 0 5px 0;
    padding: 0;
    margin-bottom: 60px;

    font-size: 38px;
    line-height: 45px;
    font-weight: bold;
  }
  .subtitle {
    margin: 0 0 5px 0;
    padding: 0;
  }
  .teaser {
    margin: 15px auto 15px auto;
    max-width: 400px;
    padding: 0;
  }
}

.charity-carousel-navigation {
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
  z-index: 1;
  .button {
    margin-left: 15px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 2.5px 10px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    svg {
      width: 15px;
      height: 15px;
      position: relative;
      top: 2.5px;
    }
    &.prev {
      left: 0;
      svg {
        left: -3px;
      }
    }
    &.next {
      right: 0;
      svg {
        left: -1px;
      }
    }
  }
}
