<main>
  <biggive-hero-image
    colour-scheme="primary"
    main-image="/assets/images/banner-general.jpg"
    [mainTitle]="mainTitle"
    teaser="Hi. We’re Big Give. We run match funding campaigns to make an extraordinary difference to the world’s big challenges."
    main-image-align-horizontal="right"
    main-image-align-vertical="center"
  ></biggive-hero-image>

  <div class="b-container">
    <biggive-grid [columnCount]="highlightCardsToShow.length">
      <biggive-basic-card *ngFor="let card of highlightCardsToShow"
                          [spaceBelow]='4'
                          [headingLevel]="2"
                          [buttonColourScheme]="'clear-primary'"
                          [class]="'basic-card-padding'"

                          [iconColour]="card.iconColor"
                          [backgroundImageUrl]="card.backgroundImageUrl.toString()"
                          [mainTitle]="card.headerText"
                          [subtitle]="card.bodyText"
                          [buttonLabel]="card.button.text"
                          [buttonUrl]="card.button.href.toString()"
      />
    </biggive-grid>

  </div>

  <biggive-page-section
    colour-scheme="primary"
    section-style-bottom="crop-right">

    <div style="padding: 50px 0 40px 0;">
      <biggive-call-to-action *ngIf="stats"
        default-text-colour="secondary"
        [mainTitle]="stats.totalRaisedFormatted"
        [subtitle]="'raised for over ' + stats.totalCountFormatted + ' charity projects since 2008'"
        subtitle-colour="white"
        secondary-button-label="Read about our impact"
        secondary-button-url="https://biggive.org/impact"
        secondary-button-colour-scheme="clear-white">
      </biggive-call-to-action>
    </div>

  </biggive-page-section>

  <biggive-page-section>
    <div style="text-align: center;">
      <biggive-heading
        heading-colour="primary"
        html-element="h2"
        size="3"
        text="We're proud to support thousands of incredible charities"
        >
      </biggive-heading>
    </div>
  </biggive-page-section>

  <!-- using section here not biggive-page-section, so we go full width -->
  <section>
    <biggive-grid
      column-count="6"
      [spaceBetween]="true">
      <biggive-image
        image-url="/assets/images/logo-the-passage-2023.png"
        image-alt-text="The Passage - Everyone deserves a place to call home"
        width="150"
      >
      </biggive-image>
      <biggive-image
        image-url="/assets/images/logo-dec.png"
        image-alt-text="Disasters Emergency Committee"
        width="150"
      >
      </biggive-image>
      <biggive-image
        image-url="/assets/images/logo-net.png"
        image-alt-text="National Emergencies Trust"
        width="150"
      >
      </biggive-image>
      <biggive-image
        image-url="/assets/images/logo-friends-of-the-earth.png"
        image-alt-text="Friends of the Earth"
        width="150"
      >
      </biggive-image>
      <biggive-image
        image-url="/assets/images/logo-borne.png"
        image-alt-text="Borne - Research to prevent premature birth"
        width="150"
      >
      </biggive-image>

    </biggive-grid>

    <div class="flex-wrapper">
      <div class="auto-margin">
        <biggive-button
          colour-scheme="primary"
          label="Join us today"
          url="https://biggive.org/charities"
          full-width="false">
        </biggive-button>
      </div>
    </div>
  </section>


  <biggive-page-section
    colour-scheme="primary"
    section-style-top="crop-left">
    <div style="padding: 50px 0 40px 0;">
      <biggive-video-feature
        default-text-colour="white"
        video-url="https://player.vimeo.com/video/860172535"
        main-title="About Big Give"
        main-title-colour="white"
        teaser="Simply put, we’re a Generosity Multiplier.  Big Give helps people match donations, multiply impact and make a lasting difference in the world together."
        teaser-colour="white"
        button-url="https://biggive.org/our-story"
        button-label="Learn more about us"
        button-colour-scheme="white"
        >
      </biggive-video-feature>
    </div>
  </biggive-page-section>

  <!-- blogs section - hide for now -->
  <!-- <biggive-page-section
    >
    <div style="padding: 50px 0 40px 0;">
      <biggive-heading
        heading-colour="primary"
        html-element="h2"
        size="3"
        text="What's new on Big Give"
        >
      </biggive-heading>

      <div class="flex-wrapper">
        <biggive-button
          space-below="0"
          colour-scheme="black"
          label="Blog Post"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>

        <biggive-button
          space-below="0"
          colour-scheme="tertiary"
          label="Report & Insights"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>

        <biggive-button
          space-below="0"
          colour-scheme="tertiary"
          label="Webinar"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>

        <biggive-button
          space-below="0"
          colour-scheme="tertiary"
          label="Case Studies"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>

        <biggive-button
          space-below="0"
          colour-scheme="tertiary"
          label="Press"
          url="#"
          full-width="false"
          size="small"
          rounded="false"
          >
        </biggive-button>
      </div>

      <biggive-grid
        column-count="4">
        <biggive-article-card
          space-below='4'
          background-colour="white"
          hover-background-colour="tertiary"
          text-colour="black"
          slug="• Blog Post   • Mental Health"
          date="September 2022"
          main-title="Sample main title"
          image-url="https://media.istockphoto.com/vectors/childish-seamless-dotted-pattern-with-colorful-doodle-letters-fun-vector-id1208462693"
          image-label="By Beth DC"
          button-url="/"
          button-label="Read blog now"
        >
        </biggive-article-card>

        <biggive-article-card
          space-below='4'
          background-colour="white"
          hover-background-colour="tertiary"
          text-colour="black"
          slug="• Blog Post   • Mental Health"
          date="September 2022"
          main-title="Sample main title"
          image-url="https://media.istockphoto.com/vectors/childish-seamless-dotted-pattern-with-colorful-doodle-letters-fun-vector-id1208462693"
          image-label="By Beth DC"
          button-url="/"
          button-label="Read blog now"
        >
        </biggive-article-card>

        <biggive-article-card
          space-below='4'
          background-colour="white"
          hover-background-colour="tertiary"
          text-colour="black"
          slug="• Blog Post   • Mental Health"
          date="September 2022"
          main-title="Sample main title"
          image-url="https://media.istockphoto.com/vectors/childish-seamless-dotted-pattern-with-colorful-doodle-letters-fun-vector-id1208462693"
          image-label="By Beth DC"
          button-url="/"
          button-label="Read blog now"
        >
        </biggive-article-card>

        <biggive-article-card
          space-below='4'
          background-colour="white"
          hover-background-colour="tertiary"
          text-colour="black"
          slug="• Blog Post   • Mental Health"
          date="September 2022"
          main-title="Sample main title"
          image-url="https://media.istockphoto.com/vectors/childish-seamless-dotted-pattern-with-colorful-doodle-letters-fun-vector-id1208462693"
          image-label="By Beth DC"
          button-url="/"
          button-label="Read blog now"
        >
        </biggive-article-card>

      </biggive-grid>
    </div>
  </biggive-page-section> -->

  <biggive-page-section>
    <biggive-call-to-action
      default-text-colour="primary"
      main-title="Ready to get started? Explore our match funded campaigns."
      main-title-size="2"
      primary-button-label="Donate today"
      primary-button-url="/explore"
      primary-button-colour-scheme="primary"
      secondary-button-label="Learn more about us"
      secondary-button-url="https://biggive.org/our-story"
      secondary-button-colour-scheme="clear-primary"
      space-above="6"
      space-below="6">
    </biggive-call-to-action>
  </biggive-page-section>
</main>
