<div class="c-card" *ngIf="campaign">
  <div class="c-banner">
    <img
      class="c-banner__image b-w-100"
      *ngIf="campaign.bannerUri"
      [src]="campaign.bannerUri + '?width=830'"
      alt=""
      role="presentation"
    >
  </div>

  <div class="c-card-body">
    <div class="c-campaign-target" *ngIf="campaign.target > 0">
      <h3 class="c-campaign-target__description b-grey b-light">Campaign target</h3>
      <p class="c-campaign-target__value b-bold">{{ campaign.target | currency : '£' : 'symbol' : '1.0-0' }}</p>
      <mat-progress-bar [value]="percentRaised"></mat-progress-bar>
    </div>
    <div class="c-campaign-raised" *ngIf="campaign.amountRaised > 0">
      <h3 class="c-campaign-raised__description b-grey b-light">Amount raised</h3>
      <p class="c-campaign-raised__value b-bold">{{ campaign.amountRaised | currency : '£' : 'symbol' : '1.0-0' }}</p>
    </div>
    <div fxLayout="row">
      <div class="c-campaign-status" *ngIf="campaign.status == 'Active'" fxFlex="50">
        <p class="c-campaign-status__description b-grey b-light">Time left</p>
        <p class="c-campaign-status__value b-bold">{{ campaign.endDate | timeLeft }}</p>
      </div>
      <div class="c-campaign-donations" fxFlex="50">
        <p class="c-campaign-donations__description b-grey b-light">Donations</p>
        <p class="c-campaign-donations__value b-bold">{{ campaign.donationCount | number:'1.0-0' }}</p>
      </div>
    </div>
    <p class="c-championed-by b-mb-0" *ngIf="campaign.championName">
      <a [routerLink]="'/' + campaign.parentRef + '/' + campaign.championRef">
        Championed by
        <span class="b-bold">{{campaign.championName}}</span>
      </a>
    </p>
  </div>
</div>
