<div class="c-card" *ngIf="campaign">
  <div class="c-banner">
    <img
      class="c-banner__image b-w-100"
      *ngIf="bannerUri"
      [src]="bannerUri"
      alt=""
      role="presentation"
    >
  </div>

  <div *ngIf="campaign.isMatched">
    <span class="c-badge">
      <img src="/assets/images/icon-tick.png" height="9" alt="Check mark"> Match funded
    </span>
    <div class="c-contour"></div>
  </div>

  <div class="c-card-body">
    <p class="c-country b-mb-0">{{ locations() }}</p>

    <div fxLayout="row" class="c-icon-lists">
      <ul fxFlex="50">
        <li *ngFor="let category of campaign.categories">
          <fa-icon [title]="category" [icon]="getCategoryIcon(category)"></fa-icon>
        </li>
      </ul>
      <ul fxFlex="50">
        <li *ngFor="let beneficiary of campaign.beneficiaries">
          <fa-icon [title]="beneficiary" [icon]="getBeneficiaryIcon(beneficiary)"></fa-icon>
        </li>
      </ul>
    </div>

    <div class="c-campaign-target" *ngIf="campaign.target > 0">
      <h2 class="c-campaign-target__description b-grey b-light">Campaign target</h2>
      <p class="c-campaign-target__value b-bold">{{ campaign.target | currency : '£' : 'symbol' : '1.0-0' }}</p>
      <mat-progress-bar [value]="percentRaised" *ngIf="campaign.amountRaised > 0"></mat-progress-bar>
    </div>
    <div class="c-campaign-raised" *ngIf="campaign.amountRaised > 0">
      <h2 class="c-campaign-raised__description b-grey b-light">Amount raised</h2>
      <p class="c-campaign-raised__value b-bold">{{ campaign.amountRaised | currency : '£' : 'symbol' : '1.0-0' }}</p>
    </div>
    <div fxLayout="row">
      <div class="c-campaign-status" *ngIf="campaign.status == 'Active'" fxFlex="50">
        <p class="c-campaign-status__description b-grey b-light">Time left</p>
        <p class="c-campaign-status__value b-bold">{{ campaign.endDate | timeLeft }}</p>
      </div>
      <div class="c-campaign-donations" fxFlex="50">
        <p class="c-campaign-donations__description b-grey b-light">Donations</p>
        <p class="c-campaign-donations__value b-bold">{{ campaign.donationCount | number:'1.0-0' }}</p>
      </div>
    </div>
    <p class="c-championed-by b-mb-0" *ngIf="campaign.championName">
      <a [routerLink]="'/' + campaign.parentRef + '/' + campaign.championRef">
        Championed by
        <span class="b-bold">{{campaign.championName}}</span>
      </a>
    </p>
  </div>
</div>
