:host {
  display: contents;
}

.container {
  @include all-round-shadow();
  @include standard-font();
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: $spacer-6;
  svg {
    margin-bottom: 15px;
  }
  .quote {
    background-image: url(/assets/images/quote.svg);
    background-position: center top;
    background-size: auto 45px;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: $screen-tablet-max) {
    padding: $spacer-5;

    svg {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (max-width: $screen-mobile-max) {
    padding: $spacer-4;
    @include font-size-small();

    svg {
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (max-width: $screen-mobile-small) {
    padding: $spacer-3;
  }
}
