@use '@angular/material' as mat;
@import '../../abstract';

#banner {
  display: none;
  @media #{$breakpoint-lg} {
    display: block;
    background-image: url(../../assets/images/banner-my-account.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
  }
}

h1 {
  color: $colour-secondary;
}

main {
  @include make-container;
  margin: 0 0;
}

div.my-account {
  box-sizing: border-box;
  color: white;
  background-color: $colour-primary;
  width: 100%;

  @media #{$breakpoint-lg} {
    padding-top: 0;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
    position: relative;
    top: -125px;
    width: 80%;
    margin: auto;
  }
}

#logout {
  width: 80%;
  text-align: center;
  margin: auto;
  @media #{$breakpoint-lg} {
    max-width: 10em;
  }
}

table#personal-details, table#paymentMethods {
  width: 100%;
  td {
    padding-bottom: 15px;
    @media #{$breakpoint-lg} {
      min-width: 150px;
    }
  }

  td.cardBrand {
    display: none;
    @media #{$breakpoint-lg} {
      display: table-cell;
    }
  }
  div.cardBrand {
    font-weight: bold;
    @media #{$breakpoint-lg} {
      display: none;
    }
  }
}

table#paymentMethods td:last-child {
  text-align: right;
}

