@import '../../abstract';
@import "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/banner-my-account.jpg);
}

.heading-wrapper {
  margin: auto;
  width: fit-content;
}

h1 {
  color: $colour-secondary;
}

a:link, a:visited, a:hover {
  color: white;
}

main > div {
  color: white;
  background-color: $colour-primary;
  width: 100%;

  @media #{$breakpoint-lg} {
    width: 80%; // this seems to be needed, not sure why the identicle rule in auth_common.scss isn't working.
  }
}

#logout {
  width: 80%;
  text-align: center;
  margin: auto;
  @media #{$breakpoint-lg} {
    max-width: 10em;
  }
}

.account-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.logout-row {
  display: flex;
  align-items: end;
  justify-content: right;
  gap: 17px;
}

table#personal-details, table#paymentMethods {
  width: 100%;
  td {
    padding-bottom: 15px;
    @media #{$breakpoint-lg} {
      min-width: 150px;
    }
    vertical-align: bottom;
  }

  td.cardUpdateButton {
    text-align: right;
  }

  td.cardUpdateButton, td.cardDeleteButton {
    display: flex;
    @media #{$breakpoint-xl} {
      display: table-cell;
    }
  }

  td.cardUpdateButton {
    padding-bottom: 0;
    @media #{$breakpoint-xl} {
      padding-bottom: 15px;
    }
  }

  td.cardExpiry {
    display: none;
    @media #{$breakpoint-lg} {
      display: table-cell;
    }
  }

  div.cardBrand {
    font-weight: bold;
  }
  div.cardExpiry {
    @media #{$breakpoint-lg} {
      display: none;
    }
  }
}

table#paymentMethods td:last-child {
  text-align: right;
}

.update-success {
  color: $colour-highlight;
}
