@use '@angular/material' as mat;
@import '../../abstract';

#banner {
  background-image: url(../../assets/images/banner-general.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
}

h1 {
  color: $colour-secondary;
}

main {
  @include make-container;
}

div.my-account {
  box-sizing: border-box;
  color: white;
  background-color: $colour-primary;

  @media #{$breakpoint-lg} {
    padding-top: 0;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
    position: relative;
    top: -125px;
    width: 80%;
    margin: auto;
  }
}

#logout {
  text-align: center;
  margin: auto;
}

table#personal-details, table#paymentMethods {
  td {
    padding-bottom: 15px;
    padding-right: 60px;
    min-width: 100px;
  }
}

