<form (ngSubmit)="search()" [formGroup]="searchForm">
  <mat-form-field color="accent">
    <mat-label for="term">Campaign or Charity</mat-label>
    <input matInput formControlName="term" id="term" type="text">
  </mat-form-field>

  <p>
    <mat-slide-toggle formControlName="summerGive19" id="summerGive19">
      Limit to Summer Give 2019
    </mat-slide-toggle>
  </p>

  <p>
    <button
      [disabled]="!this.searchForm.valid"
      mat-raised-button
      color="primary"
      type="submit"
    >Search</button>
  </p>
</form>
