<div class="c-search">
  <h2 class="c-search__heading b-uppercase b-semi-bold">Find a campaign</h2>
  <form role="search" (ngSubmit)="submit()" [formGroup]="searchForm">
    <mat-form-field class="b-w-100" color="accent">
      <mat-label for="term">Enter a keyword...</mat-label>
      <input #term matInput formControlName="term" id="term" type="text">
    </mat-form-field>

    <button
      class="b-w-100 b-db b-light"
      mat-raised-button
      color="accent"
      type="submit"
    >
      Search
    </button>
  </form>
</div>
