<div class="c-search">
  <h2 class="c-search__heading b-uppercase b-semi-bold">Find a charity</h2>
  <form role="search" (ngSubmit)="submit()" [formGroup]="searchForm">
    <mat-form-field class="b-w-100" color="primary">
      <mat-label for="term">Charity or project</mat-label>
      <input #term matInput [value]="search.selected?.term || ''" formControlName="term" id="term" type="text">
    </mat-form-field>

    <button
      class="b-w-100 b-db b-light"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Search
    </button>
  </form>
</div>
