@import '../../styles';

.campaign-search-form {
  max-width: 440px;
  @include make-card;
  color: black;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  @media #{$breakpoint-md} {
    padding: 1.5rem;
  }
}

h3 {
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0;
}

form {
  max-width: 440px;
}

mat-form-field {
  width: 100%;
}

p {
  margin: 0;
}

button {
  width: 100%;
  box-shadow: none;
}

.mat-raised-button {
  font-weight: 400;
}
