<main>
    <div *ngIf="isLoggedIn" id="loggedInHeader">
        <p>Logged in as {{userFullName}}</p>
    </div>
    <div class="b-container">
        <h3 class="b-rh-1 b-bold">Purchase Donation Credits</h3>

        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Your Donation Credits</ng-template>
                    <mat-form-field  class="form-field b-center size-lg" hideRequiredMarker>
                        <mat-label>Credit amount (£)</mat-label>
                        <input matInput placeholder="Enter amount in £" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <!-- <hr> -->
                    <h3>Tip the Big Give</h3>
                    <p class="tip-text">Big Give has a 0% platform fee. That means we're able to continue offering our services thanks to donors who leave an optional tip amount here:</p>
                    <mat-form-field >
                        <mat-label>Tip amount (%)</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let tipOption of tipOptions" [value]="tipOption">
                            {{tipOption}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p>£X donation to support the Big Give</p>

                    <p><strong>How does Big Give use tips?</strong></p>

                    <p>Big Give is a registered charity (1136547). We don't charge charities for using our platform;
                        we rely on the generosity of people who donate to leave a Voluntary Tip, which helps us run our match-funding campaigns.
                        <br>
                        Your tips will be going to:
                    </p>
                    <ul>
                        <li>Supporting our website and team, allowing charities to double their donations to good causes.</li>
                        <li>Providing match funds in our Anchor Match Fund. Through tips, charities will receive funding to launch their own match-funded campaign on Big Give.</li>
                    </ul>
                    <p>Thank you for your generosity! Your tip ensures that we can continue to support charities and causes that are important to you.</p>

                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Gift Aid</ng-template>
                <p><strong>Boost your donation by 25p of Gift Aid for every £1 you donate</strong></p>

                <p>I confirm that I am a UK tax payer and I understand that if I pay less income tax and/or capital gains tax in the current tax year than the amount of
                    Gift Aid claimed on all my donations it is my responsibility to pay the difference.</p>

                <p><a href="">Find out more about Gift Aid </a></p>
                
                <div id="giftAidOptIn">
                    <mat-checkbox (click)="giftAidToggle($event)" class="example-margin">Yes, I want to claim <strong>£X</strong> of Gift Aid.</mat-checkbox>
                </div>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Submit</ng-template>
                <p>Click submit to complete purchase</p>
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="buyCredits()">Buy Credits</button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
</main>