<div id="banner"></div>
<main>
  <div>
    <biggive-page-section>
      <div class="heading-wrapper">
        <biggive-heading
          space-above=0
          space-below=6
          html-element="h1"
          size="1"
          align="center"
          text="Donor Registration"
        ></biggive-heading>
      </div>
      <p>
        Registering for a Donor Account is quick and easy.
      </p>

      @if (redirectPath === transferFundsPath) {
      <p>
        When you have registered, you will be shown the Transfer Funds page. Here, you can:
      </p>

      <ul>
        <li>Set the amount you want to donate to the charities you want to support</li>

        <li>Choose whether you would like to contribute towards Big Give’s platform fees and the Anchor Match Fund</li>

        <li>Choose whether Gift Aid can be claimed on your donation to Big Give</li>

        <li>Choose whether you would like to join Big Give’s mailing list</li>
      </ul>
      }

      <form
        [formGroup]="registrationForm"
        (keydown.enter)="register()"
      >

        <biggive-text-input spaceBelow="4">
          <label slot="label" for="firstName">First Name *</label>
          <input
            slot="input"
            matInput type="text" id="firstName" formControlName="firstName">
        </biggive-text-input>
        <biggive-text-input spaceBelow="4">
          <label slot="label" for="lastName">Last Name *</label>
          <input
            slot="input"
            matInput type="text" id="lastName" formControlName="lastName">
        </biggive-text-input>
        <biggive-text-input spaceBelow="4">
          <label slot="label" for="emailAddress">Email address *</label>
          <input
            slot="input"
            matInput type="email" id="emailAddress" formControlName="emailAddress" autocapitalize="off">
        </biggive-text-input>
        <biggive-text-input spaceBelow="4">
          <label slot="label" for="password">Password *</label>
          <input
            slot="input"
            matInput type="password" id="password" formControlName="password">
        </biggive-text-input>

        <div aria-live="polite">
          @if (errorHtml) {
            <p class="error" aria-live="assertive">
              Registration error: <span [innerHtml]="errorHtml"></span>
            </p>
          }
          @if (error) {
            <p class="error" aria-live="assertive">
              {{ error }}
            </p>
          }
        </div>
      </form>
      <div class="actions">
        <!-- Sitekey below is shared between environments and necessarily exposed in FE, so should be fine to hard-code -->
        <div
          class="frc-captcha"
          [attr.data-sitekey]="friendlyCaptchaSiteKey"
          data-puzzle-endpoint="https://api.friendlycaptcha.com/api/v1/puzzle, https://eu-api.friendlycaptcha.eu/api/v1/puzzle"
          #frccaptcha
        ></div>
        <div id="register-button">
          <div aria-live="polite">
            @if (processing) {
              <mat-spinner color="primary" diameter="30" aria-label="Processing"></mat-spinner>
            }
          </div>

          @if (!processing) {
            <biggive-button
              space-above="5"
              spaceBelow="0"
              colour-scheme="primary"
              label="Register"
              full-width="true"
              disabled="!registrationForm.valid"
              size="medium"
              rounded="false"
              (click)="register()"
            />
          }
        </div>
      </div>
    </biggive-page-section>
  </div>
</main>
