@import "../../assets/scss/auth-common";

#banner {
  background-image: url(../../assets/images/grey-header.jpg);
}

form {
  margin-top: 2em;
}

div.frc-captcha {
  margin: auto;
  background: none;
  border: 2px solid $colour-primary;
}
