<div id="banner"></div>
<main>
  <div>
    <biggive-page-section>
      <div class="heading-wrapper">
        <biggive-heading
          space-above=0
          space-below=6
          html-element="h1"
          size="1"
          align="center"
          text="Donor Registration"
        ></biggive-heading>
      </div>
      @if (redirectPath.startsWith('/regular-giving')) {
        <p>Please register for a a Big Give donation account to set up your regular giving agreement.</p>
        <p>You will be able to log-in any time to see your donations or cancel the agreement.</p>
      } @else if (! this.emailVerificationToken){
      <p>
        Registering for a Donor Account is quick and easy.
      </p>
      }

      @if (redirectPath === transferFundsPath) {
      <p>
        When you have registered, you will be shown the Transfer Funds page. Here, you can:
      </p>

      <ul>
        <li>Set the amount you want to donate to the charities you want to support</li>

        <li>Choose whether you would like to contribute towards Big Give’s platform fees and the Anchor Match Fund</li>

        <li>Choose whether Gift Aid can be claimed on your donation to Big Give</li>

        <li>Choose whether you would like to join Big Give’s mailing list</li>
      </ul>
      }

      @if (verificationLinkSentToEmail && !verificationCodeSupplied) {
        <app-verify-email
          [emailAddress]="verificationLinkSentToEmail"
          [error]="error"
          (codeEnteredEvent)="verificationCodeEntered($event)"
        >

        </app-verify-email>

      } @else if (this.emailVerificationToken?.valid) {
        <p>
          For a smoother giving experience create a Big Give account. Your information will be saved securely, making
          future donations quicker and easier.
        </p>

        <p>
          <strong>Your payment card</strong> will be saved for reuse, if you selected
          "Save payment details for future purchases" when making your donation.
          It is held securely only with Stripe.
          <a href="https://stripe.com/docs/security/stripe" target="_blank">
            <mat-icon class="b-va-bottom" aria-hidden="false" aria-label="Open in new tab">open_in_new</mat-icon>
            Learn more about Stripe
          </a>.
        </p>

        <form
          [formGroup]="registerPostDonationForm"
          (keydown.enter)="registerPostDonation()"
        >
          <div class="savedDetails">
          <div class="label">
            Email Address</div>
            <div class="value"> <strong>{{this.emailVerificationToken?.email_address}}</strong>
            </div>
          <div class="label">
            Name
          </div>
            <div class="value"> {{this.emailVerificationToken?.first_name}} {{this.emailVerificationToken?.last_name}}
            </div>

          </div>

          <biggive-text-input spaceBelow="4">
            <label slot="label" for="password">Password *</label>
            <input
              slot="input"
              matInput type="password" id="password-post-donation" formControlName="password">
          </biggive-text-input>

          <div aria-live="polite">
            @if (errorHtml) {
              <p class="error" aria-live="assertive">
                Registration error: <span [innerHtml]="errorHtml"></span>
              </p>
            }
            @if (error) {
              <p class="error" aria-live="assertive">
                {{ error }}
              </p>
            }
          </div>

          <div class="register-button-container">
            <div aria-live="polite">
              @if (processing) {
                <mat-spinner color="primary" diameter="30" aria-label="Processing"></mat-spinner>
              }
            </div>

            @if (!processing) {
              <biggive-button
                id="register-button-post-donation"
                space-above="5"
                spaceBelow="0"
                colour-scheme="primary"
                label="Register"
                full-width="true"
                disabled="!registrationForm.valid"
                size="medium"
                rounded="false"
                (click)="registerPostDonation()"
              />
            }
          </div>

        </form>
      } @else if (this.emailVerificationToken && ! this.emailVerificationToken.valid) {
        <p>Sorry, we couldn't find your details. Your account registration link may have expired.</p>
        <p>
          <!-- href not routerlink because this component was built with a bit too much of an imperative style
               and won't react to the change params properly if we allow angular to re-use it.
          -->
          <a href="/register">Register a new Big Give account</a>
        </p>
      } @else {
      <form
        [formGroup]="registrationForm"
        (keydown.enter)="register()"
      >

        @if (readyToTakeAccountDetails) {
        <biggive-text-input spaceBelow="4">
          <label slot="label" for="firstName">First Name *</label>
          <input
            slot="input"
            matInput type="text" id="firstName" formControlName="firstName">
        </biggive-text-input>
        <biggive-text-input spaceBelow="4">
          <label slot="label" for="lastName">Last Name *</label>
          <input
            slot="input"
            matInput type="text" id="lastName" formControlName="lastName">
        </biggive-text-input>
        }
        @if (! verificationLinkSentToEmail) {
        <biggive-text-input spaceBelow="4">
          <label slot="label" for="emailAddress">Email address *</label>
          <input
            slot="input"
            matInput type="email" id="emailAddress" formControlName="emailAddress" autocapitalize="off">
        </biggive-text-input>
        } @else {
          <div>
          Email Address: {{verificationLinkSentToEmail}}
          </div>
        }

        @if (readyToTakeAccountDetails) {
        <biggive-text-input spaceBelow="4">
          <label slot="label" for="password">Password *</label>
          <input
            slot="input"
            matInput type="password" id="password" formControlName="password">
        </biggive-text-input>
        }

        <div aria-live="polite">
          @if (errorHtml) {
            <p class="error" aria-live="assertive">
              Registration error: <span [innerHtml]="errorHtml"></span>
            </p>
          }
          @if (error) {
            <p class="error" aria-live="assertive">
              {{ error }}
            </p>
          }
        </div>
      </form>
      <div class="actions">
        <!-- Sitekey below is shared between environments and necessarily exposed in FE, so should be fine to hard-code -->
        <div
          class="frc-captcha"
          [attr.data-sitekey]="friendlyCaptchaSiteKey"
          data-puzzle-endpoint="https://api.friendlycaptcha.com/api/v1/puzzle, https://eu-api.friendlycaptcha.eu/api/v1/puzzle"
          #frccaptcha
        ></div>
        <div class="register-button-container">
          <div aria-live="polite">
            @if (processing) {
              <mat-spinner color="primary" diameter="30" aria-label="Processing"></mat-spinner>
            }
          </div>

          @if (!processing) {
            <!-- button id below required by regression tests -->
            <biggive-button
              id="register-button"
              space-above="5"
              spaceBelow="0"
              colour-scheme="primary"
              [label]="(flags.requireEmailVerification && !verificationCodeSupplied) ? 'Continue' : 'Register'"
              full-width="true"
              disabled="!registrationForm.valid"
              size="medium"
              rounded="false"
              (click)="register()"
            />
          }
        </div>
      </div>
      }
      @if (!emailVerificationToken) {
      <hr style="margin: 20px auto;">
      Already have an account? <a href="{{loginLink}}">Login here</a>
      }
    </biggive-page-section>
  </div>
</main>
