:host {
  display: contents;

}

.header {
  @include standard-font();
  @include lower-shadow();
  position: relative;
  z-index: 99;
}

.nav {
  margin: 0;
  padding: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  ul {
    margin: auto 0;
    padding: 0;
    li {
      margin: 0 $spacer-3 0 0;
      padding: 0 $spacer-3 0 0;
      display: inline-block;
      font-size: 18px;
      line-height: 20px;
      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
      a {
        color: $colour-black;
        text-decoration: none;
        display: inline-block;
        &.icon-green {
          padding-left: 20px;
          background-image: url(/assets/images/triangles-combined.svg);
          background-repeat: no-repeat;
          background-size: auto 10px;
          background-position: left center;;
        }
      }
    }
  }
}

.row-top {
  padding: $spacer-2 $spacer-4;
  background-color: $colour-primary;
  display: flex;
  .social-icon-wrap {
    margin-right: $spacer-3;
  }
  .nav-secondary {
    margin-left: auto;
    ul li {
      border-right: 1px solid $colour-white;
      &:last-child {
        border-right: 0;
      }
      a {
        color: $colour-white;
        &:hover {
          border-bottom-color: $colour-white;
          color: $colour-white;
        }
      }
    }
  }
  .social-icon-wrap {
    display: flex;
    .social-icon-item {
      margin-right: $spacer-3;
    }
  }
}

.row-bottom {
  padding: $spacer-3 $spacer-4;
  background-color: $colour-white;
  display: flex;;
  .logo-wrap {
    width: 200px;
    margin-right: auto;
    position: relative;
    z-index: 101;
    a {
      display: block;
      svg {
        height: 100%;
        width: auto;
      }
    }
  }
  .nav-toggle {
    display: none;
  }
  .nav-primary {
    font-weight: 700;
    margin: $spacer-1 0;
    li.icon-colour-primary a {
      background-image: url('/assets/images/biggive-double-triangle-primary.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    li.icon-colour-secondary a {
      background-image: url('/assets/images/biggive-double-triangle-secondary.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    li.icon-colour-tertiary a {
      background-image: url('/assets/images/biggive-double-triangle-tertiary.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    li.icon-colour-brand-1 a {
      background-image: url('/assets/images/biggive-double-triangle-brand-1.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    li.icon-colour-brand-2 a {
      background-image: url('/assets/images/biggive-double-triangle-brand-2.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    li.icon-colour-brand-3 a {
      background-image: url('/assets/images/biggive-double-triangle-brand-3.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    li.icon-colour-brand-4 a {
      background-image: url('/assets/images/biggive-double-triangle-brand-4.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    li.icon-colour-brand-5 a {
      background-image: url('/assets/images/biggive-double-triangle-brand-5.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
    li.icon-colour-brand-6 a {
      background-image: url('/assets/images/biggive-double-triangle-brand-6.svg');
      background-position: left center;
      background-size: 20px auto;
      background-repeat: no-repeat;
      padding-left: 25px;
    }
  }
}


@media screen and (min-width: 1051px) {

.nav {
  ul {
    li {
      position: relative;

      // Don't make menu section hover-only links show a pointer cursor.
      a[href=""]:hover {
        cursor: default;
      }

      a:hover {
        color: $colour-primary;
      }

      ul {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: $spacer-3 $spacer-5 $spacer-4 $spacer-5;
        background-color: $colour-white;
        @include corner-clip-small-bottom-left();
        @include lower-shadow();
        li {
          display: block;
          font-weight: normal;
          padding: 0;
          margin: $spacer-2 0 $spacer-2 0;
          white-space: nowrap;
          text-align: left;
          font-weight: normal;
          @include  font-size-small();
        }
      }
      &:hover ul {
        display: block;
      }

    }
  }
}



}


@media screen and (max-width: 1050px) {
  .row-top {
    display: none;
    &[data-visible=true] {
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column-reverse;
      z-index: 100;
      background-color: transparent;
      .nav-secondary {
        margin: 0;
        li {
          border: 0;
          margin: 0 0 10px 0;
          padding: 0;
          width: 100%;
          a {
            @include button();
            @include button-primary();
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
    .social-icon-wrap {
      margin: auto;
    }
  }
  .row-bottom {
    padding: $spacer-3 $spacer-3;
    .logo-wrap {
      height: 30px;
    }
    .nav-toggle {
      display: block;
      margin-left: auto;
      width: 45px;
      height: 30px;
      position: relative;
      z-index: 101;
      background-image: url(/assets/images/menu.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
      &.active {
        background-image: url(/assets/images/cross.svg?1);
        display: block;
        background-color: $colour-primary;
        background-size: 50% 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .nav-primary {
      display: none;
      position: fixed;
      z-index: 99;
      top: 0;
      height: 100vh;
      padding-top: 100px;
      left: 0;
      right: 0;
      margin: 0;
      background-color: $colour-grey-extra-light;
      &[data-visible=true] {
        display: block;
      }
      ul {
        li {
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          padding-bottom: $spacer-2;
          margin-bottom: $spacer-2;
          border-bottom: 1px solid $colour-grey-light;
          padding-left: $spacer-4;
          padding-right: $spacer-4;
          ul {
            margin-top: $spacer-3;
            display: none;
            li {
              font-weight: normal;
              border-bottom: 0;
              @include font-size-small();
            }
          }
          &:hover ul {
            display: block;
          }
        }
      }
    }
  }
}
